<div class="box col-sm-11 {{color}}">
  <h1>
    {{ boxMeta.operationID }}
  </h1>

  <!-- For documented operations. -->
  <p help-id="{{ boxMeta.operationID }}"
     remove-header="yes"
     scalars="scalars"
     class="description"></p>

  <p ng-if="boxMeta.parameters.length === 0" class="text-center">
    No parameters
  </p>
  <form ng-if="boxMeta.parameters" class="form-horizontal" ng-submit="onBlur()">
    <operation-parameters
        box="box"
        meta="boxMeta"
        output="paramValues"
        parametric="parametricParams"
        editable="true"
        on-blur="onBlur()">
    </operation-parameters>
    <input type="submit" ng-show="false"><!-- For ng-submit. -->
  </form>
</div>

