<div class="box col-sm-11 {{color}}">
  <h1>
    {{ boxMeta.id }}
  </h1>

  <!-- For documented operations. -->
  <p ng-if="boxMeta.htmlId && !boxMeta.description"
     help-id="{{ boxMeta.htmlId }}"
     remove-header="yes"
     scalars="scalars"
     class="description"></p>

  <!-- For custom boxes. -->
  <p class="description"> {{ boxMeta.description }} </p>

  <p ng-if="boxMeta.parameters.length === 0" class="text-center">
    No parameters
  </p>
  <form ng-if="boxMeta.parameters" class="form-horizontal" ng-submit="onBlur()">
    <operation-parameters
        box="box"
        meta="boxMeta"
        output="plainParamValues"
        parametric="parametricParamValues"
        pflags="parametricFlags"
        editable="true"
        on-blur="onBlur()">
    </operation-parameters>
    <input type="submit" ng-show="false"><!-- For ng-submit. -->
  </form>
</div>

