<div class="operation-selector" ng-class="{ open: category || searching }">
  <div class="categories">
    <!-- The real category buttons: -->
    <div class="category yellow"
      ng-class="{ active: searching }"
      id="operation-search"
      drop-tooltip="Search"
      drop-tooltip-position="left middle"
      drop-tooltip-enable="true"
      ng-click="searchClicked()">
      <i class="glyphicon glyphicon-search"></i>
    </div>
    <div ng-repeat="cat in categories"
      class="category {{cat.color}}"
      ng-class="{ active: category === cat }"
      drop-tooltip-position="left middle"
      drop-tooltip-enable="true"
      drop-tooltip="{{cat.title}}"
      ng-click="clickedCat(cat)">
      <span ng-if="cat.icon" class="fa fa-{{ cat.icon }}"></span>
      <span ng-if="!cat.icon">{{cat.title[0]}}</span>
    </div>
  </div>

  <div ng-show="category" class="box {{category.color}}">
    <h1>{{category.title}}</h1>
    <operation-selector-entry ng-repeat="op in currentCatOps"
      op="op"
      name="op.operationId"
      ondrag="localOndrag(op, $event)"
      ng-if="!category.browseByDir">
    </operation-selector-entry>
    <operation-tree
      ops="currentCatOps"
      ondrag="localOndrag(op, $event)"
      ng-if="category.browseByDir">
    </operation-tree>
  </div>

  <div ng-show="searching" class="panel box yellow">
    <h1><input id="filter" ng-model="opFilter" ng-keyup="filterKey($event)"></h1>
    <operation-selector-entry ng-repeat="op in filterAndSort(boxes, opFilter)"
        op="op"
        name="op.operationId"
        ondrag="localOndrag(op, $event)"
        ng-class="{ highlight: $index === searchSelection }">
    </operation-selector-entry>
  </div>
</div>
