<div class="popup popup-type-{{ popupModel.content.type }}"
    ng-mousedown="popupModel.bringToFront(); $event.stopPropagation();"
    id="{{ popupModel.id | id }}"
    ng-style="{
        'left': popupModel.x + 'px',
        'top': popupModel.y + 'px',
    }">
  <div
      class="popup-head"
      ng-mousedown="popupModel.onMouseDown($event)">
    {{popupModel.title}}
    <div class="clicky pull-right glyphicon glyphicon-remove"
        ng-click="popupModel.close(); event.stopPropagation();"
        ng-mousedown="$event.stopPropagation()"
        id="close-popup"
        drop-tooltip="Close&nbsp;popup">
    </div>
  </div>
  <div class="popup-content"
    ng-style="{
        'width': popupModel.width + 'px',
        'height': popupModel.height + 'px',
    }">
    <box-editor ng-if="popupModel.content.type === 'box'"
        workspace="workspace"
        box-id="popupModel.content.boxId">
    </box-editor>
    <state-view ng-if="popupModel.content.type === 'plug'"
        workspace="workspace"
        plug="workspace.getOutputPlug(popupModel.content.boxId, popupModel.content.plugId)"
        popup-model="popupModel">
    </state-view>
  </div>
</div>
