<div class="popup"
    ng-mousedown="popupModel.bringToFront(); $event.stopPropagation();"
    ng-mousemove="popupModel.onMouseMove($event); $event.stopPropagation();"
    id="{{popupModel.id}}"
    ng-style="{
        'left': popupModel.x + 'px',
        'top': popupModel.y + 'px',
    }">
  <div
      class="popup-head"
      ng-mousedown="popupModel.onMouseDown($event)">
    {{popupModel.title}}
    <div class="clicky pull-right glyphicon glyphicon-remove"
        ng-click="popupModel.close(); event.stopPropagation();"
        ng-mousedown="$event.stopPropagation()"
        id="close-popup"
        tooltip="Close&nbsp;popup"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
    </div>
  </div>
  <div class="popup-content"
    ng-style="{
        'width': popupModel.width + 'px',
        'height': popupModel.height + 'px',
    }">
    <box-editor ng-if="popupModel.content.type === 'box'"
        workspace="workspace"
        box-id="popupModel.content.boxId">
    </box-editor>
    <state-view ng-if="popupModel.content.type === 'plug'"
        workspace="workspace"
        box-id="popupModel.content.boxId"
        popup-model="popupModel"
        plug-id="popupModel.content.plugId">
    </state-view>
    <visualization-popup
        workspace="workspace"
        ng-if="popupModel.content.type === 'visualization'"
        box="popupModel.content.box"
        state-id="popupModel.content.stateId"
        popup-model="popupModel">
    </visualization-popup>
  </div>
</div>
