<div class="btn-group pull-left" ng-if="state.kind === 'project'">
    <label class="btn btn-default save-as-snapshot-box"
           ng-click="createSnapshot(saveAsName)"
           tooltip="Click the icon to snapshot state as {{saveAsName}}"
           tooltip-append-to-body="true"
           tooltip-placement="bottom">
        <form ng-submit="createSnapshot(saveAsName)" style="display: inline;">
            <input class="form-control save-as" ng-disabled="saving"
                   ng-model="saveAsName" ng-click="$event.stopPropagation()">
        </form>
        <i class="glyphicon glyphicon-camera"></i>
    </label>
</div>
<project-state-view 
    state-id="workspace.selectedStateId"
    ng-if="workspace.selectedStateKind === 'project'">
</project-state-view>

