<!--<progressbar ng-show="!table.$resolved" value="100" class="progress-striped active">-->
  <!--Loading table sample...-->
<!--</progressbar>-->
<!--<progressbar ng-show="table.$error" type="danger" value="100"-->
             <!--ng-click="util.reportRequestError(table, 'Failed to load table sample.')">-->
  <!--Failed to load table sample. Click to report error.-->
<!--</progressbar>-->
<div class="col-sm-12">
  <h3>Table sample</h3>
  <div>
    <span>maximum number of rows in sample: {{sampleRows}}</span>
    <button class="btn btn-primary" id="get-sample-button" ng-click="showMoreRows()">
      Show {{ showMoreRowsIncrement() }} more rows
    </button>
    <span id="table-sample-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>
  </div>
  <table ng-if="table.data" class="table table-striped table-bordered" id="table-sample">
    <thead>
      <tr>
        <th ng-repeat="col in table.header" ng-click="sort.select($index)">
          <span>{{col.name}}</span>
          <br>
          <span class="no-break">
            <span class="column-type">{{col.dataType}}</span>
            <span class="ordering">
              <i ng-show="sort.column === $index.toString()"
                 class="glyphicon glyphicon-triangle-{{ sort.reverse ? 'top' : 'bottom' }}"></i>
            </span>
          </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-if="!sort.column"
          ng-repeat="row in table.data">
        <td ng-repeat="item in row track by $index" ng-class="{ 'is-null': !item.defined }">
          {{ item.string }}</td>
      </tr>
      <tr ng-if="sort.column"
          ng-repeat="row in table.data | orderBy:sortKey:sort.reverse track by $index">
        <td ng-repeat="item in row track by $index" ng-class="{ 'is-null': !item.defined }">
          {{ item.string }}</td>
      </tr>
      </tbody>
  </table>
</div>
