<div id="workspace-header">
  <span id="workspace-name">{{workspace.name}}</span>
  <user-menu info="list" direction="dropdown" class="pull-right user-menu-in-toolbar"></user-menu>
  <div class="btn-group pull-right">
    <button class="btn btn-default"
         id="save-selection-as-custom-box"
         ng-click="saveSelectionAsCustomBoxInputOpen = true"
         ng-disabled="selectedBoxIds.length === 0"
         drop-tooltip="Save&nbsp;selection as&nbsp;custom&nbsp;box"
         drop-tooltip-placement="bottom">
      <i class="fa fa-superpowers"></i>
    </button>
    <div class="pull-left">
      <inline-input
        placeholder="Save as..."
        open="saveSelectionAsCustomBoxInputOpen"
        onsubmit="saveSelectionAsCustomBox(input)"></inline-input>
    </div>
    <button class="btn btn-default"
         id="copy-boxes"
         ng-click="copyBoxes()"
         ng-disabled="selectedBoxIds.length === 0"
         drop-tooltip="Copy&nbsp;boxes (Ctrl-C)"
         drop-tooltip-placement="bottom">
      <i class="fa fa-copy"></i>
    </button>
    <button class="btn btn-default"
         id="paste-boxes"
         ng-click="pasteBoxes()"
         drop-tooltip="Paste&nbsp;boxes (Ctrl-V)"
         drop-tooltip-placement="bottom">
      <i class="fa fa-paste"></i>
    </button>
    <button class="btn btn-default"
         id="delete-selected-boxes"
         ng-click="deleteSelectedBoxes()"
         ng-disabled="selectedBoxIds.length === 0"
         drop-tooltip="Delete&nbsp;selected&nbsp;boxes (Delete)"
         drop-tooltip-placement="bottom">
      <i class="fa fa-trash-o"></i>
    </button>
    <button class="btn btn-default"
         id="select-mode-on"
         ng-click="dragMode = 'select'"
         ng-class="{ active: dragMode === 'select' }"
         drop-tooltip="Select&nbsp;boxes&nbsp;on&nbsp;drag"
         drop-tooltip-placement="bottom">
      <i class="fa fa-mouse-pointer"></i>
    </button>
    <button class="btn btn-default"
         id="pan-mode-on"
         ng-click="dragMode = 'pan'"
         ng-class="{ active: dragMode === 'pan' }"
         drop-tooltip="Pan&nbsp;workspace&nbsp;on&nbsp;drag"
         drop-tooltip-placement="bottom">
      <i class="fa fa-hand-paper-o"></i>
    </button>
    <button class="btn btn-default"
         id="undo"
         ng-click="workspace.undo()"
         ng-disabled="!workspace.canUndo()"
         drop-tooltip="Undo (Ctrl-Z)"
         drop-tooltip-placement="bottom">
      <i class="glyphicon glyphicon-backward"></i>
    </button>
    <button class="btn btn-default"
         id="redo"
         ng-click="workspace.redo()"
         ng-disabled="!workspace.canRedo()"
         drop-tooltip="Redo (Ctrl-Y)"
         drop-tooltip-placement="bottom">
      <i class="glyphicon glyphicon-forward"></i>
    </button>
    <a class="btn btn-default"
         href="#/"
         id="close-workspace"
         drop-tooltip="Close&nbsp;workspace"
         drop-tooltip-placement="bottom">
      <i class="glyphicon glyphicon-remove"></i>
    </a>
  </div>
</div>

<div
    id="workspace-drawing-board"
    ng-mousemove="onMouseMove($event)"
    ng-mouseup="onMouseUp($event)"
    ng-mousedown="onMouseDown($event)">
  <svg>
    <g id="drawing-board"
       ng-attr-transform="{{ workspaceTransform() }}">

      <!-- start box -->
      <g ng-repeat="box in boxes()"
          ng-mousedown="onMouseDownOnBox(box, $event)"
          ng-mouseup="onMouseUpOnBox(box, $event)"
          ng-attr-transform="{{ box.mainPosTransform() }}"
          class="box"
          id="{{ box.instance.id }}"
          ng-class="{ 'selected': selectedBoxIds.includes(box.instance.id) }">

        <!-- start list of I/O plugs -->
        <g ng-repeat="direction in ['inputs', 'outputs']"
          id="{{ direction }}">
          <g ng-repeat="plug in box[direction]"
              ng-attr-transform="{{ plug.posTransform }}"
              id="{{ plug.id }}">
            <text x="10">{{ plug.id }}</text>
            <circle ng-attr-r="{{ plug.radius }}"
                  class="io-circle"
                  ng-class="{'in-progress': plug.inProgress,
                            'colored-output': plug.progressColor || plug.error }"
                  ng-attr-fill="{{ plug.error ? 'red' : plug.progressColor }}"
                  ng-attr-drop-tooltip="{{ plug.error }}"
                  ng-mousedown="onMouseDownOnPlug(plug, $event)"
                  ng-mouseup="onMouseUpOnPlug(plug, $event)"
                  ng-click="onClickOnPlug(plug, $event)">
            </circle>
          </g>
        </g>
        <!-- end list of I/O plugs -->

        <rect
            class="box-main"
            ng-attr-width="{{box.width}}"
            ng-attr-height="{{box.height}}">
        </rect>

        <text x="5" y="15">
          {{box.summary}}
        </text>
        <text x="5" y="50" ng-show="box.commentLines">
          <tspan xml:space="preserve" font-family="monospace" x="5" dy="15"
                 ng-repeat="line in box.commentLines track by $index">{{line}}
          </tspan>
        </text>
      </g>
      <!-- end box -->
      <g>
      <rect
        class="selection-box"
        ng-attr-x="{{selection.leftX}}"
        ng-attr-y="{{selection.upperY}}"
        ng-attr-width="{{selection.width}}"
        ng-attr-height="{{selection.height}}">
      </rect>
    </g>
      <!-- start arrow -->
      <g ng-repeat="arrow in arrows()">
        <line class="arrow"
            id="{{ arrow.src.boxId }}-{{ arrow.src.id }}-{{ arrow.dst.boxId }}-{{ arrow.dst.id }}"
            ng-attr-x1="{{arrow.x1()}}"
            ng-attr-y1="{{arrow.y1()}}"
            ng-attr-x2="{{arrow.x2()}}"
            ng-attr-y2="{{arrow.y2()}}"></line>
      </g>
      <!-- end arrow -->

      <!-- start pulled arrow -->
      <g ng-if="pulledPlug && mouseLogical">
        <line class="arrow pulled-arrow"
            ng-attr-x1="{{pulledPlug.cx()}}"
            ng-attr-y1="{{pulledPlug.cy()}}"
            ng-attr-x2="{{mouseLogical.x}}"
            ng-attr-y2="{{mouseLogical.y}}">
        </line>
      </g>

      <polygon
        class="popup-trail"
        ng-repeat="popup in popups"
        ng-attr-points="{{ popup.trail(pageToLogical, logicalToPage, workspace) }}">
      </polygon>

    </g>
  </svg>

  <popup popup-model="popup"
      workspace="workspace"
      ng-repeat="popup in popups">
  </popup>

</div>
