<div
    class="popup popup-type-{{ popupModel.content.type }}{{ popupModel.meta ? '-meta' : '' }}"
    ng-mousedown="popupModel.bringToFront($event); $event.stopPropagation();"
    id="{{ popupModel.id | id }}"
    ng-style="{
        'left': popupModel.clipX() + 'px',
        'top': popupModel.clipY() + 'px',
    }">
  <div
      class="popup-head"
      ng-mousedown="popupModel.onMouseDown($event)">
    {{popupModel.title}}
    <div class="clicky pull-right glyphicon glyphicon-remove"
        ng-click="popupModel.close(); event.stopPropagation();"
        ng-mousedown="$event.stopPropagation()"
        id="close-popup"
        drop-tooltip="Close&nbsp;popup (ESC)">
    </div>
    <div
        class="clicky pull-right glyphicon glyphicon-{{ popupModel.meta ? 'arrow-left' : 'cog' }}"
        ng-if="popupModel.content.type === 'box'"
        ng-click="popupModel.toggleMeta(); event.stopPropagation();"
        ng-mousedown="$event.stopPropagation()"
        id="toggle-meta"
        drop-tooltip="{{ popupModel.meta ? 'Change&nbsp;parameters' : 'Change&nbsp;metadata' }}">
    </div>
    <div
        class="clicky pull-right glyphicon glyphicon-gift"
        ng-class="{ active: popupModel.inWizard(workspace) }"
        ng-show="popupModel.isWizard(workspace) && !popupModel.meta"
        ng-click="popupModel.toggleWizard(workspace); event.stopPropagation();"
        ng-mousedown="$event.stopPropagation()"
        id="toggle-wizard"
        drop-tooltip="{{
          popupModel.inWizard(workspace) ?
          'Remove&nbsp;from&nbsp;wizard' :
          'Add&nbsp;to&nbsp;wizard' }}">
    </div>
  </div>
  <div class="popup-content"
    ng-style="{
        width: popupModel.width,
        height: popupModel.height,
        maxHeight: popupModel.maxHeight,
    }">
    <box-editor ng-if="popupModel.content.type === 'box' && !popupModel.meta"
        workspace="workspace"
        box-id="popupModel.content.boxId">
    </box-editor>
    <box-metaeditor ng-if="popupModel.content.type === 'box' && popupModel.meta"
        popup-model="popupModel"
        workspace="workspace"
        box-id="popupModel.content.boxId">
    </box-metaeditor>
    <state-view ng-if="popupModel.content.type === 'plug'"
        interactive="true"
        workspace="workspace"
        plug="workspace.getOutputPlug(popupModel.content.boxId, popupModel.content.plugId)"
        popup-model="popupModel">
    </state-view>
  </div>
</div>
