<div
    id="workspace-drawing-board"
    ng-mousemove="onMouseMove($event)"
    ng-mouseup="onMouseUp($event)"
    ng-mousedown="onMouseDown($event)">
  <svg>
    <g id="drawing-board"
       ng-attr-transform="{{ workspaceTransform() }}">

      <!-- start box -->
      <g ng-repeat="box in guiMaster.boxes()"
          ng-mousedown="onMouseDownOnBox(box, $event)"
          ng-mouseup="guiMaster.onMouseUpOnBox(box, $event)"
          ng-attr-transform="{{ box.mainPosTransform() }}"
          class="box"
          id="{{ box.instance.id }}"
          ng-class="{ 'selected': guiMaster.selectedBoxIds.includes(box.instance.id) }">

        <!-- start list of I/O plugs -->
        <g ng-repeat="direction in ['inputs', 'outputs']"
          id="{{ direction }}">
          <g ng-repeat="plug in box[direction]"
              ng-attr-transform="{{ plug.posTransform }}"
              id="{{ plug.id }}">
            <text x="10">{{ plug.id }}</text>
            <circle ng-attr-r="{{ plug.radius }}"
                  class="io-circle"
                  ng-class="{'in-progress': plug.inProgress,
                            'colored-output': plug.progressColor || plug.error }"
                  ng-attr-fill="{{ plug.error ? 'red' : plug.progressColor }}"
                  ng-attr-drop-tooltip="{{ plug.error }}"
                  ng-mousedown="guiMaster.onMouseDownOnPlug(plug, $event)"
                  ng-mouseup="guiMaster.onMouseUpOnPlug(plug, $event)"
                  ng-click="guiMaster.onClickOnPlug(plug, $event)">
            </circle>
          </g>
        </g>
        <!-- end list of I/O plugs -->

        <rect
            class="box-main"
            ng-attr-width="{{box.width}}"
            ng-attr-height="{{box.height}}">
        </rect>

        <text x="5" y="15">
          {{box.summary}}
        </text>
        <text x="5" y="50" ng-show="box.commentLines">
          <tspan xml:space="preserve" font-family="monospace" x="5" dy="15"
                 ng-repeat="line in box.commentLines track by $index">{{line}}
          </tspan>
        </text>
      </g>
      <!-- end box -->
      <g>
      <rect
        class="selection-box"
        ng-attr-x="{{guiMaster.selection.leftX}}"
        ng-attr-y="{{guiMaster.selection.upperY}}"
        ng-attr-width="{{guiMaster.selection.width}}"
        ng-attr-height="{{guiMaster.selection.height}}">
      </rect>
    </g>
      <!-- start arrow -->
      <g ng-repeat="arrow in guiMaster.arrows()">
        <line class="arrow"
            ng-attr-x1="{{arrow.x1()}}"
            ng-attr-y1="{{arrow.y1()}}"
            ng-attr-x2="{{arrow.x2()}}"
            ng-attr-y2="{{arrow.y2()}}"></line>
      </g>
      <!-- end arrow -->

      <!-- start pulled arrow -->
      <g ng-if="guiMaster.pulledPlug && guiMaster.mouseLogical">
        <line class="arrow pulled-arrow"
            ng-attr-x1="{{guiMaster.pulledPlug.cx()}}"
            ng-attr-y1="{{guiMaster.pulledPlug.cy()}}"
            ng-attr-x2="{{guiMaster.mouseLogical.x}}"
            ng-attr-y2="{{guiMaster.mouseLogical.y}}">
        </line>
      </g>

      <polygon
        class="popup-trail"
        ng-repeat="popup in guiMaster.popups"
        points="{{ popup.trail(pageToLogical, logicalToPage, guiMaster) }}">
      </polygon>

    </g>
  </svg>

  <popup popup-model="popup"
      gui-master="guiMaster"
      ng-repeat="popup in guiMaster.popups">
  </popup>

</div>
