<svg
  ng-mousemove="onMouseMove($event)"
  ng-mouseup="onMouseUp($event)"
  ng-mousedown="onMouseDown($event)">
  <g id="drawing-board"
     ng-attr-transform="{{ workspaceTransform() }}">

    <!-- start box -->
    <g ng-repeat="box in workspace.boxes()"
        ng-mousedown="onMouseDownOnBox(box, $event)"
        ng-attr-transform="{{ box.mainPosTransform() }}"
        class="box"
        id="{{ box.instance.id }}">

      <!-- start list of I/O plugs -->
      <g ng-repeat="direction in ['inputs', 'outputs']"
        id="{{ direction }}">
        <g ng-repeat="plug in box[direction]"
            ng-attr-transform="{{ plug.posTransform }}"
            ng-class="{ 'selected-plug': plug == workspace.selectedPlug }"
            id="{{ plug.data.id }}">
          <text x="10">{{ plug.data.id }}</text>
          <circle ng-attr-r="{{ plug.radius }}"
                class="io-circle"
                ng-class="{'in-progress': plug.inProgress, 'colored-output': plug.color}"
                ng-mousedown="workspace.onMouseDownOnPlug(plug, $event)"
                ng-mouseup="workspace.onMouseUpOnPlug(plug, $event)"
                ng-attr-fill="{{ plug.color }}" >
          </circle>
        </g>
      </g>
      <!-- end list of I/O plugs -->

      <rect
          class="box-main"
          ng-class="{ 'selected-box': box.instance.id == workspace.selectedBoxId }"
          ng-attr-width="{{box.width}}"
          ng-attr-height="{{box.height}}">
      </rect>

      <text x="5" y="15">
        {{box.metadata.operationID}}
      </text>

    </g>
    <!-- end box -->
    <g>
    <rect
      class="selection-box"
      ng-attr-x="{{Math.min(workspace.startX, workspace.endX)}}"
      ng-attr-y="{{Math.min(workspace.startY, workspace.endY)}}"
      ng-attr-width="{{Math.abs(workspace.endX - workspace.startX)}}"
      ng-attr-height="{{Math.abs(workspace.endY - workspace.startY)}}">
    </rect>
  </g>
    <!-- start arrow -->
    <g ng-repeat="arrow in workspace.arrows()">
      <line class="arrow"
          ng-attr-x1="{{arrow.x1()}}"
          ng-attr-y1="{{arrow.y1()}}"
          ng-attr-x2="{{arrow.x2()}}"
          ng-attr-y2="{{arrow.y2()}}"></line>
    </g>
    <!-- end arrow -->

    <!-- start pulled arrow -->
    <g ng-if="workspace.pulledPlug">
      <line class="arrow pulled-arrow"
          ng-attr-x1="{{workspace.pulledPlug.x()}}"
          ng-attr-y1="{{workspace.pulledPlug.y()}}"
          ng-attr-x2="{{workspace.mouseLogical.x}}"
          ng-attr-y2="{{workspace.mouseLogical.y}}">
      </line>
    </g>

  </g>
</svg>
