<div class="col-sm-offset-2 col-sm-8">

    <h1>Backup</h1>
    <div>
        <h2>How to use backup</h2>
        <p>
            The 'Backup' function is only usable, when LynxKite was started
            with proper AWS credentials, and the environment variables <tt>KITE_DATA_DIR</tt> and
            <tt>KITE_EPHEMERAL_DATA_DIR</tt> are set properly.<br>
            See details in the <a href="/#/admin-manual#_lynxkite_backup"> admin manual</a>.
        </p>
    </div>
    <div>
        <h2>Backup settings</h2>
        <table class="table" id="backup-settings">
            <tr>
                <td><b>Data backup dir</b> <br>(KITE_DATA_DIR)</td>
                <td> <div class="col-sm-12"><tt>{{backupSettings.dataDir}}</tt></div></td>
            </tr>
            <tr>
                <td><b>Data dir</b> <br>(KITE_EPHEMERAL_DATA_DIR)</td>
                <td><div class="col-sm-12"> <tt>{{backupSettings.ephemeralDataDir}}</tt></div></td>
            </tr>
            <tr>
                <td><b>Metadata backup root dir</b></td>
                <td>
                    <div class="col-sm-12">
                        <tt>{{backupSettings.metadataRootDir}}</tt>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" ng-click="backup()" ng-disabled="isDisabled()">
                        Backup data
                    </button>
                    <span id="cleaner-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>
                </td>
                <td> </td>
            </tr>
        </table>
    </div>
    <div ng-show="inProgress">
        <p>Backup is in progress. This may take a while...<p>
    </div>

    <div ng-if="statusMessage && success">
        <p id="backup-success">&#x2713; {{ statusMessage }}
            Metadata saved to  <tt>[Metadata backup root dir]/{{metadataVersion.timestamp}}/</tt>
        <p>

    </div>
    <div ng-if="statusMessage && !success">
        <p id="backup-failure">&#x26a0; {{ statusMessage }}<p>
    </div>

    <user-menu info="list" direction="dropup" class="user-menu-at-bottom"></user-menu>
</div>
