<div class="modal-header">
  <h3 class="modal-title">Python API code</h3>
</div>
<div class="modal-body">
  <textarea
    class="pre-scrollable"
    id="python-code"
    style="word-wrap: normal;min-width:100%;max-width:100%;min-height:300px"
    readonly="readonly">{{ code }}</textarea>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" id="select-all-modal-button" ng-click="selectAll()">
    Select all
  </button>
  <button class="btn btn-secondary" id="close-modal-button" ng-click="close()">
    Close
  </button>
</div>
