<div class="modal-header">
  <h3 class="modal-title">Send feedback</h3>
</div>
<div class="modal-body">
  <pre class="pre-scrollable" style="word-wrap: normal;">{{ message }}</pre>
  <div ng-show="details">
    <input type="checkbox" ng-model="sendDetails" ng-change="updateBody"> Attach details
    </input>
    <pre class="pre-scrollable" style="word-wrap: normal;" ng-show="sendDetails">{{ details }}</pre>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" id="close-modal-button" ng-click="close()">Close</button>
  <a class="btn btn-primary" target="_blank" href="{{ mailto() }}" ng-click="close()">Send feedback</a>
</div>
