<div class="modal-header">
  <h3 class="modal-title">Error details</h3>
</div>
<div class="modal-body">
  <pre class="pre-scrollable" style="word-wrap: normal;">{{ message }}</pre>
  <pre class="pre-scrollable" style="word-wrap: normal;" ng-show="details">{{ details }}</pre>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" target="_blank" href="{{ mailto }}" ng-click="close()">Report</a>
  <button class="btn btn-warning" id="close-modal-button" ng-click="close()">Close</button>
</div>
