<div class="modal-header">
  <button type="button" class="close" id="close-modal-button" ng-click="close()">&times;</button>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <div>Send an email to the LynxKite team at
    <a target="_blank" href="mailto:lynxkite@lynxanalytics.com">lynxkite@lynxanalytics.com</a> or
    <a target="_blank" href="https://github.com/lynxkite/lynxkite/issues/new">file a GitHub issue</a>.
  </div>

  <div ng-show="debug" style="margin-top: 20px;">
    Including this debug context may be helpful:
    <a href class="pull-right" id="copy-debug-to-clipboard" ng-attr-data-clipboard-text="{{ debug }}">
      <i class="fas fa-clone"></i> Copy to clipboard</a>
    <pre class="pre-scrollable" style="word-wrap: normal;">{{ debug }}</pre>
  </div>
</div>
