<table style="width: 100%;" class="file-parameter">
  <tr>
    <td style="width: 100%;">
      <input
        ng-hide="uploading"
        class="form-control"
        ng-model="filename"
        ng-disabled="!editable">
      <progressbar ng-show="uploading" value="progress">
        {{progress}}%
      </progressbar>
    </td>
    <td>
      <span class="clicky glyphicon glyphicon-cloud-upload"
        ng-show="editable" tooltip="Upload" ng-click="dialog()"></span>
    </td>
  </tr>
</table>
<input id="file" type="file" style="display: none;" ng-model="files" ng-change="upload(this.files)">
