<div class="form-group" ng-repeat="param in meta.parameters track by param.id" ng-show="visibleGroup(param.group)">
  <label for="{{param.id}}" class="control-label"
      ng-if="!isVisualizationParam(param) && param.kind !== 'dummy'">
    {{param.title}}
    <help-popup href="{{meta.htmlId + '-' + param.id}}"></help-popup>
  </label>
  <dummy-parameter
    ng-if="param.kind === 'dummy'"
    param="param"
    html-id="meta.htmlId">
  </dummy-parameter>
  <div ng-class="{
        'operation-parameter-input': true,
      }"
      id="{{param.id}}">
    <div
      ui-ace="{
        mode: 'plain_text',
        showGutter: false,
        rendererOptions: {
          fontSize: '16px'
        },
        advanced: {
          behavioursEnabled: false,
          useWorker: false
        },
        onLoad: onLoad,
      }"
      class="form-control operation-attribute-entry"
      ng-if="isParametric(param.id)"
      ng-model="parametricParameters[param.id]"></div>
    <div ng-if="!isParametric(param.id)">
      <input ng-if="param.kind === 'default'"
          class="form-control operation-attribute-entry"
          placeholder="{{ param.placeholder }}"
          ng-model="parameters[param.id]"
          ng-submit="onBlur()">
      <div
        ui-ace="{
          mode: '{{ param.payload.language }}',
          showGutter: false,
          rendererOptions: {
            fontSize: '16px'
          },
          advanced: {
            behavioursEnabled: false,
            useWorker: false
          },
          onLoad: onLoad,
        }"
        class="form-control operation-attribute-entry"
        ng-if="param.kind === 'code'"
        ng-model="parameters[param.id]"></div>
      <file-parameter ng-if="param.kind === 'file'"
          model="parameters[param.id]"
          on-blur="onBlur()"
          file-uploads="fileUploads.count"
          class="operation-attribute-entry">
      </file-parameter>
      <model-parameter ng-if="param.kind === 'model'"
          param="param"
          on-blur="onBlur()"
          model-json="parameters[param.id]"
          class="operation-attribute-entry">
      </model-parameter>
      <table-kind
        ng-if="param.kind === 'imported-table'"
        box="box"
        params="parameters"
        guid="parameters[param.id]"
        on-blur="onBlur()"
        file-uploads="fileUploads.count"
        workspace-reference="workspace.ref()"
        class="operation-attribute-entry">
      </table-kind>
      <trigger-parameter
        ng-if="param.kind === 'trigger'"
        box="box"
        param="param"
        class="operation-attribute-entry">
      </trigger-parameter>
      <select
        ng-if="
          (param.kind === 'choice' && !param.multipleChoice) || (param.kind === 'segmentation')"
        class="form-control operation-attribute-entry"
        ng-model="parameters[param.id]"
        ng-change="onBlur()"
        ng-options="option.id as option.title for option in param.options"></select>
      <select
        ng-if="param.kind === 'choice' && param.multipleChoice"
        multiple
        ng-attr-size="{{ param.options.length }}"
        class="form-control operation-attribute-entry"
        ng-model="listParameters[param.id]"
        ng-change="onBlur()"
        ng-options="option.id as option.title for option in param.options"></select>
      <tag-list
        ng-if="param.kind === 'tag-list'"
        model="listParameters[param.id]"
        on-blur="onBlur()"
        options="param.options"
        class="operation-attribute-entry"></tag-list>
      <parameters-parameter
        ng-if="param.kind === 'parameters'"
        model="parameters[param.id]"
        class="operation-attribute-entry"></parameters-parameter>
      <visualization-parameter
        ng-if="param.kind === 'visualization'"
        ui-state="parameters[param.id]"
        on-ui-state-changed="onBlur()"
        project-state-id="box.outputs[0].stateId">
      </visualization-parameter>
      <wizard-steps-parameter
        ng-if="param.kind === 'wizard-steps'"
        workspace="workspace"
        model="parameters[param.id]"></wizard-steps-parameter>
    </div>
    <i class="fa fa-dollar parametric-switch"
      drop-tooltip="Parametric: {{ isParametric(param.id) ? 'yes' : 'no' }}"
      drop-tooltip-position="top center"
      ng-class="{ active: isParametric(param.id) }"
      ng-click="toggleParametric(param.id)"
      ng-if="param.kind !== 'dummy'">
    </i>
  </div>
</div>
<div class="form-group col-sm-12 unexpected-parameters" ng-show="unexpectedParameters.length">
  Unexpected parameters
  <help-popup href="unexpected-parameters"></help-popup>
</div>
<div class="form-group" ng-repeat="paramId in unexpectedParameters">
  <label for="{{ paramId }}" class="control-label unexpected-parameter">
    {{ paramId }}
  </label>
  <div class="operation-parameter-input" id="{{ paramId }}">
    <div>
      <input
          class="form-control operation-attribute-entry unexpected-parameter"
          ng-model="parameters[paramId]"
          ng-submit="onBlur()">
    </div>
    <i class="fa fa-remove remove-parameter"
      drop-tooltip="Remove unexpected parameter"
      drop-tooltip-position="top center"
      ng-click="removeParameter(paramId)">
    </i>
  </div>
</div>
<div class="form-group" ng-repeat="group in groups(meta.parameters)" ng-show="!visibleGroup(group)">
  <a href ng-click="expandGroup(group)">
    <i class="fa fa-plus-square-o"></i> {{ group }}
  </a>
</div>
