<div class="box col-sm-11 {{color}}">
  <h1>
    {{op.title}}
    <div class="btn-group pull-right">
      <label class="btn btn-default"
             id="edit-operation-button"
             ng-if="operationIsEditable()"
             ng-click="editOperation()"
             tootlip="Edit workflow">
        <i class="glyphicon glyphicon-pencil"></i>
      </label>
    </div>
  </h1>

  <!-- For workflows. -->
  <div ng-if="op.isWorkflow">
    <p class="description">
      User defined workflow saved by
      {{op.workflowAuthor}} at
      {{op.id.split('/')[2] | date : 'dd-MM-yyyy hh:mm a'}}
    </p>
    <p ng-if="op.description" class="description">
      {{op.description}}
    </p>
  </div>
  <!-- For documented operations. -->
  <p ng-if="!op.isWorkflow"
     help-id="{{op.id}}"
     remove-header="yes"
     scalars="scalars"
     class="description"></p>

  <p ng-if="op.parameters.length === 0" class="text-center">
    No parameters
  </p>
  <form ng-if="op.parameters" class="form-horizontal" ng-submit="apply()">
    <operation-parameters op="op" output="params" busy="$parent.busy" editable="editable"></operation-parameters>
  </form>
  <div tabindex="0" ng-click="apply()" class="ok-button text-center operation-apply-button">
    <span ng-if="applying">
      <i class="glyphicon glyphicon-hourglass"></i>
    </span>
    <span ng-if="!applying">
      OK <i class="glyphicon glyphicon-ok"></i>
    </span>
  </div>
</div>
