<div>
  <span class="tag-list-tag" ng-repeat="tag in getTags() as tags"
    ng-click="removeTag(tag.id)" tooltip="{{ editable ? 'Click to remove' : '' }}">
    {{tag.title}}
  </span>
  <!-- Placeholder when no tags are set. -->
  <span class="tag-list-tag disabled" ng-show="tags.length === 0">none</span>

  <div class="btn-group" dropdown ng-show="editable">
    <a href class="btn-dropdown dropdown-toggle" dropdown-toggle>
      <i class="glyphicon glyphicon-plus"></i>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="option in options">
        <a href id="{{ option.id }}" ng-click="addTag(option.id)">
          {{option.title}}
        </a>
      </li>
    </ul>
  </div>
</div>
