*.class
*.log

# sbt specific
.cache
.cache/
.history/
.lib/
dist/*
target/
logs/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
public

# Scala-IDE specific
.scala_dependencies
.worksheet

*~
.*.swp
/.target
/bin

# Eclipse specific
.project
.classpath
.settings/*

# KDE specific
*.directory
*.kate-swp

# intellij specific
.idea
