*.class
*.log
*.pyc
__pycache__

# sbt specific
.cache
.cache/
.history/
.lib/
/dist/*
target/
/logs/
/lib_managed/
/src_managed/
/project/boot/
/project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*~
.*.swp
.*.swo
/.target
/bin

# Eclipse specific
.project
.classpath
.settings/*

# KDE specific
*.directory
*.kate-swp

# intellij specific
.idea

# sbt test creates it
metastore_db/
**/.ipynb_checkpoints/
