# Several tools depend on the format of this file, so do not change it!

# Packages developed by Lynx
-e ./python/remote_api
-e ./python/automation
-e ./standard-pipelines/impact-analysis

# Dependencies of HI pipeline
PyYAML

# Dependencies for developing and testing
-e ./python/remote_api[dev]
-e ./python/automation[dev]
Sphinx==1.8.2
-e ./sphinx_theme
autopep8
awscli
boto3
selenium
pyarrow==0.13.0
pandas
prettytable==0.7.2
pillow
croniter
oauth2client
google-api-python-client
mypy
ruamel.yaml
