# Several tools depend on the format of this file, so do not change it!

# Dependencies for the Remote API
croniter
PyYAML
requests

# Dependencies for the ecosystem
apache-airflow[mysql]==1.9.0
mysqlclient
prometheus_client
sqlalchemy

# Dependencies for developing and testing
autopep8
awscli
boto3
pandas
Sphinx
sphinx-rtd-theme
pytest
selenium
prettytable==0.7.2
pillow
mypy
ruamel.yaml>=0.15
