# Dependecies for running LynxKite and ecosystem
croniter
flask
luigi==2.3.2
mysqlclient
prometheus_client
python-dateutil
PyYAML
requests
sqlalchemy
# Dependencies for developing and testing
autopep8
awscli
boto3
pandas
Sphinx
sphinx-rtd-theme
pytest
selenium
