<configuration>

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>[%level] %date %logger{36} - %message%n%xException%n</pattern>
    </encoder>
    <file>logs/test-${bySecond}.log</file>
  </appender>

  <root level="info">
    <appender-ref ref="FILE" />
  </root>

</configuration>
