<configuration>

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <encoder>
      <pattern>%.-1level%date %logger{0}:[%thread] %message%n%xException</pattern>
    </encoder>
    <file>logs/test-${bySecond}.log</file>
  </appender>

  <root level="info">
    <appender-ref ref="FILE" />
  </root>

</configuration>
