<div class="col-sm-offset-2 col-sm-8">

    <h1>S3 backup</h1>
    <div>
        <h2>How to use backup</h2>
        <p>
            The 'S3 backup' function is only usable, when LynxKite was started
            with proper AWS credentials, and the environment variables <tt>KITE_DATA_DIR</tt> and
            <tt>KITE_EPHEMERAL_DATA_DIR</tt> are set according to the admin manual.
        </p>
        <p>
            The S3 metadata backup directory is a subdirectory of <tt>KITE_DATA_DIR/metadata_backup/</tt>.
            The subdirectory named as the current timestamp at the time of the backup.
            When someone restores saved metadata (with the <tt>emr_ecosystem.py</tt> script),
            the version with the latest timestamp will be loaded by default, and earlier versions
            can be chosen by an optional parameter.
        </p>
        <p>
            The easiest way to reuse saved data is to start a new cluster using
            <tt>emr_ecosystem.py</tt>:<br>
        <tt>
        ./emr_ecosystem.py --s3_data_dir s://bucket-name/ --restore_metadata
        </tt>
        </p>
    </div>
    <div>
        <h2>Backup settings</h2>
        <table class="table" id="backup-settings">
            <tr>
                <td><b>S3 data backup dir</b> <br>(KITE_DATA_DIR)</td>
                <td> <div class="col-sm-12"><tt>{{backupSettings.dataDir}}</tt></div></td>
            </tr>
            <tr>
                <td><b>Data dir</b> <br>(KITE_EPHEMERAL_DATA_DIR)</td>
                <td><div class="col-sm-12"> <tt>{{backupSettings.ephemeralDataDir}}</tt></div></td>
            </tr>
            <tr>
                <td><b>S3 metadata root dir</b></td>
                <td>
                    <div class="col-sm-12">
                        <tt>{{backupSettings.s3MetadataRootDir}}</tt>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" ng-click="backupToS3()" ng-disabled="isDisabled()">
                        Backup data to S3
                    </button>
                    <span id="cleaner-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>
                </td>
                <td> </td>
            </tr>
        </table>
    </div>
    <div ng-show="inProgress">
        <p>Backup is in progress. This may take a while...<p>
    </div>

    <div ng-if="statusMessage && success">
        <p id="backup-success">&#x2713; {{ statusMessage }}
            Metadata saved to  <tt>[S3 metadata root dir]/{{metadataVersion.timestamp}}/</tt>
        <p>

    </div>
    <div ng-if="statusMessage && !success">
        <p id="backup-failure">&#x26a0; {{ statusMessage }}<p>
    </div>


    <bottom-links info="list"></bottom-links>
</div>
