<div class="col-sm-offset-2 col-sm-8">

    <h1>S3 backup</h1>
    <div>
        <h2>How to use this function</h2>
        <p>The 'EMR backup' function is only usable, when LynxKite was started on an Amazon
        instance with proper AWS credentials, and the environment variables <tt>KITE_DATA_DIR</tt> and
        <tt>KITE_EMPHEMERAL_DATA_DIR</tt> are set according to the admin manual.</p>
        <p>The S3 metadata backup directory is a subdirectory of the S3 metadata
        backup bucket. The subdirectory named as the current timestamp at the time of the backup.
        When someone restores saved metadata (with the emr_ecosystem.py script),
        the version with the latest timestamp will be loaded by default, and earlier versions
        can be chosen by an optional parameter.</p>
    </div>
    <div>
        <h2>Backup settings</h2>
        <table class="table">
            <tr>
                <td><b>S3 data backup dir</b> <br>(KITE_DATA_DIR)</td>
                <td> <div class="col-sm-12"><tt>{{backupSettings.dataDir}}</tt></div></td>
            </tr>
            <tr>
                <td><b>HDFS data dir</b> <br>(KITE_EPHEMERAL_DATA_DIR)</td>
                <td><div class="col-sm-12"> <tt>{{backupSettings.emphemeralDataDir}}</tt></div></td>
            </tr>
            <tr>
                <td><b>S3 metadata backup bucket</b></td>
                <td>
                    <div class="col-sm-12">
                    <input class="form-control ng-pristine ng-valid ng-touched"
                           ng-model="backupSettings.s3MetadataBucket" type="text" size="30">
                    </div>
                </td>
            </tr>
            <tr>
                <td><b>S3 metadata backup dir</b></td>
                <td>
                    <div class="col-sm-12" ng-show="!isDisabled()"><tt>
                        {{s3MetadataDir}}
                    </tt></div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" ng-click="backupToS3()" ng-disabled="isDisabled()">
                        Backup data to S3
                    </button>
                    <span id="cleaner-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>
                </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
    </div>

    <div ng-show="success">
        <p id="backup-success">&#x2713; {{ status }}<p>
        <p>Data saved to <b>{{backupSettings.dataDir}}</b></p>
        <p>Metadata saved to
        <b>{{s3MetadataDir}}</b></p>
    </div>


    <bottom-links info="list"></bottom-links>
</div>
