<div class="col-sm-offset-3 col-sm-6">

  <h1>Change password</h1>
  <form class="form-horizontal" >
    <div class="form-group">
      <label for="oldpassword" class="col-sm-4 control-label">Old password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="oldPassword" placeholder="old password" ng-model="oldPassword" ng-disabled="passwordChangeDisabled">
      </div>
    </div>
    <div class="form-group">
      <label for="newpassword" class="col-sm-4 control-label">New password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="newPassword" placeholder="new password" ng-model="newPassword" ng-disabled="passwordChangeDisabled">
      </div>
    </div>
    <div class="form-group">
      <label for="newpassword2" class="col-sm-4 control-label">Retype new password</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="newPassword2" placeholder="new password" ng-model="newPassword2" ng-disabled="passwordChangeDisabled">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-success" ng-disabled="passwordChangeDisabled" ng-click="changeUserPassword()">Change Password</button>
      </div>
    </div>
  </form>

  <h4 ng-show="passwordChangeWaiting">
    Waiting for server...
  </h4>

  <h4 ng-show="passwordChangeFailed">
    Password change failed. Try again.
  </h4>

  <h4 ng-show="passwordChangeSucceeded">
    Password successfully changed. 
  </h4>
  <bottom-links info="list" dropup="dropup" class="bottom-links-original"></bottom-links>
</div>
