<div class="col-sm-offset-3 col-sm-6">

  <h1>Cleaner</h1>
  <form>
    <table class="table table-striped">
      <tr><th>Method</th><th>Number of files</th><th>Size of files</th><th/></tr>
      <tr>
        <td>Total files</td>
        <td>{{ methods.total.fileNumber }}</td>
        <td>{{ methods.total.totalSize }}</td>
        <td/>
      </tr>
      <tr>
        <td>Does not exist in metagraph</td>
        <td>{{ methods.existsInMetaGraph.fileNumber }}</td>
        <td>{{ methods.existsInMetaGraph.totalSize }}</td>
        <td>
          <input name="method" type="radio" ng-model="selectedMethod" value="existInMetaGraph"/>
        </td>
      </tr>
      <tr>
        <td>Not referred from project</td>
        <td>{{ methods.referredFromProject.fileNumber }}</td>
        <td>{{ methods.referredFromProject.totalSize }}</td>
        <td>
          <input name="method" type="radio" ng-model="selectedMethod" value="notReferredFromProject"/>
        </td>
      </tr>
      <tr>
        <td>Transitively not referred from project</td>
        <td>{{ methods.transitivelyReferredFromProject.fileNumber }}</td>
        <td>{{ methods.transitivelyReferredFromProject.totalSize }}</td>
        <td>
          <input name="method" type="radio" ng-model="selectedMethod" value="transitivelyNotReferredFromProject"/>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="deleteOrphanFiles()">Mark deleted</button>
      </div>
    </div>
  </form>

  <bottom-links info="list"></bottom-links>
</div>
