<div class="col-sm-offset-3 col-sm-6">

  <h1>Cleaner</h1>
  <form>
    <table class="table table-striped">
      <tr><th>Method</th><th>Number of files</th><th>Size of files</th><th/></tr>
      <tr>
        <td>Total files</td>
        <td>{{ fileStatus.total.fileNumber }}</td>
        <td>{{ fileStatus.total.totalSize }}</td>
        <td/>
      </tr>
      <tr ng-repeat="method in fileStatus.methods">
        <td title="{{ method.desc }}">{{ method.name }}</td>
        <td>{{ method.fileNumber }}</td>
        <td>{{ method.totalSize }}</td>
        <td>
          <input name="selectedMethod" type="radio"
                 ng-model="$parent.selectedMethod" value="{{ method.id }}"/>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="deleteOrphanFiles()">
          Mark deleted
        </button>
      </div>
    </div>
  </form>

  <bottom-links info="list"></bottom-links>
</div>
