<div class="col-sm-offset-3 col-sm-6">

  <h1>Cleaner</h1>
  <div class="alert alert-danger" ng-show="fileStatus.$error">
    {{ fileStatus.$error }}
  </div>
  <form ng-show="!fileStatus.$error" ng-disabled="inProgress">
    <table class="table table-striped">
      <tr><th>Method</th><th>Number of entities</th><th>Total size on disk</th><th/></tr>
      <tr>
        <td>All unmarked entities</td>
        <td><value ref="asScalar(fileStatus.total.fileCount)"></value></td>
        <td><value ref="asScalar(fileStatus.total.totalSize)"></value></td>
        <td/>
      </tr>
      <tr>
        <td>All marked entities</td>
        <td><value ref="asScalar(fileStatus.marked.fileCount)"></value></td>
        <td><value ref="asScalar(fileStatus.marked.totalSize)"></value></td>
        <td/>
      </tr>
      <tr ng-repeat="method in fileStatus.methods">
        <td title="{{ method.desc }}">{{ method.name }}</td>
        <td><value ref="asScalar(method.fileCount)"></value></td>
        <td><value ref="asScalar(method.totalSize)"></value></td>
        <td>
          <input name="selectedMethod" type="radio"
                 ng-model="$parent.selectedMethod" value="{{ method.id }}"/>
        </td>
      </tr>
    </table>
    <div class="form-horizontal">
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="markFilesDeleted()">
          Mark files deleted
        </button>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" ng-click="deleteMarkedFiles()">
          Delete marked files
        </button>
      </div>
    </div>
  </form>
  <span id="cleaner-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>

  <bottom-links info="list"></bottom-links>
</div>
