<div class="newgraph bubble">
  <h2>Create new graph</h2>
  <div class="op" ng-repeat="op in startingOps">
    <button class="btn btn-default" ng-click="openNewGraphModal(op)">{{op.name}}</button>
  </div>
</div>
<div class="graph" ng-if="id">
  <div class="metadata bubble">
    <h2>{{graph.title}}</h2>
    <div class="stats">
      <p>Vertices: {{stats.verticesCount}} - Edges: {{stats.edgesCount}}</p>
      <p>Vertex attributes:
        <span class="token" ng-repeat="attr in stats.vertexAttributes">{{attr}}</span>
      </p>
      <p>Edge attributes:
        <span class="token" ng-repeat="attr in stats.edgeAttributes">{{attr}}</span>
      </p>
      <button class="btn btn-default" ng-click="save()">Save to repository</button>
      <button class="btn btn-default" ng-click="saveCSV()">Save as CSV</button>
      <p><a href="/data/verticesCSV?guid={{id}}">Download vertices as CSV</a></p>
      <p><a href="/data/edgesCSV?guid={{id}}">Download edges as CSV</a></p>
    </div>
    <h3 ng-show="graph.sources">Sources</h3>
    <div class="sources">
      <a class="graphlink token" ng-repeat="source in graph.sources" href="/#/graph/{{source.id}}">{{source.title}}</a>
    </div>
    <h3 ng-show="graph.derivatives">Known derivatives</h3>
    <div class="derivatives">
      <a class="graphlink token" ng-repeat="derivative in graph.derivatives" href="/#/graph/{{derivative.id}}">{{derivative.title}}</a>
    </div>
    <h3 ng-show="graph.ops">Applicable derivations</h3>
    <div class="ops">
      <div class="op" ng-repeat="op in graph.ops">
        <button class="btn btn-default" ng-click="openDerivationModal(op)">{{op.name}}</button>
      </div>
    </div>
  </div>
  <svg class="graph-view" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
</div>
