<div class="graphs">
  <div class="sources">
    <div class="source" ng-repeat="source in graph.sources">
      <a href="/#/graph/{{source.id}}">{{source.title}} &larr;</a>
    </div>
  </div>
  <div class="stats">
    <h1>{{graph.title}}</h1>
    <p>Vertices: {{stats.verticesCount}} - Edges: {{stats.edgesCount}}</p>
  </div>
  <div class="derivatives">
    <div class="derivative" ng-repeat="derivative in graph.derivatives">
      <a href="/#/graph/{{derivative.id}}">&rarr; {{derivative.title}}</a>
    </div>
  </div>
  <div class="ops">
    <div class="op" ng-repeat="op in graph.ops">
      <button class="btn btn-default" ng-click="openModal(op)">{{op.name}}</button>
    </div>
  </div>
</div>
