<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  {{alert.msg}}
</alert>
<project-graph left="state.left" right="state.right"></project-graph>
<div class="row-fluid">
  <div ng-repeat="side in [left, right]" ng-include="'views/vertexSet.html'"/>
</div>
<div class="path row-fluid text-center" ng-if="state.leftToRightPath !== undefined">
  <div class="col-xs-12">
    <h6>Connecting path</h6>
    <ul>
      <li class="bundle token" ng-repeat="step in state.leftToRightPath">
        <button ng-if="!$first" class="btn btn-default" ng-click="cutPathLeft($index)">
          &#x232b;
        </button>
        <shortn text="{{step.bundle.title}}"></shortn> [<shortn text="{{step.bundle.source.title}}"></shortn>
        <span ng-if="step.pointsLeft">&#x2b05;</span><span ng-if="!step.pointsLeft">&#x27a1;</span>
        <shortn text="{{step.bundle.destination.title}}"></shortn>]
        <button ng-if="!$last" class="btn btn-default" ng-click="cutPathRight($index)">
          &#x2326;
        </button>
      </li>
    </ul>
  </div>
</div>
