<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
  {{alert.msg}}
</alert>
<div class="row-fluid">
  <div class="operations col-sm-6">
    <h6>Available operations</h6>
    <div class="op" ng-repeat="op in applicableOperations()">
      <button class="btn btn-default" ng-click="apply(op)">{{op.title}}</button>
    </div>
  </div>
  <div class="startingvs col-sm-6">
    <h6>Starting Vertex Sets</h6>
    <div class="vertexset token"
         ng-repeat="vs in startingVertexSets">
      {{vs.title}}
      <button class="btn btn-default" ng-click="left.setNewVS(vs.id)">Load Left</button>
      <button class="btn btn-default" ng-click="right.setNewVS(vs.id)">Load Right</button>
    </div>
  </div>
</div>
<div class="row-fluid text-center">
  <button class="btn" ng-click="state.showGraph = !state.showGraph">{{state.showGraph ? '&#x25b2;' : '&#x25bc;'}}</button>
  <svg class="graph-view" ng-class="{ 'collapsed': !state.showGraph }"
    graph-view ng-model="graphView" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
</div>
<div class="row-fluid">
  <div ng-repeat="side in [left, right]" ng-include="'views/vertexSet.html'"/>
</div>
<div class="path row-fluid text-center" ng-if="state.leftToRightPath">
  <h6>Connecting path</h6>
  <ul>
    <li class="bundle token" ng-repeat="step in state.leftToRightPath">
      <button ng-if="!$first" class="btn btn-default" ng-click="cutPathLeft($index)">
        &#x232b;
      </button>
      {{step.eb.title}} [{{step.eb.source.title}}
      <span ng-if="step.reversed">&#x2b05;</span><span ng-if="!step.reversed">&#x27a1;</span>
      {{step.eb.destination.title}}]
      <button ng-if="!$last" class="btn btn-default" ng-click="cutPathRight($index)">
        &#x2326;
      </button>
    </li>
  </ul>
</div>
