<form role="form" class="params">
  <div class="modal-header">
    <h3>{{operation.name}}</h3>
  </div>
  <div class="modal-body">
    <div class="param form-group" ng-repeat="param in operation.parameters">
      <label for="param{{param.id}}">{{param.title}}</label>
      <input
        ng-if="param.options.length == 0 && param.kind.indexOf('multi-') != 0"
        type="text"
        id="param{{param.id}}"
        class="form-control"
        ng-model="result[param.id]"/>
      <select
        ng-if="param.options.length > 0 && param.kind.indexOf('multi-') != 0"
        id="param{{param.id}}"
        class="form-control"
        ng-model="result[param.id]"
        ng-options="option.id as option.title for option in param.options">
      </select>
      <select
        ng-if="param.kind.indexOf('multi-') == 0"
        multiple
        id="param{{param.id}}"
        class="form-control"
        ng-model="result[param.id]"
        ng-options="option.id as option.title for option in param.options">
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">OK</button>
    <button class="btn btn-default" ng-click="$dismiss('canceled')">Cancel</button>
  </div>
</form>
