<div class="operationParameters">
  <h3>{{operation.name}}</h3>
  <form role="form" class="params">
    <div class="param form-group" ng-repeat="param in operation.parameters">
      <label for="param{{$index}}">{{param.title}}</label>
      <input type="text" id="param{{$index}}" class="form-control" ng-model="result[$index]"/>
    </div>
    <button class="btn btn-default" ng-click="close()">OK</button>
    <button class="btn btn-default" ng-click="$dismiss('canceled')">Cancel</button>
  </form>
</div>
