<!-- The project panels. -->
<div ng-repeat="side in sides" ng-include="'views/projectSide.html'"></div>

<!-- Toolboxes are in a separate <div> after the sides, so they appear on top. -->
<div class="operation-toolboxes">
  <div ng-repeat="side in sides" class="col-sm-6">
    <div ng-class="{ rightmost: $last }" ng-if="side.project.$resolved && !side.project.$error">
      <operation-toolbox side="side"></operation-toolbox>
    </div>
  </div>
</div>

<brand-box></brand-box>

<div class="clearfix"></div>

<div class="bottom-links">
  <a href
    ng-click="util.reportError({ message: 'Click &quot;report&quot; to send an email about this page.', details: sides })">
    <i class="glyphicon glyphicon-exclamation-sign"></i> send feedback
  </a>
  <a href ng-if="util.globals.hasAuth" ng-click="logout()">
    <i class="glyphicon glyphicon-log-out"></i> log out
  </a>
</div>

<div class="text-center">
  <a target="_blank" href="{{linkedURL()}}" tooltip="Open linked window">
    <span class="glyphicon glyphicon-link"></span>
  </a>
</div>
<div class="clearfix"></div>
