<ui-layout ng-if="showGraph()" class="split-screen">
  <project-graph size="50%" left="left.viewData" right="right.viewData" left-to-right-bundle="leftToRightBundle"></project-graph>
  <div class="project-sides">
    <div ng-include="'views/projects.html'"></div>
    <div class="clearfix"></div>
    <div class="text-center">
      <a target="_blank" href="{{linkedURL()}}" tooltip="Open linked window">
        <span class="glyphicon glyphicon-link"></span>
      </a>
    </div>
  </div>
</ui-layout>
<div ng-if="!showGraph()" class="project-sides">
  <div ng-include="'views/projects.html'"></div>
  <div class="clearfix"></div>
  <div class="text-center">
    <a target="_blank" href="{{linkedURL()}}" tooltip="Open linked window">
      <span class="glyphicon glyphicon-link"></span>
    </a>
  </div>
</div>
