<ui-layout
  options="{ disableToggle: true }"
  ng-class="{'split-screen': showGraph(), 'single-screen': !showGraph()}">

  <div ui-layout-container ng-if="showGraph()" size="50%">
    <project-graph
      left="left.viewData" right="right.viewData"
      left-to-right-bundle="leftToRightBundle" right-to-left-bundle="rightToLeftBundle"
      context-menu="$parent.contextMenu"></project-graph>
  </div>
  <div ui-layout-container class="project-sides">
    <div ng-include="'views/projects.html'"></div>
  </div>
</ui-layout>
<context-menu model="contextMenu"></context-menu>
<spark-status></spark-status>
