<div class="col-sm-6">
  <progressbar ng-if="side.data && !side.data.$resolved" value="100" class="progress-striped active">
    Loading...
  </progressbar>

  <div class="panel panel-danger" ng-if="side.data.error">
    <div class="panel-heading">
      Error
    </div>
    <div class="panel-body">
      {{side.data.error}}
    </div>
  </div>

  <div class="panel panel-default" ng-if="side.data.$resolved && !side.data.error">
    <div class="panel-heading project-name">
      {{side.data.name}}
      <div class="btn-group pull-right">
        <label class="btn btn-default" ng-model="side.state.graphMode" btn-radio="'bucketed'" uncheckable>
          <i tooltip="Bucketed&nbsp;Graph" class="glyphicon glyphicon-th"></i>
        </label>
        <label class="btn btn-default" ng-model="side.state.graphMode" btn-radio="'sampled'" uncheckable>
          <i tooltip="Sampled&nbsp;Graph" class="glyphicon glyphicon-eye-open"></i>
        </label>
      </div>
      <input class="right-range-input" ng-show="side.state.graphMode == 'bucketed'"
        tooltip="{{side.state.bucketCount}}&times;{{side.state.bucketCount}} buckets"
        type="range" min="1" max="10" step="1" ng-model="side.state.bucketCount">
      <input class="right-range-input" ng-show="side.state.graphMode == 'sampled'"
        tooltip="radius {{side.state.sampleRadius}}"
        type="range" max="10" step="1" ng-model="side.state.sampleRadius">
    </div>

    <div class="list-group">
      <li class="list-group-item lead">
        {{human(side.data.vertexCount)}} <span class="de-emph">{{side.data.vertexNames}} with</span>
        {{human(side.data.edgeCount)}} <span class="de-emph">{{side.data.edgeNames}}</span>
      </li>

      <li class="list-group-item lead">
        <span class="de-emph">Attributes of</span> {{side.data.vertexNames}}
      </li>
      <li class="list-group-item" ng-repeat="attr in side.data.vertexAttributes" vertex-attribute="attr" side="side"></li>

      <li class="list-group-item lead">
      <span class="de-emph">Attributes of</span> {{side.data.edgeNames}}
      </li>
      <li class="list-group-item" ng-repeat="attr in side.data.edgeAttributes">
        {{attr.title}}
      </li>
    </div>
  </div>
</div>
