<div class="container-fluid" id="splash">
  <div class="row">
    <div class="col-sm-12 big-brand">
      <h1>
        <img src="lynx-icon.svg" width="30">
        {{ util.globals.title || 'LynxKite' }}
        <img src="kite-icon.svg" width="30">
      </h1>
      <h2 trusted-html="util.globals.tagline"></h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 project-list">
      <project-selector name="name"></project-selector>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <bottom-links info="list" dropup="dropup" class="bottom-links-original"></bottom-links>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="version">{{ util.globals.version }}</p>
    </div>
  </div>
</div>
