<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 big-brand">
      <h1>
        <img src="lynx-icon.svg" width="30">
        LynxKite
        <img src="kite-icon.svg" width="30">
      </h1>
      <h2>Graph analytics for the brave</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <project-selector name="name" version="version"></project-selector>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="version">{{version}}</h6>
    </div>
  </div>
</div>
