<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 big-brand">
      <h1>Lynx PizzaKite</h1>
      <h2>The fastest software in the Milky Way</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <project-selector name="name" version="version"></project-selector>
    </div>
    <div class="col-sm-6">
      <p>hello</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="version">{{version}}</h6>
    </div>
  </div>
</div>
