<div class="col-sm-offset-3 col-sm-6">

  <h1>Users</h1>
  <p ng-hide="adding">
    <button class="btn btn-success" ng-click="adding = true"><i class="glyphicon glyphicon-plus"></i> Add user</button>
  </p>

  <form class="form-horizontal" ng-show="adding">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">User name</label>
      <div class="col-sm-10">
        <input class="form-control" id="username" placeholder="User name" ng-model="newUserName">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password" ng-model="newPassword">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <label>
          <input type="checkbox" ng-model="newUserIsAdmin"> Administrator
        </label>
        <p class="text-muted">
          Administrators have read and write access to all projects.
          Only administrator users can create new users.
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success" ng-click="createUser()">Create</button>
      </div>
    </div>
  </form>

  <table class="table table-striped">
    <tr><th>User name</th><th>Password</th><th>Administrator</th><th>Change user</th></tr>
    <tr ng-if="!list.$resolved"><td colspan="2">
      <progressbar class="progress-striped active" value="100">loading...</progressbar>
    </td></tr>
    <tr ng-if="list.$error"><td colspan="2">
      <progressbar type="danger" value="100" ng-click="reportListError()">
        Failed to load users. Click to report error.
      </progressbar>
    </td></tr>
    <tr ng-repeat="user in list.users">
      <td>{{ user.email }}</td>
      <td><input type="text" ng-model="password[user.email]"></td>
      <td><input type="checkbox" ng-init="userIsAdmin[user.email]=user.isAdmin" ng-model="userIsAdmin[user.email]"></td>
      <td><button type="submit" class="btn btn-success" ng-click="changeUser(user.email)">Change user</button></td>
    </tr>
  </table>

  <user-menu info="list" direction="dropup" class="user-menu-at-bottom"></user-menu>
</div>
