<div class="col-sm-6">
  <div class="panel panel-default" ng-if="!side.data">
    <div class="list-group">
      <sublist heading="New">
        <a href class="list-group-item" ng-repeat="op in startingOps.ops"
          ng-click="apply(op)">{{op.title}}</a>
      </sublist>
      <sublist heading="Existing">
        <a href class="list-group-item" ng-repeat="vs in startingVertexSets.values"
          ng-click="side.setNewVS(vs.id)"><shortn text="{{vs.title}}"></shortn></a>
      </sublist>
    </div>
  </div>

  <progressbar ng-if="side.data && !side.data.$resolved" value="100" class="progress-striped active">
    Loading...
  </progressbar>

  <div class="panel panel-danger" ng-if="side.data.$error">
    <div class="panel-heading">
      Error
    </div>
    <div class="panel-body">
      {{side.data.$error}}
    </div>
  </div>

  <div class="panel panel-default" ng-if="side.data.$resolved && !side.data.$error">
    <div class="panel-heading">
      <shortn text="{{side.data.title}}"></shortn>
      <span style="float: right">
        <span class="glyphicon clicky glyphicon-arrow-{{side.other.name}}"
          tooltip="Show on the {{side.other.name}}"
          ng-click="mirror(side)"></span>
        <span class="glyphicon glyphicon-remove clicky"
          tooltip="Close"
          ng-click="close(side)"></span>
      </span>
    </div>
    <div class="list-group">
      <sublist ng-show="side.data.attributes" heading="Vertex Attributes">
        <li class="list-group-item" ng-repeat="attr in side.data.attributes">
          <shortn text="{{attr.title}}"></shortn>
        </li>
      </sublist>
      <sublist ng-show="side.data.localEdges" heading="Local Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.localEdges">
          <shortn text="{{bundle.title}}"></shortn>
          <button class="btn btn-default" ng-click="side.followEB(bundle, true)">
            Follow
          </button>
          <button class="btn btn-default" ng-click="side.followEB(bundle, false)">
            Follow reverse
          </button>
        </li>
      </sublist>
      <sublist ng-show="side.data.inEdges" heading="Incoming Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.inEdges">
          <shortn text="{{bundle.title}}"></shortn>
          from
          <shortn text="{{bundle.source.title}}"></shortn>
          <span
              class="clicky glyphicon glyphicon-random"
              tooltip="Follow reversed edge bundle"
              ng-click="side.followEB(bundle, false)"></span>
          <span
              class="clicky glyphicon glyphicon-arrow-{{side.other.name}}"
              tooltip="Show source on the {{side.other.name}}"
              ng-click="side.showEB(bundle, true)"></span>
        </li>
      </sublist>
      <sublist ng-show="side.data.outEdges" heading="Outgoing Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.outEdges">
          <shortn text="{{bundle.title}}"></shortn>
          to
          <shortn text="{{bundle.destination.title}}"></shortn>
          <span
              class="clicky glyphicon glyphicon-random"
              tooltip="Follow edge bundle"
              ng-click="side.followEB(bundle, true)"></span>
          <span
              class="clicky glyphicon glyphicon-arrow-{{side.other.name}}"
              tooltip="Show destination on the {{side.other.name}}"
              ng-click="side.showEB(bundle, false)"></span>
        </li>
      </sublist>
      <sublist ng-show="side.data.ops" heading="Operations">
        <a href class="list-group-item" ng-repeat="op in side.data.ops"
          ng-click="apply(op)">{{op.title}}</a>
      </sublist>
    </div>
  </div>
</div>
