<div class="col-sm-6">
  <div class="panel panel-default" ng-if="!side.data">
  </div>
  <div class="panel panel-default" ng-if="side.data">
    <div class="panel-heading">{{side.data.title}}</div>
    <div class="list-group">
      <sublist ng-show="side.data.attributes" heading="Vertex Attributes">
        <li class="list-group-item" ng-repeat="attr in side.data.attributes">
          {{attr.title}}
          <button class="btn btn-default" ng-class="{ 'btn-primary': side.state().xAttribute === attr.id }"
              ng-click="setState(side, 'xAttribute', attr.id)">Graph on X</button>
          <button class="btn btn-default" ng-class="{ 'btn-primary': side.state().yAttribute === attr.id }"
              ng-click="setState(side, 'yAttribute', attr.id)">Graph on Y</button>
          <input class="form-control filter" placeholder="filter" ng-model="side.state().filters[attr.id]"
              ng-model-options="{ updateOn: 'blur' }">
        </li>
      </sublist>
      <sublist ng-show="side.data.localEdges" heading="Local Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.localEdges">
          {{bundle.title}}
          <button class="btn btn-default" ng-click="side.followEB(bundle, true)">
            Follow
          </button>
          <button class="btn btn-default" ng-click="side.followEB(bundle, false)">
            Follow reverse
          </button>
          <button class="btn btn-default" ng-class="{ 'btn-primary': side.state().edgeBundle === bundle }"
              ng-click="setState(side, 'edgeBundle', bundle)">Graph</button>
        </li>
      </sublist>
      <sublist ng-show="side.data.inEdges" heading="Incoming Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.inEdges">
          {{bundle.title}} &#x2b05; {{bundle.source.title}}
          <button class="btn btn-default" ng-click="side.followEB(bundle, false)">Follow</button>
          <button class="btn btn-default" ng-click="side.showEB(bundle, true)">Show source on {{side.oppositeName}}</button>
        </li>
      </sublist>
      <sublist ng-show="side.data.outEdges" heading="Outgoing Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.outEdges">
          {{bundle.title}} &#x27a1; {{bundle.destination.title}}
          <button class="btn btn-default" ng-click="side.followEB(bundle, true)">Follow</button>
          <button class="btn btn-default" ng-click="side.showEB(bundle, false)">Show destination on {{side.oppositeName}}</button>
        </li>
      </sublist>
    </div>
  </div>
</div>
