<div class="col-sm-6">
  <div class="panel panel-default" ng-if="!side.data">
    <div class="list-group">
      <sublist heading="New">
        <a href class="list-group-item" ng-repeat="op in startingOps"
          ng-click="apply(op)">{{op.title}}</a>
      </sublist>
      <sublist heading="Existing">
        <a href class="list-group-item" ng-repeat="vs in startingVertexSets"
          ng-click="side.setNewVS(vs.id)"><shortn text="{{vs.title}}"></shortn></a>
      </sublist>
    </div>
  </div>

  <div class="panel panel-default" ng-if="side.data">
    <div class="panel-heading">
      <shortn text="{{side.data.title}}"></shortn>
      <span style="float: right">
        <span class="glyphicon clicky" ng-class="'glyphicon-arrow-' + side.oppositeName"
          title="Show on the {{side.oppositeName}}"
          ng-click="mirror(side)"></span>
        <span class="glyphicon glyphicon-remove clicky"
          title="Close"
          ng-click="close(side)"></span>
      </span>
    </div>
    <div class="list-group">
      <sublist ng-show="side.data.attributes" heading="Vertex Attributes">
        <li class="list-group-item" ng-repeat="attr in side.data.attributes">
          <shortn text="{{attr.title}}"></shortn>
          <button class="btn btn-default" ng-class="{ 'btn-primary': side.state().xAttribute === attr.id }"
              ng-click="setState(side, 'xAttribute', attr.id)">Graph on X</button>
          <button class="btn btn-default" ng-class="{ 'btn-primary': side.state().yAttribute === attr.id }"
              ng-click="setState(side, 'yAttribute', attr.id)">Graph on Y</button>
          <input class="form-control filter" placeholder="filter" ng-model="side.state().filters[attr.id]"
              ng-model-options="{ updateOn: 'blur' }">
        </li>
      </sublist>
      <sublist ng-show="side.data.localEdges" heading="Local Edge Bundles">
        <li class="list-group-item" ng-repeat="bundle in side.data.localEdges">
          <shortn text="{{bundle.title}}"></shortn>
          <button class="btn btn-default" ng-click="side.followEB(bundle, true)">
            Follow
          </button>
          <button class="btn btn-default" ng-click="side.followEB(bundle, false)">
            Follow reverse
          </button>
          <button class="btn btn-default" ng-class="{ 'btn-primary': side.state().edgeBundle === bundle }"
              ng-click="setState(side, 'edgeBundle', bundle)">Graph</button>
        </li>
      </sublist>
      <sublist ng-show="side.data.inEdges" heading="Incoming Edge Bundles">
        <a href class="list-group-item" ng-repeat="bundle in side.data.inEdges"
          ng-click="side.followEB(bundle, false)">
          <shortn text="{{bundle.title}}"></shortn>
          &#x2b05;
          <shortn text="{{bundle.source.title}}"></shortn>
        </a>
      </sublist>
      <sublist ng-show="side.data.outEdges" heading="Outgoing Edge Bundles">
        <a href class="list-group-item" ng-repeat="bundle in side.data.outEdges"
          ng-click="side.followEB(bundle, true)">
          <shortn text="{{bundle.title}}"></shortn>
          &#x27a1;
          <shortn text="{{bundle.destination.title}}"></shortn>
        </a>
      </sublist>
      <sublist ng-show="side.data.ops" heading="Operations">
        <a href class="list-group-item" ng-repeat="op in side.data.ops"
          ng-click="apply(op)">{{op.title}}</a>
      </sublist>
    </div>
  </div>
</div>
