<div class="container-fluid" id="wizard" ng-if="!maximized">

  <div class="wizard-title-bar">
    <img src="/images/lynxkite-logo-white.svg">
    <div style="display: flex; flex-direction: column;">
      <div class="wizard-nav">
        <a href="#/">
          <i class="glyphicon glyphicon-arrow-left"></i> Home</a>
        |
        <a href ng-click="goToWizardsInProgress()">
          <i class="glyphicon glyphicon-bookmark"></i> Wizards in progress</a>
      </div>
      <div class="wizard-title">
        {{ name }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 entry-list-wrapper">
      <div class="text-center" ng-hide="workspace.loaded">
        <img src="images/progress.svg">
      </div>

      <div class="entry-list wizard" ng-show="workspace.loaded">
        <div class="entry" ng-repeat="step in steps">
          <div class="entry-header" ng-click="moveToStep($index)">
            <span class="icon">{{ $index + 1 }}</span>
            <span class="lead">{{ step.title }}</span>
            <button ng-show="expanded === $index"
              drop-tooltip="Switch to maximized view"
              class="btn wizard-maximize-button fa fa-expand"
              ng-click="toggleMaximized()">
            </button>
          </div>

          <div ng-show="expanded === $index && step.description" class="container-fluid"
            trusted-html="step.html" class="description">
          </div>

          <box-editor
            ng-show="expanded === $index"
            ng-if="step.popup === 'parameters'"
            workspace="workspace"
            wizard="true"
            box-id="step.box"></box-editor>

          <state-view
            ng-if="step.popup && step.popup !== 'parameters' && expanded === $index"
            workspace="workspace"
            wizard="true"
            plug="workspace.getOutputPlug(step.box, step.popup)"
            popup-model="{ height: 500, maxHeight: 500, width: 500 }">
          </state-view>

        </div>
      </div>
      <div class="entry-list footer" ng-show="workspace.loaded">
        LynxKite wizards are built as workspaces.
        <a href style="color: black;" ng-href="/workspace/{{ workspace.name }}">
          Open the workspace</a> to see how this wizard is built<span ng-hide="util.user.wizardOnly">
          and to create your own version of it</span>.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <user-menu info="util.globals" direction="dropup" class="user-menu-at-bottom"></user-menu>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p class="version">{{ util.globals.version }}</p>
    </div>
  </div>
</div>

<div class="container-fluid wizard-max" ng-if="maximized" ng-class="{ visualization: isShowingVisualization() }">
  <div class="wizard-top-steps">
    <a class="step" ng-if="expanded > 0" drop-tooltip="Go to previous step"
      ng-click="moveToStep(expanded - 1)">
      {{ steps[expanded - 1].title }} <i class="fa fa-long-arrow-left"></i></a>
    <div class="step active">
      {{ steps[expanded].title }}
      <button drop-tooltip="Switch to sequential view"
        class="btn wizard-minimize-button fa fa-compress"
        ng-click="toggleMaximized()">
      </button>
    </div>
    <a class="step" ng-if="expanded < steps.length - 1" drop-tooltip="Go to next step"
      ng-click="moveToStep(expanded + 1);">
      <i class="fa fa-long-arrow-right"></i> {{ steps[expanded + 1].title }}</a>
  </div>

  <div ng-show="steps[expanded].description" trusted-html="steps[expanded].html" class="description">
  </div>

  <box-editor
    ng-if="steps[expanded].popup === 'parameters'"
    workspace="workspace"
    wizard="true"
    box-id="steps[expanded].box"></box-editor>

  <!-- We want this to be recreated in the DOM when the step changes.
       The views are independent, best not add accidental transitions. -->
  <state-view
    ng-repeat="step in steps"
    ng-if="$index === expanded && step.popup && step.popup !== 'parameters'"
    workspace="workspace"
    wizard="true"
    plug="workspace.getOutputPlug(step.box, step.popup)"
    popup-model="{ height: $window.innerHeight, maxHeight: $window.innerHeight, width: 500 }">
  </state-view>
</div>
