<div class="bottom-links hidden-print">
  <a href="#/" >
    <i class="glyphicon glyphicon-home"></i> home
  </a>
  <a href="#/changepassword" ng-if="util.globals.hasAuth">
    <i class="glyphicon glyphicon-user"></i> change password
  </a>
  <a href="#/help" target="_blank">
    <i class="glyphicon glyphicon-question-sign"></i> help
  </a>
  <a href
    ng-click="sendFeedback()">
    <i class="glyphicon glyphicon-exclamation-sign"></i> send feedback
  </a>
  <a href ng-if="util.globals.hasAuth" ng-click="logout()">
    <i class="glyphicon glyphicon-log-out"></i> log out
  </a>
</div>
