<table>
  <tr>
    <td>Buckets:</td>
    <td>
      <lazy-slider value="side.state.bucketCount"></lazy-slider>
    </td>
  </tr>
  <tr>
    <td>
      Compute precise bucket sizes:
    </td>
    <td>
      <input type="checkbox" ng-model="side.state.preciseBucketSizes">
    </td>
  </tr>
  <tr>
    <td>
      <help-popup href="relative-edge-density"></help-popup>
      Relative edge density:
    </td>
    <td>
      <input type="checkbox" ng-model="side.state.relativeEdgeDensity">
    </td>
  </tr>
</table>
