<div class="entity-list">
  <div class="entity" id="setting-buckets">
    <span class="title">{{ side.state.bucketCount }}&times;{{ side.state.bucketCount }} buckets</span>
  </div>
  <div class="menu entity-menu" id="menu-setting-buckets">
    <lazy-slider value="side.state.bucketCount"></lazy-slider>
  </div>

  <div class="entity"
       id="setting-precise"
       ng-class="{ default: !side.state.preciseBucketSizes }"
       ng-click="side.state.preciseBucketSizes = !side.state.preciseBucketSizes">
    <span class="title">
      {{ side.state.preciseBucketSizes ? 'precise' : 'approximate' }} counts</span>
  </div>

  <div class="entity"
       id="setting-relative"
       ng-class="{ default: !side.state.relativeEdgeDensity}"
       ng-click="side.state.relativeEdgeDensity = !side.state.relativeEdgeDensity">
    <span class="title">
      {{ side.state.relativeEdgeDensity ? 'relative' : 'absolute' }} edge densities</span>
  </div>

  <div class="entity default" id="setting-save-visualization">
    <span class="title"><i class="glyphicon glyphicon-floppy-disk"></i></span>
  </div>
  <div class="menu entity-menu" id="menu-setting-save-visualization">
    <div>
      Save visualization...
      <help-popup href="saving-visualizations"></help-popup>
    </div>
    <form ng-submit="saveVisualization($event)">
      <input class="form-control"
             placeholder="Visualization name"
             ng-model="saveVisualizationName"
             id="save-visualization-name">
      <button type="submit" class="btn btn-default">OK</button>
    </form>
  </div>
</div>
