<item-name-and-menu side="side" name="{{attr.title}}" type="edge-attribute"></item-name-and-menu>

<span ng-if="side.state.graphMode && attr.typeName === 'Double'" class="de-emph">
  Graph as
  <div class="btn-group">
    <button class="btn btn-default"
            ng-if="attr.typeName === 'Double'"
            ng-class="{ active: side.state.attributeTitles.width === attr.title }"
            ng-click="side.toggleAttributeTitle('width', attr.title)">
      Width
    </button>
  </div>
</span>

<histogram-button ng-show="attr.canBucket" attr="attr" side="side"
  model="histogram" type="edge" tsv="histogramTSV">
</histogram-button>
<copy-box ng-show="histogram" description="Histogram as TSV" data="{{histogramTSV}}"></copy-box>
<label ng-show="histogram && attr.isNumeric">
  <input type="checkbox" ng-model="logarithmic" ng-model-options="{ getterSetter: true }"> logarithmic
</label>

<span class="type-name">{{attr.typeName}}</span>
<div class="clearfix"></div>
<histogram ng-show="histogram" model="histogram"></histogram>
