<item-name-and-menu menu="side" name="{{attr.title}}" type="edge-attribute"></item-name-and-menu>

<span ng-if="side.state.graphMode === 'bucketed' && attr.typeName === 'Double'" class="de-emph">
  Graph as
  <div class="btn-group">
    <button class="btn btn-default"
            ng-if="attr.typeName === 'Double'"
            ng-class="{ active: side.state.attributeTitles.width === attr.title }"
            ng-click="side.toggleAttributeTitle('width', attr.title)">
      Width
    </button>
  </div>
</span>

<form ng-if="attr.canFilter" style="display: inline;">
  <input class="form-control filter" placeholder="filter" ng-model="side.state.filters.edge[attr.title]"
    ng-model-options="{ updateOn: 'change blur' }">
</form>

<span
  ng-if="side.state.graphMode === 'sampled' && side.state.display === 'svg'"
  class="de-emph sampled-visualizations">
  <span class="visualizations"><selected-visualization
    ng-repeat="visualization in side.filterApplied(['width', 'edge label', 'edge color'], attr.title)"
    side="side"
    title="attr.title"
    visualization="visualization"></selected-visualization></span>

  <span class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
    <span class="clicky glyphicon glyphicon-eye-open" tooltip="Visualize attribute"></span>
  </span>
  <ul class="dropdown-menu" role="menu">
    <li class="text-center">
      Visualize as...
    </li>
    <li ng-if="attr.typeName === 'Double'">
      <a ng-click="side.toggleAttributeTitle('width', attr.title)" href>Width</a>
    </li>
    <li>
      <a ng-click="side.toggleAttributeTitle('edge label', attr.title)" href>Edge label</a>
    </li>
    <li ng-if="attr.typeName === 'Double' || attr.typeName === 'String'">
      <a ng-click="side.toggleAttributeTitle('edge color', attr.title)" href>Edge color</a>
    </li>
  </ul>
</span>


<histogram-button ng-show="attr.canBucket" attr="attr" side="side"
  model="histogram" type="edge" tsv="histogramTSV">
</histogram-button>
<copy-box ng-show="histogram" description="Copy&nbsp;histogram to&nbsp;clipboard" data="{{histogramTSV}}"></copy-box>
<label ng-show="histogram && attr.isNumeric">
  <input type="checkbox" ng-model="axisOptions.logarithmic"> logarithmic
</label>

<span class="type-name">{{attr.typeName}}</span>
<div class="clearfix"></div>
<histogram ng-show="histogram" model="histogram"></histogram>
