<span ng-hide="renaming">
  {{attr.title}}
</span>
<form ng-submit="renaming = side.rename('edge-attribute', attr.title, newName)" style="display: inline;" ng-show="renaming">
  <input id="renameBox" class="form-control" style="display: inline; width: 200px;"
    ng-model="newName" ng-blur="renaming = newName !== attr.title">
</form>

<span ng-if="side.state.graphMode && attr.typeName === 'Double'" class="de-emph">
  Graph as
  <div class="btn-group">
    <button class="btn btn-default"
            ng-if="attr.typeName === 'Double'"
            ng-class="{ active: side.state.widthAttributeTitle === attr.title }"
            ng-click="side.set('widthAttributeTitle', attr.title)">
      Width
    </button>
  </div>
</span>

<histogram-button ng-show="attr.canBucket" attr="attr" side="side"
  model="histogram" type="edge" tsv="histogramTSV">
</histogram-button>
<copy-box ng-show="histogram" description="Histogram as TSV" data="{{histogramTSV}}"></copy-box>
<label ng-show="histogram && attr.isNumeric">
  <input type="checkbox" ng-model="side.axisOptions('edge', attr.title).logarithmic"> logarithmic
</label>

<div class="btn-group pull-right" dropdown>
  <a href class="btn-dropdown dropdown-toggle"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href ng-click="toggleRenaming()">
      <i class="glyphicon glyphicon-pencil"></i> Rename...
    </a></li>
    <li><a href ng-click="side.discard('edge-attribute', attr.title);">
      <i class="glyphicon glyphicon-trash"></i> Discard
    </a></li>
    <li><a href ng-click="side.clone('edge-attribute', attr.title);">
      <i class="glyphicon glyphicon-floppy-disk"></i> Clone
    </a></li>
  </ul>
</div>

<span class="type-name">{{attr.typeName}}</span>
<div class="clearfix"></div>
<histogram ng-show="histogram" model="histogram"></histogram>
