<div class="entity">
  <span class="title"> {{ entity.title }} </span>
  <value class="subtoken"
         ng-if="isScalar()"
         id="scalar-{{scalar.title}}"
         ref="side.scalars[entity.title]"></value>
  <span class="subtoken filter"
        ng-show="getFilter()">
    filter: {{ getFilter() }}
  </span>
  <span class="subtoken"
        ng-show="axisOptions.logarithmic"> log </span>
  <span ng-repeat="opt in ['X', 'Y', 'width']"
        class="subtoken visualization"
        ng-show="side.state.graphMode === 'bucketed' &&
        side.state.attributeTitles[opt.toLowerCase()] === entity.title">
    {{ opt }} </span>

  <span class="subtoken visualization"
        ng-repeat="
        visualization in side.filterApplied(availableVisualizationsLowerCase(), entity.title)">
    {{ visualization }} </span>
</div>

<div class="menu entity-menu">
  <div class="de-emph" ng-show="entity.note">
    {{ entity.title }} = <span trusted-html="entity.note"></span>
  </div>

  <i ng-if="entity.computeProgress === 1.0"
     class="de-emph compute-progress glyphicon glyphicon-ok"
     drop-tooltip="Already computed"
     drop-tooltip-position="right middle"></i>
  <i ng-if="entity.computeProgress === 0.5"
     class="de-emph compute-progress glyphicon glyphicon-flash"
     drop-tooltip="Computation started"
     drop-tooltip-position="right middle"></i>

  <div ng-if="isAttribute() || isScalar()"
       class="de-emph"
       drop-tooltip="{{ entity.title }} is of type {{ entity.typeName }}"
       drop-tooltip-position="left middle">
    {{ entity.typeName }}
  </div>

  <div ng-show="
  kind === 'vertex-attribute' && side.state.graphMode === 'bucketed' && entity.canBucket">
    <div class="menu-item"
         id="axis-x-{{entity.title}}"
         ng-class="{ active: side.state.attributeTitles.x === entity.title }"
         ng-click="side.toggleAttributeTitle('x', entity.title)">
      Graph on <b>X</b>
    </div>
    <div class="menu-item"
         id="axis-y-{{entity.title}}"
         ng-class="{ active: side.state.attributeTitles.y === entity.title }"
         ng-click="side.toggleAttributeTitle('y', entity.title)">
      Graph on <b>Y</b>
    </div>
  </div>

  <div ng-show="
  kind === 'edge-attribute' &&
  side.state.graphMode === 'bucketed' && entity.typeName === 'Double'">
    <div class="menu-item"
         ng-class="{ active: side.state.attributeTitles.width === entity.title }"
         ng-click="side.toggleAttributeTitle('width', entity.title)">
      Graph as <b>width</b>
    </div>
  </div>

  <div ng-show="entity.canBucket && !histogram"
       class="menu-item"
       ng-click="showHistogram()">
    <i class="glyphicon glyphicon-stats"></i> Show histogram
  </div>
  <histogram ng-show="histogram" model="histogram" attr-name="{{ entity.title }}"></histogram>
  <copy-box class="pull-right"
            ng-show="histogram"
            description="Copy&nbsp;histogram to&nbsp;clipboard"
            data="{{ histogramTSV }}">
  </copy-box>
  <label ng-show="histogram" id="precise-histogram-calculation" attr-name={{entity.title}}>
    <input type="checkbox" ng-model="precise"></input> precise
  </label>

  <label ng-show="showLogCheckbox()">
    <input type="checkbox" ng-model="axisOptions.logarithmic"> logarithmic
  </label>

  <form ng-show="entity.canFilter">
    <input class="form-control filter"
           placeholder="Filter..."
           ng-model="side.state.filters.vertex[entity.title]"
           ng-model-options="{ updateOn: 'change blur' }"
           id="filter">
  </form>

  <div ng-show="availableVisualizations().length !== 0" class="visualization-menu">
    <div class="de-emph"> Visualize as... </div>
    <div class="menu-item"
         ng-repeat="vis in availableVisualizations()"
         ng-class="{ active: side.filterApplied([vis.toLowerCase()], entity.title).length }"
         ng-click="side.toggleAttributeTitle(vis.toLowerCase(), entity.title)"
         id="visualize-as-{{ vis | id }}"> {{ vis }} </div>
  </div>

  <input ng-show="side.state.attributeTitles.slider === entity.title"
         id="slider"
         type="range"
         ng-model="side.state.sliderPos"
         min="-1"
         max="101"
         tooltip="Threshold">

  <div class="menu-item" ng-click="discard()">
    <i class="glyphicon glyphicon-trash"></i> Discard
  </div>

  <div class="menu-item" ng-hide="menu.renaming" ng-click="startRenaming()">
    <i class="glyphicon glyphicon-pencil"></i> Rename...
  </div>
  <form ng-show="menu.renaming" ng-submit="applyRenaming()">
    <input class="form-control filter"
           placeholder="Rename..."
           ng-model="menu.renameTo"
           id="rename-to">
  </form>

  <div class="menu-item" ng-click="duplicate()">
    <i class="glyphicon glyphicon-floppy-disk"></i> Duplicate
  </div>

</div>
