<div class="entity">
  <span class="title"> {{ entity.title }} </span>
  <value class="subtoken"
         ng-if="isScalar()"
         id="scalar-{{scalar.title}}"
         ref="side.scalars[entity.title]"></value>
  <span class="subtoken filter"
        ng-show="getFilter()">
    filter: {{ getFilter() }}
  </span>
  <span class="subtoken"
        ng-show="axisOptions.logarithmic"> log </span>
  <span ng-show="side.state.graphMode"><!-- Visualization tokens. -->
    <span class="subtoken visualization"
          ng-show="side.state.attributeTitles.x === entity.title"> X </span>
    <span class="subtoken visualization"
          ng-show="side.state.attributeTitles.y === entity.title"> Y </span>

    <span class="subtoken visualization"
          ng-repeat="visualization in side.filterApplied(sampledVisualizations, entity.title)">
      {{ visualization }} </span>
  </span>
</div>

<div class="menu entity-menu">
  <i ng-if="entity.computeProgress === 1.0"
     class="de-emph compute-progress glyphicon glyphicon-ok"
     drop-tooltip="Already computed"
     drop-tooltip-position="right middle"></i>
  <i ng-if="entity.computeProgress === 0.5"
     class="de-emph compute-progress glyphicon glyphicon-flash"
     drop-tooltip="Computation started"
     drop-tooltip-position="right middle"></i>

  <div ng-if="isAttribute() || isScalar()"
       class="de-emph"
       drop-tooltip="Type of {{ humanKind() }}"
       drop-tooltip-position="left middle">
    {{ entity.typeName }}
  </div>

  <div ng-if="side.state.graphMode === 'bucketed' && entity.canBucket">
    <div class="menu-item"
         id="axis-x-{{entity.title}}"
         ng-class="{ active: side.state.attributeTitles.x === entity.title }"
         ng-click="side.toggleAttributeTitle('x', entity.title)">
      Graph on <b>X</b>
      </button>
    </div>
    <div class="menu-item"
         id="axis-y-{{entity.title}}"
         ng-class="{ active: side.state.attributeTitles.y === entity.title }"
         ng-click="side.toggleAttributeTitle('y', entity.title)">
      Graph on <b>Y</b>
      </button>
    </div>
  </div>

  <div ng-show="entity.canBucket && !histogram"
       class="menu-item"
       ng-click="showHistogram()">
    <i class="glyphicon glyphicon-stats"></i> Show histogram
  </div>
  <histogram ng-show="histogram" model="histogram" attr-name="{{ entity.title }}"></histogram>
  <copy-box class="pull-right"
            ng-show="histogram"
            description="Copy&nbsp;histogram to&nbsp;clipboard"
            data="{{histogramTSV}}">
  </copy-box>
  <label ng-show="histogram" id="precise-histogram-calculation" attr-name={{entity.title}}>
    <input type="checkbox" ng-model="precise"></input> precise
  </label>

  <label ng-show="showLogCheckbox()">
    <input type="checkbox" ng-model="axisOptions.logarithmic"> logarithmic
  </label>

  <input ng-show="side.state.attributeTitles.slider === entity.title"
         id="slider"
         type="range"
         ng-model="side.state.sliderPos"
         min="-1"
         max="101"
         tooltip="Threshold">

  <form ng-show="entity.canFilter">
    <input class="form-control filter"
           placeholder="filter"
           ng-model="side.state.filters.vertex[entity.title]"
           ng-model-options="{ updateOn: 'change blur' }"
           name="{{entity.title}}">
  </form>

  <div ng-show="side.state.graphMode === 'sampled' && side.state.display === 'svg'"
       class="visualization-menu">
    <div class="de-emph"> Visualize as... </div>
    <div class="menu-item"
         ng-repeat="vis in availableVisualizations()"
         ng-class="{ active: side.filterApplied([vis.toLowerCase()], entity.title).length }"
         ng-click="side.toggleAttributeTitle(vis.toLowerCase(), entity.title)"
         id="visualize-as-{{ vis | id }}"> {{ vis }} </div>
  </div>

  <div class="menu-item" ng-click="toggleRenaming()">
    <i class="glyphicon glyphicon-pencil"></i> Rename...
  </div>

  <div class="menu-item" ng-click="discard()">
    <i class="glyphicon glyphicon-trash"></i> Discard
  </div>

  <div class="menu-item" ng-click="duplicate()">
    <i class="glyphicon glyphicon-floppy-disk"></i> Duplicate
  </div>

</div>
