<!-- This has to be inside a <form class="form-horizontal">. -->
<div class="form-group" ng-repeat="param in meta.parameters">
  <label for="{{param.id}}" class="col-sm-4 control-label">
    {{param.title}}
    <help-popup href="{{meta.htmlId + '-' + param.id}}"></help-popup>
  </label>
  <div class="col-sm-8 operation-attribute-input" id="{{param.id}}">
    <input ng-if="param.kind === 'default'"
        class="form-control operation-attribute-entry"
        ng-model="output[param.id]"
        ng-disabled="!editable">
    <div
      ui-ace="{
        mode: '{{ param.payload.language }}',
        showGutter: false,
        rendererOptions: {
          fontSize: '16px'
        },
        advanced: {
          behavioursEnabled: false,
          useWorker: false
        },
        onLoad: onLoad,
      }"
      class="form-control operation-attribute-entry"
      ng-if="param.kind === 'code'"
      ng-model="output[param.id]"
      ng-disabled="!editable"></div>
    <file-parameter ng-if="param.kind === 'file'"
        editable="editable"
        model="output[param.id]"
        file-uploads="fileUploads.count"
        class="operation-attribute-entry">
    </file-parameter>
    <model-parameter ng-if="param.kind === 'model'"
        param="param"
        editable="editable"
        model-json="output[param.id]"
        class="operation-attribute-entry">
    </model-parameter>
    <table-kind
      ng-if="param.kind === 'imported-table'"
      box="box"
      params="output"
      snapshot="output[param.id]"
      file-uploads="fileUploads.count"
      class="operation-attribute-entry">
    </table-kind>
    <select
      ng-disabled="!editable"
      ng-if="(param.kind === 'choice' && !param.multipleChoice) || (param.kind === 'segmentation')"
      class="form-control operation-attribute-entry"
      ng-model="output[param.id]"
      ng-options="option.id as option.title for option in param.options"></select>
    <select
      ng-disabled="!editable"
      ng-if="param.kind === 'choice' && param.multipleChoice"
      multiple
      ng-attr-size="{{ param.options.length }}"
      class="form-control operation-attribute-entry"
      ng-model="multiOutput[param.id]"
      ng-options="option.id as option.title for option in param.options"></select>
    <tag-list
      editable="editable"
      ng-if="param.kind === 'tag-list'"
      model="multiOutput[param.id]"
      options="param.options"
      class="operation-attribute-entry"></tag-list>
  </div>
</div>
