<div class="operation-toolbox row" ng-class="{ open: category || searching }">

  <div class="col-sm-1 categories" ng-class="{ uneditable: !editable }">
    <div ng-if="historyMode">
      <!-- History mode control buttons: -->
      <div class="category red"
        id="operation-discard"
        drop-tooltip="Discard operation"
        drop-tooltip-position="left middle"
        drop-tooltip-enable="editable"
        ng-click="editable && discardStep()">
        <i class="glyphicon glyphicon-remove"></i>
      </div>

      <div class="category blue"
        ng-class="{ active: editMode }"
        id="operation-edit"
        ng-if="!editMode"
        drop-tooltip="Edit"
        drop-tooltip-position="left middle"
        drop-tooltip-enable="editable"
        ng-click="editable && enterEditMode()">
        <i class="glyphicon glyphicon-menu-hamburger"></i>
      </div>

      <div class="category blue active"
        id="operation-discard-changes"
        ng-if="editMode"
        drop-tooltip="Discard changes"
        drop-tooltip-position="left middle"
        drop-tooltip-enable="editable"
        ng-click="editable && discardChangesAndFinishEdit()">
        <i class="glyphicon glyphicon-erase"></i>
      </div>
    </div>

    <div ng-if="editMode">
      <!-- The real category buttons: -->
      <div class="category yellow"
        ng-class="{ active: searching }"
        id="operation-search"
        drop-tooltip="Search"
        drop-tooltip-position="left middle"
        drop-tooltip-enable="editable"
        ng-click="editable && searchClicked()">
        <i class="glyphicon glyphicon-search"></i>
      </div>
      <div ng-repeat="cat in categories"
        class="category {{cat.color}}"
        ng-class="{ active: category === cat }"
        drop-tooltip-position="left middle"
        drop-tooltip-enable="editable"
        drop-tooltip="{{cat.title}}"
        ng-click="editable && clickedCat(cat)">
        <span ng-if="cat.icon" class="glyphicon glyphicon-{{cat.icon}}"></span>
        <span ng-if="!cat.icon">{{cat.title[0]}}</span>
      </div>
    </div>
  </div>
  <div ng-if="category && !op" class="box col-sm-11 {{category.color}}">
    <h1>{{category.title}}</h1>
    <div ng-repeat="op in category.ops" ng-click="clickedOp(op)"
        class="operation" ng-class="{ disabled: !op.status.enabled }"
        drop-tooltip="{{op.status.disabledReason || op.description}}"
        drop-tooltip-position="left middle">
      {{op.title}}
    </div>
  </div>

  <div ng-if="searching && !op" class="panel box col-sm-11 yellow">
    <h1><input id="filter" ng-model="opFilter" ng-keyup="filterKey($event)"></h1>
    <div ng-repeat="op in allOps | filter: { title: opFilter } | orderBy: 'title'" ng-click="clickedOp(op)"
        class="operation"
        ng-class="{ disabled: !op.status.enabled, highlight: $index === searchSelection }"
        drop-tooltip="{{op.status.disabledReason || op.description}}"
        drop-tooltip-position="left middle">
      {{op.title}}
    </div>
  </div>

  <div ng-if="op && opMeta">
    <operation
      op="opMeta"
      color="opColor"
      params="params"
      applying="applying"
      editable="editable"
      side-workflow-editor="sideWorkflowEditor"
      history-mode="historyMode">
    </operation>
  </div>
</div>
