<div class="operation-toolbox row" ng-class="{ open: active }">
  <div class="col-sm-1 categories">
    <div ng-repeat="cat in side.project.opCategories"
      class="category {{cat.color}}" ng-class="{ active: active === cat }"
      tooltip-append-to-body="true" tooltip-placement="left" tooltip="{{cat.title}}"
      ng-click="clickedCat(cat)">
      {{cat.icon}}
    </div>
  </div>
  <div ng-if="active && !op" class="panel box col-sm-11 {{active.color}}">
    <h1>{{active.title}}</h1>
    <div class="list-group">
      <div class="list-group-item operation" ng-repeat="op in active.ops" ng-click="clickedOp(op)" ng-class="{ disabled: !op.status.enabled }"
          tooltip="{{op.status.disabledReason}}" tooltip-append-to-body="true" tooltip-placement="left">
        {{op.title}}
      </div>
    </div>
  </div>
  <div ng-if="active && op" class="panel box col-sm-11 {{active.color}}">
    <h1>{{op.title}}</h1>
    <operation class="list-group" op="op" side="side"></operation>
  </div>
</div>
