<div>
  <div class="btn-group pick-buttons" ng-hide="advanced">
    <button class="btn btn-default" id="simple-pick-button" ng-click="requestNewCenters()">
      {{ unchanged() ? 'Next' : 'Pick' }}
    </button>
    <button
       class="btn btn-default"
       id="advanced-mode-button"
       ng-click="advanced = true"
       tooltip="Advanced pick options">
      ...
    </button>
  </div>

  <help-popup href="pick-button" class="pull-right"></help-popup>

  <div ng-show="advanced">
    <div class="form-group">
      <div>Center count</div>
      <input class="form-control" ng-model="count" id="pick-center-count">
    </div>
    <div ng-if="filters.length !== 0">Attribute restrictions</div>
    <div class="pick-attr-restrict btn-group pull-left" ng-repeat="filter in filters">
      <select
         id="center-restriction-{{ $index }}-attribute"
         class="btn btn-default"
         ng-model="filter.attributeName"
         ng-options="attr.title as attr.title for attr in side.filterableVertexAttributes()">
      </select>
      <input
         id="center-restriction-{{ $index }}-spec"
         class="btn btn-default"
         ng-model="filter.valueSpec">
      <button class="btn btn-default" ng-click="removeFilter($index)" tooltip="Remove restriction">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
    <div class="btn-group pull-left">
      <button class="btn btn-default" ng-click="addFilter()" id="add-restriction-button">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;Add restriction
      </button>
      <button class="btn btn-default" ng-click="copyRestrictionsFromFilters()" id="copy-restrictions-button">
        Restrictions from filters
      </button>
    </div>
    <div class="btn-group pull-right">
      <button class="btn btn-default" ng-click="advanced = false" id="simple-mode-button">
        Close
      </button>
      <button class="btn btn-default" id="advanced-pick-button" ng-click="requestNewCenters()">
        {{ unchanged() ? 'Next' : 'Pick' }}
      </button>
    </div>
  </div>
</div>
