<svg class="graph-view"
  graph-view graph="graphView" left="left" right="right" menu="contextMenu"
  version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>
<div id="svg-icons" ng-include="'/icons.svg'" onload="onIconsLoaded()"></div>
<div class="graph-sidebar" ng-class="{ active: sidebarOpen }">
  <div class="inside">
    <copy-box description="Copy&nbsp;graph to&nbsp;clipboard" data="{{tsv}}"></copy-box>
    <div class="filters">
      <div><label><input type="checkbox" ng-model="filters.inverted"> inverted</label></div>
      <div>
        <i tooltip="Brightness" tooltip-placement="right" class="glyphicon glyphicon-certificate"></i>
        <input type="range" max="200" step="1" ng-model="filters.brightness">
      </div>
      <div>
        <i tooltip="Contrast" tooltip-placement="right" class="glyphicon glyphicon-adjust"></i>
        <input type="range" max="200" step="1" ng-model="filters.contrast">
      </div>
      <div>
        <i tooltip="Saturation" tooltip-placement="right" class="glyphicon glyphicon-tint"></i>
        <input type="range" max="200" step="1" ng-model="filters.saturation">
      </div>
      <div><button ng-click="resetFilters()" class="btn btn-default btn-xs">Reset</button></div>
    </div>
  </div>
  <div class="handle" ng-click="sidebarOpen = !sidebarOpen">
  </div>
</div>
<script type="x-shader/x-vertex" id="vertexShader">

  uniform float aspect;
  attribute float side;
  attribute vec3 direction;
  void main() {
    vec4 pos = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    vec4 dir = projectionMatrix * modelViewMatrix * vec4(direction, 1.0);
    float w = pos.w;
    vec4 d = pos / pos.w - dir / dir.w;
    vec4 off = normalize(vec4(-d.y / aspect, d.x, 0, 0));
    gl_Position = pos + 0.4 * side * off * vec4(1.0 / aspect, 1, 1, 1);
  }

</script>
<script type="x-shader/x-vertex" id="fragmentShader">

  void main() {
    gl_FragColor = vec4(1, 1, 1, 1);
  }

</script>
