<div class="row">
  <div class="col-xs-12 project-list">
    <div class="entry" ng-click="newProject.expanded = true">
      <span class="icon glyphicon glyphicon-plus"></span>
      <span class="lead" ng-hide="newProject.expanded">New project</span>
      <form ng-show="newProject.expanded" class="form-inline" role="form">
        <div class="form-group"><input id="new-project-name" placeholder="Project name" ng-model="newProject.name" class="form-control"></div>
        <div class="form-group">about</div>
        <div class="form-group"><input placeholder="Description" ng-model="newProject.notes" class="form-control"></div>
        <span ng-show="util.globals.hasAuth">
          <div class="form-group">that</div>
          <div class="form-group"><select
                                     ng-model="newProject.privacy"
                                     ng-init="newProject.privacy = 'private'"
                                     class="form-control">
              <option value="private">no one else can see</option>
              <option value="public-read">everyone can see</option>
              <option value="public-write">everyone can modify</option>
          </select></div>
        </span>
        <button type="submit" class="btn btn-default" ng-click="createProject()"
          ng-disabled="newProject.sending || !newProject.name">
          {{newProject.sending && '...' || 'Create'}}
        </button>
      </form>
    </div>

    <div class="entry" ng-click="newDirectory.expanded = true">
      <span class="icon glyphicon glyphicon-plus"></span>
      <span class="lead" ng-hide="newDirectory.expanded">New folder</span>
      <form ng-show="newDirectory.expanded" class="form-inline" role="form">
        <div class="form-group"><input id="new-directory-name" placeholder="Folder name" ng-model="newDirectory.name" class="form-control"></div>
        <button type="submit" class="btn btn-default" ng-click="createDirectory()"
          ng-disabled="newDirectory.sending || !newDirectory.name">
          {{newDirectory.sending && '...' || 'Create'}}
        </button>
      </form>
    </div>

    <div class="path" ng-show="path">
      <div class="description">Current folder:</div>
      <span class="lead">
        <!-- Make sure there is no whitespace around the slash, so it can still be copied. -->
        <span ng-repeat="dir in pathElements() track by $index"
          >{{ dir }}<span ng-hide="$last" class="slash">/</span></span>
      </span>
      <span class="clicky glyphicon glyphicon-chevron-left" ng-click="popDirectory()"></span>
    </div>

    <progressbar ng-if="!data.$resolved" value="100" class="progress-striped active">
      Loading...
    </progressbar>

    <p class="alert alert-danger" ng-if="data.$error">
      Could not load project list.
      <i class="pull-right"><a href ng-click="reportListError()">report problem</a></i>
    </p>

    <div ng-repeat="directory in data.directories"
      class="entry" href ng-click="enterDirectory($event, directory)">
      <span class="icon glyphicon glyphicon-folder-open"></span>
      <span class="lead">
        <item-name-and-menu menu="menu" name="{{directory}}" spaced type="directory"></item-name-and-menu>
      </span>
    </div>

    <div ng-repeat="project in data.projects"
      class="entry project-entry clearfix" href ng-click="projectClick($event, project)" ng-class="{ error: project.error }">
      <span class="icon glyphicon glyphicon-file pull-left"></span>
      <span class="lead">
        <item-name-and-menu menu="menu" name="{{project.name}}" spaced type="project"></item-name-and-menu>
        <a href="#/project/{{project.name}}" target="_blank" ng-hide="project.error"
            ng-click="captureClick($event)">
          <span class="icon glyphicon glyphicon-new-window"></span>
        </a>
      </span>

      <div ng-if="project.error">
        {{project.error}}
        <i class="pull-right"><a ng-click="reportProjectError(project)">report problem</a></i>
      </div>
      <div ng-if="!project.error">
        <value ref="vertexCounts[project.name]"></value> vertices,
        <value ref="edgeCounts[project.name]"></value> edges.
        {{project.notes}}
      </div>
    </div>
  </div>
</div>
