<div class="row">
  <div class="col-xs-12 text-center project-list">
    <div class="entry" ng-click="expandNewProject = true">
      <span class="lead" ng-hide="expandNewProject">A new project</span>
      <form ng-show="expandNewProject" class="form-inline" role="form">
        <div class="form-group"><input id="new-project-name" placeholder="Project name" ng-model="newProject.name" class="form-control"></div>
        <div class="form-group">about</div>
        <div class="form-group"><input placeholder="Description" ng-model="newProject.notes" class="form-control"></div>
        <div ng-show="util.globals.hasAuth">
          <div class="form-group">that</div>
          <div class="form-group"><select
                                     ng-model="newProject.privacy"
                                     ng-init="newProject.privacy = 'private'"
                                     class="form-control">
              <option value="private">no one else can see</option>
              <option value="public-read">everyone can see</option>
              <option value="public-write">everyone can modify</option>
          </select></div>
          <button type="submit" class="btn btn-default" ng-click="createProject()"
            ng-disabled="newProject.sending || !newProject.name">
            {{newProject.sending && '...' || 'Create'}}
          </button>
        </div>
      </form>
    </div>

    <div class="path" ng-show="path">
      <span class="clicky glyphicon glyphicon-chevron-left" ng-click="popDirectory()"></span>
      {{ path }}
    </div>

    <progressbar ng-if="!data.$resolved" value="100" class="progress-striped active">
      Loading...
    </progressbar>

    <p class="alert alert-danger" ng-if="data.$error">
      Could not load project list.
      <i class="pull-right"><a href ng-click="reportListError()">report problem</a></i>
    </p>

    <div ng-repeat="directory in data.directories"
      class="entry directory" href ng-click="enterDirectory(directory)">
      <span class="icon glyphicon glyphicon-folder-open"></span>
      {{ directory }}
    </div>
    <div ng-repeat="project in data.projects"
      class="entry project clearfix" href ng-click="projectClick($event, project)" ng-class="{ error: project.error }">
      <span class="icon glyphicon glyphicon-file pull-left"></span>
      <item-name-and-menu menu="menu" name="{{project.name}}" spaced type="project"></item-name-and-menu>
      <div ng-if="project.error">
        {{project.error}}
        <i class="pull-right"><a ng-click="reportProjectError(project)">report problem</a></i>
      </div>
      <div ng-if="!project.error">
        <value ref="vertexCounts[project.name]"></value> vertices,
        <value ref="edgeCounts[project.name]"></value> edges.
        {{project.notes}}
      </div>
    </div>
  </div>
</div>
