<div class="project history" ng-if="show && !side.unsaved.workflowEditor.enabled">

  <div class="project-name">
    <span class="de-emph" ng-repeat="parent in side.parentProjects()">
      {{parent}} &raquo;
    </span>
    {{side.shortName()}}

    <div class="btn-group pull-right">
      <label class="btn btn-default" ng-click="enterWorkflowSaving()" id="save-as-workflow-button"
        tooltip="Save as Workflow" tooltip-append-to-body="true" tooltip-placement="bottom"
        ng-disabled="localChanges || remoteChanges">
        <i class="glyphicon glyphicon-film"></i>
      </label>
      <label class="btn btn-default" ng-click="togglePython()" ng-class="{ active: python }"
        id="toggle-python-button"
        tooltip="Show Python code" tooltip-append-to-body="true" tooltip-placement="bottom">
        Python
      </label>
      <label class="btn btn-default" ng-click="closeHistory()"
        id="close-history-button"
        tooltip="Back to project" tooltip-append-to-body="true" tooltip-placement="bottom">
        <i class="glyphicon glyphicon-arrow-left"></i>
      </label>
    </div>

    <!-- No changes. -->
    <div class="btn-group pull-right" ng-show="!localChanges && !remoteChanges"
      tooltip="No changes" tooltip-append-to-body="true" tooltip-placement="bottom">
      <label class="btn btn-default" disabled>
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </label>
    </div>
    <!-- Local changes. -->
    <div class="btn-group pull-right" ng-show="localChanges"
      tooltip="You are currently editing an operation"
      tooltip-append-to-body="true" tooltip-placement="bottom">
      <label class="btn btn-default" disabled>
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </label>
    </div>
    <div class="btn-group pull-right" ng-show="!localChanges && remoteChanges">
      <!-- Invalid remote changes. -->
      <label class="btn btn-warning inconsistent-history-sign" ng-if="!valid"
        tooltip="History is inconsitent {{listInvalidSteps()}}"
        tooltip-append-to-body="true" tooltip-placement="bottom">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
      </label>
      <!-- Valid remote changes. "Save as" box is closed. -->
      <label class="btn btn-default save-history-button" ng-if="remoteChanges && valid && !showSaveAs"
        ng-click="$parent.showSaveAs = true; $parent.saveAsName = side.state.projectName;"
        tooltip="History is valid. Click to save." tooltip-append-to-body="true" tooltip-placement="bottom">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </label>
      <!-- Valid remote changes. "Save as" box is open. -->
      <label class="btn btn-default save-as-history-box" ng-if="remoteChanges && valid && showSaveAs"
        ng-click="saveAs(saveAsName)"
        tooltip="Click the icon to save as {{saveAsName}}" tooltip-append-to-body="true" tooltip-placement="bottom">
        <form ng-submit="saveAs(saveAsName)" style="display: inline;">
          <input class="form-control save-as" ng-disabled="saving"
            ng-model="saveAsName" ng-click="$event.stopPropagation()">
        </form>
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </label>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="list-group">
    <li class="list-group-item python-code" ng-if="python">
      <div
        ui-ace="{
          mode: 'python',
          rendererOptions: {fontSize: '14px'},
          advanced: {behavioursEnabled: false},
        }"
        class="form-control" style="height: 400px;"
        ng-model="python" id="python-code-editor"></div>
    </li>

    <li class="list-group-item" ng-if="!history.$resolved">
      <progressbar value="100" class="progress-striped active">
        Loading...
      </progressbar>
    </li>
    <li class="list-group-item invalid" ng-if="history.$error">
      Error loading history.
      <i class="pull-right"><a href ng-click="reportError()">report problem</a></i>
    </li>
    <li class="list-group-item">
      <project-history-adder
        ng-if="history.steps.length > 0"
        ng-hide="localChanges || !history.steps[0].editable"
        segmentations="history.steps[0].segmentationsBefore"
        insert-operation="insertBefore(history.steps[0], segmentation)">
      </project-history-adder>
    </li>
    <li class="list-group-item history-operation-item" ng-repeat="step in history.steps"
      ng-class="{
        'has-checkpoint': step.checkpoint !== undefined,
        'local-changes': step.localChanges,
        invalid: !step.status.enabled,
        uneditable: !step.editable,
      }"
      ng-init="cat = step.opMeta.category">
      <div ng-hide="step.status.enabled" class="error">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        {{step.status.disabledReason}}
      </div>
      <div ng-show="segmentationName(step)" class="affected-segmentation">
        <i class="glyphicon glyphicon-arrow-right"></i> {{segmentationName(step)}}
      </div>
      <operation-toolbox
        categories=""
        op="step.request.op.id"
        op-meta="step.opMeta"
        category="cat"
        params="step.request.op.parameters"
        editable="step.editable"
        applying="validating"
        history-mode="true"
        step="step"
        discard-changes="discardChanges()"
        discard-step="discard(step)"
        categories-callback="categoriesCallback($index)">
      </operation-toolbox>
      <project-history-adder
        ng-hide="localChanges || !step.editable"
        segmentations="step.segmentationsAfter"
        insert-operation="insertAfter(step, segmentation)">
      </project-history-adder>
    </li>
  </div>
</div>
