<form class="form-horizontal">
  <div class="form-group">
    <label for="readACL" class="col-sm-4 control-label">Read access:</label>
    <div class="col-sm-4">
      <input class="form-control" id="readACL" ng-model="readACL">
    </div>
  </div>
  <div class="form-group">
    <label for="writeACL" class="col-sm-4 control-label">Write access:</label>
    <div class="col-sm-4">
      <input class="form-control" id="writeACL" ng-model="writeACL">
    </div>
  </div>
  <div class="form-group" ng-show="changed()">
    <div class="col-sm-offset-4 col-sm-4">
      <button type="submit" class="btn btn-primary" ng-click="save()">Save changes</button>
    </div>
  </div>
</table>
