<span ng-hide="renaming">
  {{scalar.title}}
</span>
<form ng-submit="renaming = side.rename('scalar', scalar.title, newName)" style="display: inline;" ng-show="renaming">
  <input id="renameBox" class="form-control" style="display: inline; width: 200px;"
    ng-model="newName" ng-blur="renaming = newName !== scalar.title">
</form>

<span class="scalar-value" ng-bind-html="value | trustAsHtml"></span>

<div class="btn-group pull-right" dropdown>
  <a href class="btn-dropdown dropdown-toggle"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href ng-click="toggleRenaming()">
      <i class="glyphicon glyphicon-pencil"></i> Rename...
    </a></li>
    <li><a href ng-click="side.discard('scalar', scalar.title);">
      <i class="glyphicon glyphicon-trash"></i> Discard
    </a></li>
    <li><a href ng-click="side.clone('scalar', scalar.title);">
      <i class="glyphicon glyphicon-floppy-disk"></i> Clone
    </a></li>
  </ul>
</div>

<span class="type-name">{{scalar.typeName}}</span>
