<span ng-if="!renaming">
  {{segmentation.name}}
</span>
<label>
  <form ng-submit="renaming = side.rename('segmentation', segmentation.name, newName)" style="display: inline;" ng-show="renaming">
    <input class="form-control" ng-model="newName" ng-blur="renaming = newName !== segmentation.name">
  </form>
  <span ng-click="newName = renaming ? newName : segmentation.name; renaming = !renaming || side.rename('segmentation', segmentation.name, newName);"></i>
    <i class="clicky glyphicon glyphicon-pencil" tooltip="Rename" tooltip-append-to-body="true"></i>
  </span>
</label>

<span class="clicky glyphicon glyphicon-arrow-right" tooltip="Open"
  ng-click="side.openSegmentation(segmentation)"></span>
