<span ng-hide="renaming">
  {{segmentation.name}}
</span>
<form ng-submit="renaming = side.rename('segmentation', segmentation.name, newName)" style="display: inline;" ng-show="renaming">
  <input id="renameBox" class="form-control" style="display: inline; width: 200px;"
    ng-model="newName" ng-blur="renaming = newName !== segmentation.name">
</form>

<form style="display: inline;">
  <input
    class="form-control filter"
    placeholder="filter"
    ng-model="side.state.filters[segmentation.equivalentAttribute.title]"
    ng-model-options="{ updateOn: 'blur' }">
</form>

<span class="clicky glyphicon glyphicon-arrow-right" tooltip="Open"
  ng-click="side.openSegmentation(segmentation)"></span>

<div class="btn-group pull-right" dropdown>
  <a href class="btn-dropdown dropdown-toggle"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href ng-click="toggleRenaming()">
      <i class="glyphicon glyphicon-pencil"></i> Rename...
    </a></li>
    <li><a href ng-click="side.discard('segmentation', segmentation.name);">
      <i class="glyphicon glyphicon-trash"></i> Discard
    </a></li>
  </ul>
</div>

<div class="clearfix"></div>
