<div class="spark-status">
  <div ng-show="status.activeStages.length > 0" class="text-right">
    <span class="glyphicon glyphicon-cog spinner" tooltip="Calculating..."></span>
    <span class="glyphicon glyphicon-remove kill" tooltip="Stop&nbsp;calculation" ng-click="kill()"></span>
  </div>
  <div class="spark-status-stage" ng-repeat="stage in stages(status) track by stage.id"
    ng-class="{ failed: stage.failed }"
    style="
    height: {{ height(stage) }};
    background-color: {{ hashToColor(stage.active, stage.hash) }};"
    tooltip="{{ message(status, stage) }}">
  </div>
</div>
