<div
  ui-ace="{
    mode: 'sql',
    showGutter: false,
    rendererOptions: { fontSize: '16px' },
    advanced: { behavioursEnabled: false },
  }"
  id="sql-editor"
  ng-model="sql"></div>

<div>
  <button type="submit" class="btn btn-primary" ng-click="runSQLQuery()">Show results</button>
  <span id="sql-box-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>
</div>
<div ng-if="result && !result.$error" id="sql-result">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th ng-repeat="col in result.header">{{ col }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="rows in result.data track by $index">
        <td ng-repeat="item in rows track by $index">{{ item }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div id="sql-error" ng-if="result.$error">
  {{ result.$error }}
  <i class="pull-right"><a href ng-click="reportSQLError()">report problem</a></i>
</div>
