<div id="sql-box-main"
     class="size-{{showTableBrowser ? 'half' : 'full'}}">

<div ng-if="project && isGlobal">
  This query will be executed on project <b>{{ project }}</b>
</div>
<!-- Because of the 'ng-if="onLoad"' attribute, this DIV is (re)created
after sql-box.js is executed, and the function scope.onLoad is defined.
The ng-if creates a new scope, so we need ng-model="$parent.sql"
instead of ng-model="sql" -->
<div ng-if="onLoad"
  ui-ace="{
    mode: 'sql',
    showGutter: false,
    rendererOptions: { fontSize: '16px' },
    advanced: { behavioursEnabled: false },
    onLoad: onLoad,
  }"
  id="sql-editor"
  ng-model="$parent.sql"></div>
<div>
  <span class="ng-binding" ng-hide="renaming">number of rows</span>
  <input class="form-control ng-pristine ng-valid ng-touched"
    type="number"
    min="0"
    id="max-rows"
    ng-model="maxRows">

  <div class="sql-box-button-group">
    <button class="btn btn-primary" id="run-sql-button" ng-click="runSQLQuery()">Show results</button>
    <button class="btn btn-primary"
      ng-disabled="showExportOptions"
      id="save-results-opener"
      ng-click="showExportOptions = true">Export...</button>
    <button
      class="btn btn-primary"
      id="toggle-table-browser"
      ng-click="showTableBrowser = !showTableBrowser">
        Tables {{showTableBrowser ? '&#9204;' : '&#9205;'}}
    </button>
  </div>

  <span id="sql-box-spinner" class="glyphicon glyphicon-cog" ng-if="inProgress"></span>
</div>

<form ng-show="showExportOptions" class="form-horizontal"><fieldset ng-disabled="inProgress">
  <div class="form-group">
    <label for="exportFormat" class="col-sm-4 control-label">
      Format <help-popup href="exporting-data"></help-popup>
    </label>
    <div class="col-sm-8">
      <select class="form-control" id="exportFormat" ng-model="exportFormat">
        <option value="table">LynxKite table</option>
        <option value="view">LynxKite view</option>
        <option ng-if="!isGlobal" value="segmentation">Segmentation</option>
        <option value="csv">CSV</option>
        <option value="json">JSON</option>
        <option value="parquet">Parquet</option>
        <!-- ORC only works with a Hive context. Maybe one day.. <option value="orc">ORC</option>-->
        <option value="jdbc">Database table (via JDBC)</option>
      </select>
    </div>
  </div>

  <div class="form-group" ng-show=
    "exportFormat === 'table' || exportFormat === 'view'">
    <label for="exportKiteTable" class="col-sm-4 control-label">
      {{ exportFormat === 'view' ? 'View' : 'Table' }} name
      <help-popup href="export-lynxkite-table-table"></help-popup>
    </label>
    <div class="col-sm-8">
      <input class="form-control" id="exportKiteTable" ng-model="exportKiteTable">
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'segmentation'">
    <label for="exportSegmentation" class="col-sm-4 control-label">
      Segmentation name <help-popup href="create-segmentation-from-sql-name"></help-popup>
    </label>
    <div class="col-sm-8">
      <input class="form-control" id="exportSegmentation" ng-model="exportSegmentation">
    </div>
  </div>

  <div ng-repeat="format in 'csv json parquet orc'.split(' ')">
    <div class="form-group" ng-show="exportFormat === format">
      <label for="exportPath" class="col-sm-4 control-label">
        Path <help-popup href="export-{{ format }}-path"></help-popup>
      </label>
      <div class="col-sm-8">
        <input
          class="form-control" id="export-{{ format }}-path" ng-model="$parent.exportPath"
          placeholder="Distributed file system path">
      </div>
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'csv'">
    <label for="exportDelimiter" class="col-sm-4 control-label">
      Delimiter <help-popup href="export-csv-delimiter"></help-popup>
    </label>
    <div class="col-sm-8">
      <input class="form-control" id="exportDelimiter" ng-model="exportDelimiter" value=",">
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'csv'">
    <label for="exportQuote" class="col-sm-4 control-label">
      Quote <help-popup href="export-csv-quote"></help-popup>
    </label>
    <div class="col-sm-8">
      <input class="form-control" id="exportQuote" ng-model="exportQuote" value="&quot;">
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'csv'">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="exportHeader"> Include header
          <help-popup href="export-csv-header"></help-popup>
        </label>
      </div>
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'jdbc'">
    <label for="exportJdbcUrl" class="col-sm-4 control-label">
      JDBC URL <help-popup href="export-jdbc-url"></help-popup>
    </label>
    <div class="col-sm-8">
      <input class="form-control" id="exportJdbcUrl" ng-model="exportJdbcUrl" placeholder="jdbc:...">
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'jdbc'">
    <label for="exportJdbcTable" class="col-sm-4 control-label">
      Table <help-popup href="export-jdbc-table"></help-popup>
    </label>
    <div class="col-sm-8">
      <input class="form-control" id="exportJdbcTable" ng-model="exportJdbcTable">
    </div>
  </div>

  <div class="form-group" ng-show="exportFormat === 'jdbc'">
    <label for="exportMode" class="col-sm-4 control-label">
      <help-popup href="export-jdbc-mode"></help-popup>
    </label>
    <div class="col-sm-8">
      <select class="form-control" id="exportMode" ng-model="exportMode">
        <option value="error">The table must not exist</option>
        <option value="overwrite">Drop the table if it already exists</option>
        <option value="append">Insert into an existing table</option>
      </select>
    </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
    <button
      id="save-results" class="btn btn-primary" ng-disabled="!exportFormat" ng-click="export()">
      Save results
    </button>
    <button class="btn btn-primary" ng-click="showExportOptions = false">Cancel</button>
    </div>
  </div>
</fieldset>
</form>
<div id="sql-success" ng-show="success">
  &#x2713; {{ success }}
</div>

<div ng-show="result.header && !result.$error" id="sql-result" class="result-table">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th ng-repeat="col in result.header"
          ng-click="sort.select($index)">
          <span class="sql-column-name">{{col.name}}</span>
          <br>
          <span class="no-break">
            <span class="sql-type">{{col.dataType}}</span>
            <span class="ordering">
              <i ng-show="sort.column === $index.toString()"
                class="glyphicon glyphicon-triangle-{{ sort.reverse ? 'top' : 'bottom' }}"></i>
            </span>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-if="!sort.column"
          ng-repeat="row in result.data">
        <td ng-repeat="item in row track by $index">{{ item }}</td>
      </tr>
      <tr ng-if="sort.column"
        ng-repeat="row in result.data | orderBy:sort.column:sort.reverse track by $index">
        <td ng-repeat="item in row track by $index">{{ item }}</td>
      </tr>
    </tbody>
  </table>
  <button id="show-more"
    ng-show="result.data.length === maxRows"
    class="btn btn-primary"
    ng-click="showMoreRows()">Show {{ showMoreRowsIncrement() }} more rows</button>
</div>
<div id="sql-error" ng-show="result.$error">
  {{ result.$error }}
  <i class="pull-right"><a href ng-click="reportSQLError()">report problem</a></i>
</div>

</div>  <!-- id="sql-box-main" -->

<table-browser
    project-state="side.state"
    directory="directory"
    ng-if="showTableBrowser">
</table-browser>

<div style="clear:both;"></div>

