<!-- Because of the 'ng-if="onLoad"' attribute, this DIV is (re)created
after sql-box.js is executed, and the function scope.onLoad is defined.
The ng-if creates a new scope, so we need ng-model="$parent.sql"
instead of ng-model="sql" -->

<div id="table-browser" style="background-color: white;">

  table: <input type="text" ng-model="tableFilter">
  column: <input type="text" ng-model="columnFilter">
  fully qualify: <input type="checkbox" ng-model="fullyQualifyNames">


<div id="column-browser" ng-show="list">

  <ol id="table-list">
    <li ng-repeat="table in list"
        ng-show="table.nameMatch && (!openTable || openTable === table.relativePath)"
        ng-if="$index < 50">

      <div ng-click="toggleOpen(table)">
        <span ng-class="{
          glyphicon: true,
          'glyphicon-plus': openTable !== table.relativePath,
          'glyphicon-minus': openTable === table.relativePath}"></span>

        <table-browser-entry
            marked-text="table.nameMatch"
            plain-text-fallback="table.columnMatch ? table.relativePath : ''"
            draggable-text="'`' + table.relativePath + '`'">
        </table-browser-entry>

      </div>

      <ol ng-if="openTable === table.relativePath">
        <li>
          <table-browser-entry
              marked-text="['', '*ALL*']"
              draggable-text="allColumns(table)">
          </table-browser-entry>
        </li>

        <li ng-repeat="column in table.columns">
          <table-browser-entry
              marked-text="column.nameMatch"
              draggable-text="getColumnName(table, column)">
          </table-browser-entry>
        </li>
      </ol>
    </li>
  </ol>

</div>
