<div id="table-browser" style="background-color: white;">
  <i>Hint: drag table and column names into the editor box
  with your mouse.</i>

  <div class="checkbox">
    <label>
      <input
          type="checkbox" ng-model="fullyQualifyNames"
          id="use-fully-qualified-names"></input>
      Use fully qualified column names.
    </label>
  </div>

  <input type="text"
      placeholder="Search"
      class="form-control ngpristine ng-valid ng-touched"
      ng-model="searchFilter"
      ng-model-options="{ debounce: 300 }">
  </input>

  <ul ng-include="'table-browser-node.html'" />

</div>
