<label ng-hide="dialogVisible" class="btn btn-default" ng-click="okClick()" id="text-dialog-open">
  {{buttonText}}
</label>
<form ng-show="dialogVisible" ng-submit="okClick()" style="display: inline;">
  <div class="btn-group">
    <input id="dialogInput"
           class="btn btn-default"
           ng-model="dialogText"
           ng-disabled="!dialogEnabled">
    <label class="btn btn-default" ng-click="okClick()" id="text-dialog-ok">
      {{buttonText}}
    </label>
    <label class="btn btn-default"
           ng-click="dialogVisible = false">
      Cancel
    </label>
  </div>
</form>

<help-popup href="{{ help }}" ng-show="help"></help-popup>
