<span class="user-menu hidden-print">
  <span class="login-info" ng-show="util.globals.hasAuth" id="login-info">
    Logged in as {{ util.user.email }}
  </span>
  <!-- <span>
    <a href="#/help" id="help-link" target="_blank">
      <i class="glyphicon glyphicon-question-sign"></i> help
    </a>
  </span> -->
  <span ng-class="direction">
    <a class="dropdown-toggle user-menu-dropup btn btn-default"
       data-toggle="dropdown"
       drop-tooltip="User&nbsp;menu">
      <i class="glyphicon glyphicon-menu-hamburger"></i>
    </a>
    <ul class="dropdown-menu pull-right">
      <li>
        <a href="#/">
          <i class="glyphicon glyphicon-home"></i> home
        </a>
      </li>
      <li ng-if="util.globals.hasAuth">
        <a href="#/changepassword">
          <i class="glyphicon glyphicon-tag"></i> change password
        </a>
      </li>
      <li ng-if="util.user.isAdmin">
        <a href="#/users">
          <i class="glyphicon glyphicon-user"></i> manage users
        </a>
      </li>
      <li ng-if="util.user.isAdmin">
        <a href="#/admin-manual" target="_blank">
          <i class="glyphicon glyphicon-book"></i> admin manual
        </a>
      </li>
      <li ng-if="util.user.isAdmin">
        <a href="#/logs">
          <i class="glyphicon glyphicon-open-file"></i> logs
        </a>
      </li>
      <li ng-if="util.user.isAdmin">
        <a href="#/cleaner">
          <i class="glyphicon glyphicon-hdd"></i> cleaner
        </a>
      </li>
       <li ng-if="util.user.isAdmin">
        <a href="#/backup">
          <i class="glyphicon glyphicon-floppy-save"></i> backup
        </a>
      </li>
      <li>
        <a href ng-click="sendFeedback()">
          <i class="glyphicon glyphicon-exclamation-sign"></i> send feedback
        </a>
      </li>
      <li>
        <a href ng-if="util.globals.hasAuth" ng-click="logout()">
          <i class="glyphicon glyphicon-log-out"></i> log out
        </a>
      </li>
    </ul>
  </span>
</span>
