<!-- If the data is present. -->
<span ng-if="ref.string !== undefined">
  <span ng-if="humanized(ref)" class="value human"
    ng-click="$parent.human = false; $event.preventDefault(); $event.stopPropagation();">
    {{format(ref)}}
  </span>
  <span ng-if="!humanized(ref)" class="value"
    ng-bind-html="ref.string | trustAsHtml"></span>
</span>
<!-- If the data is not present. -->
<span ng-if="ref.string === undefined">
  <span ng-if="ref.$resolved === false" class="spinner">|</span>
  <span ng-if="ref.error" class="value-error" tooltip="{{ref.error}}">&times;</span>
  <span ng-if="ref === undefined" class="value-error">&times;</span>
</span>
