<!-- If the data is present. -->
<span ng-if="ref.string !== undefined">
  <span ng-if="humanized(ref)" class="value human"
    ng-click="setHuman(false); $event.preventDefault(); $event.stopPropagation();">
    {{format(ref)}}
  </span>
  <span ng-if="!humanized(ref)" class="value"
    ng-bind-html="ref.string | trustAsHtml"></span>
</span>
<!-- If the data is not present. -->
<span ng-if="ref.string === undefined">
  <span ng-if="ref.$resolved === false" class="spinner">|</span>
  <span ng-if="ref.$error && ref.$status < 500" tooltip="{{ref.$error}}">?</span>
  <span ng-if="ref.$error && ref.$status >= 500"
    class="value-error" tooltip="Click to report error" ng-click="reportError()">&times;</span>
  <span ng-if="ref === undefined" class="value-error" ng-click="reportError()">&times;</span>
</span>
