<span ng-if="!renaming">
  {{attr.title}}
</span>
<label>
  <form ng-submit="renaming = side.rename('vertex-attribute', attr.title, newName)" style="display: inline;" ng-show="renaming">
    <input class="form-control" ng-model="newName" ng-blur="renaming = newName !== attr.title">
  </form>
  <span ng-click="newName = renaming ? newName : attr.title; renaming = !renaming || side.rename('vertex-attribute', attr.title, newName);"></i>
    <i class="clicky glyphicon glyphicon-pencil" tooltip="Rename" tooltip-append-to-body="true"></i>
  </span>
</label>

<span ng-if="side.state.graphMode === 'bucketed'">
  <button class="btn"
          ng-class="{ 'btn-primary': side.state.xAttributeTitle === attr.title,
                      'btn-default': side.state.xAttributeTitle !== attr.title }"
      ng-click="side.set('xAttributeTitle', attr.title)">
    Graph on X
  </button>
  <button class="btn"
          ng-class="{ 'btn-primary': side.state.yAttributeTitle === attr.title,
                      'btn-default': side.state.yAttributeTitle !== attr.title }"
          ng-click="side.set('yAttributeTitle', attr.title)">
    Graph on Y
  </button>
</span>
<span ng-if="side.state.graphMode === 'sampled'">
  <button class="btn"
          ng-class="{ 'btn-primary': side.state.sizeAttributeTitle === attr.title,
                      'btn-default': side.state.sizeAttributeTitle !== attr.title }"
          ng-click="side.set('sizeAttributeTitle', attr.title)">
    Graph as size
  </button>
  <button class="btn"
          ng-class="{ 'btn-primary': side.state.labelAttributeTitle === attr.title,
                      'btn-default': side.state.labelAttributeTitle !== attr.title }"
          ng-click="side.set('labelAttributeTitle', attr.title)">
    Graph as label
  </button>
</span>
<form style="display: inline;">
  <input class="form-control filter" placeholder="filter" ng-model="side.state.filters[attr.id]"
    ng-model-options="{ updateOn: 'blur' }">
</form>
<histogram-button attr="attr" side="side" model="histogram"></histogram-button>
<histogram ng-show="histogram" model="histogram"></histogram>

<span class="type-name">{{attr.typeName}}</span>
