<item-name-and-menu menu="side" name="{{attr.title}}" type="vertex-attribute" ng-if="!attr.isInternal" ></item-name-and-menu>
<span ng-if="attr.isInternal">{{attr.title}}</span>

<span ng-if="side.state.graphMode === 'bucketed' && attr.canBucket" class="de-emph">
  Graph on
  <div class="btn-group">
    <button class="btn btn-default"
        ng-class="{ active: side.state.attributeTitles.x === attr.title }"
        ng-click="side.toggleAttributeTitle('x', attr.title)">
      X
    </button>
    <button class="btn btn-default"
        ng-class="{ active: side.state.attributeTitles.y === attr.title }"
        ng-click="side.toggleAttributeTitle('y', attr.title)">
      Y
    </button>
  </div>
</span>
<span ng-if="side.state.graphMode === 'sampled'" class="de-emph">
  Graph as
  <div class="btn-group">
    <button class="btn btn-default"
            ng-if="attr.typeName === 'Double'"
            ng-class="{ active: side.state.attributeTitles.size === attr.title }"
            ng-click="side.toggleAttributeTitle('size', attr.title)">
      Size
    </button>
    <button class="btn btn-default"
            ng-class="{ active: side.state.attributeTitles.label === attr.title }"
            ng-click="side.toggleAttributeTitle('label', attr.title)">
      Label
    </button>
    <button class="btn btn-default"
            ng-if="attr.typeName === 'Double' || attr.typeName === 'String'"
            ng-class="{ active: side.state.attributeTitles.color === attr.title }"
            ng-click="side.toggleAttributeTitle('color', attr.title)">
      Color
    </button>
    <button class="btn btn-default"
            ng-if="attr.typeName === 'String'"
            ng-class="{ active: side.state.attributeTitles.icon === attr.title }"
            ng-click="side.toggleAttributeTitle('icon', attr.title)">
      Icon
    </button>
    <button class="btn btn-default"
            ng-if="attr.typeName === 'String'"
            ng-class="{ active: side.state.attributeTitles.image === attr.title }"
            ng-click="side.toggleAttributeTitle('image', attr.title)">
      <div tooltip="The attribute must be the URL of an image." tooltip-append-to-body="true">
        Image
      </div>
    </button>
    <button class="btn btn-default"
            ng-if="attr.isNumeric"
            ng-class="{ active: side.state.attributeTitles.slider === attr.title }"
            ng-click="side.toggleAttributeTitle('slider', attr.title)">
      Slider
    </button>
  </div>
</span>
<input ng-if="side.state.attributeTitles.slider === attr.title"
  type="range" ng-model="side.state.sliderPos" min="-1" max="101" tooltip="Threshold">

<form ng-if="attr.canFilter" style="display: inline;">
  <input class="form-control filter" placeholder="filter" ng-model="side.state.filters.vertex[attr.title]"
    ng-model-options="{ updateOn: 'blur' }">
</form>
<histogram-button ng-show="attr.canBucket" attr="attr" side="side"
  model="histogram" type="vertex" tsv="histogramTSV">
</histogram-button>
<copy-box ng-show="histogram" description="Copy&nbsp;histogram to&nbsp;clipboard" data="{{histogramTSV}}"></copy-box>
<label ng-show="showLogCheckbox()">
  <input type="checkbox" ng-model="axisOptions.logarithmic"> logarithmic
</label>

<span class="type-name">{{attr.typeName}}</span>
<div class="clearfix"></div>
<histogram ng-show="histogram" model="histogram"></histogram>
