<item-name-and-menu menu="side" name="{{attr.title}}" type="vertex-attribute" ng-if="!attr.isInternal" ></item-name-and-menu>
<span ng-if="attr.isInternal">{{attr.title}}</span>

<span ng-if="side.state.graphMode === 'bucketed' && attr.canBucket" class="de-emph">
  Graph on
  <div class="btn-group">
    <button class="btn btn-default"
        ng-class="{ active: side.state.attributeTitles.x === attr.title }"
        ng-click="side.toggleAttributeTitle('x', attr.title)">
      X
    </button>
    <button class="btn btn-default"
        ng-class="{ active: side.state.attributeTitles.y === attr.title }"
        ng-click="side.toggleAttributeTitle('y', attr.title)">
      Y
    </button>
  </div>
</span>
<input ng-if="side.state.attributeTitles.slider === attr.title"
  type="range" ng-model="side.state.sliderPos" min="-1" max="101" tooltip="Threshold">

<form ng-if="attr.canFilter" style="display: inline;">
  <input class="form-control filter" placeholder="filter" ng-model="side.state.filters.vertex[attr.title]"
    ng-model-options="{ updateOn: 'blur' }">
</form>
<span ng-if="side.state.graphMode === 'sampled' && side.state.display === 'svg'" class="de-emph sampled-visualizations">
  <span class="visualizations"><selected-visualization
    ng-repeat="visualization in side.filterApplied(['size', 'label', 'label size', 'color', 'opacity', 'label color', 'icon', 'image', 'slider', 'position'], attr.title)"
    side="side"
    attr="attr.title"
    visualization="visualization"></selected-visualization></span>

  <span class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
    <span class="clicky glyphicon glyphicon-eye-open" tooltip="Visualize attribute"></span>
  </span>
  <ul class="dropdown-menu" role="menu">
    <li class="text-center">
      Visualize as...
    </li>
    <li>
      <a ng-click="side.toggleAttributeTitle('label', attr.title)" href>Label</a>
    </li>
    <li ng-if="attr.typeName === 'Double'">
      <a ng-click="side.toggleAttributeTitle('size', attr.title)" href>Size</a>
    </li>
    <li ng-if="attr.typeName === 'Double' || attr.typeName === 'String'">
      <a ng-click="side.toggleAttributeTitle('color', attr.title)" href>Color</a>
    </li>
    <li ng-if="attr.typeName === 'Double'">
      <a ng-click="side.toggleAttributeTitle('opacity', attr.title)" href>Opacity</a>
    </li>
    <li ng-if="attr.typeName === 'Double' && side.state.attributeTitles['label'] !== undefined">
      <a ng-click="side.toggleAttributeTitle('label size', attr.title)" href>Label Size</a>
    </li>
    <li ng-if="(attr.typeName === 'Double' || attr.typeName === 'String') && side.state.attributeTitles['label'] !== undefined">
      <a ng-click="side.toggleAttributeTitle('label color', attr.title)" href>Label Color</a>
    </li>
    <li ng-if="attr.typeName === 'String'">
      <a ng-click="side.toggleAttributeTitle('icon', attr.title)" href>Icon</a>
    </li>
    <li ng-if="attr.typeName === 'String'">
      <a ng-click="side.toggleAttributeTitle('image', attr.title)" href>Image</a>
    </li>
    <li ng-if="attr.isNumeric">
      <a ng-click="side.toggleAttributeTitle('slider', attr.title)" href>Slider</a>
    </li>
    <li ng-if="attr.typeName === '(Double, Double)'">
      <a ng-click="side.toggleAttributeTitle('position', attr.title)" href>Position</a>
    </li>
  </ul>
</span>
<histogram-button ng-show="attr.canBucket" attr="attr" side="side"
  model="histogram" type="vertex" tsv="histogramTSV">
</histogram-button>
<copy-box ng-show="histogram" description="Copy&nbsp;histogram to&nbsp;clipboard" data="{{histogramTSV}}"></copy-box>
<label ng-show="showLogCheckbox()">
  <input type="checkbox" ng-model="axisOptions.logarithmic"> logarithmic
</label>

<span class="type-name">{{attr.typeName}}</span>
<div class="clearfix"></div>
<histogram ng-show="histogram" model="histogram"></histogram>
