.top-alerts {
  position: fixed;
  z-index: 10;
  top: 50px;
  left: 0;
}

.top-alert {
  margin: 20px;
  padding: 10px;
  background: #efb1ad; /* Brand color. */
  color: #9b2016; /* Brand color. */
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.top-alert .fa-exclamation-triangle {
  padding: 5px;
  font-size: 30px;
  position: absolute;
}

.top-alert-message {
  padding: 10px;
  margin-left: 35px;
}

.top-alert .clicky {
  margin-top: -10px;
  margin-right: -10px;
}

.top-alert-footer {
  text-align: right;
}

.top-alert-footer a {
  color: #9b2016; /* Brand color. */
  opacity: 0.6;
}

.alert-details {
  padding-top: 10px;
}
