.bottom-links {
  position: inherit;
  float: inherit;
  bottom: inherit;
  right: inherit;
  background-color: rgba(255,255,255,0.9);
  z-index: 2; /* The bottom links should not be covered by the spark status indicator. */
}

.bottom-links > * {
  margin-right: 10px;
}

.login-info {
  color: gray;
  text-align: right;
  padding: 10px;
}

.bottom-links-dropup {
  cursor: pointer;
  user-select: none;
}

.bottom-links-original {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.bottom-links-workspace {
  position: relative;
  float: left;
  margin-top: 8px;
  margin-left: 8px;
}

