.bottom-links {
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-color: white;
}

.bottom-links > * {
  margin-right: 10px;
}

.login-info {
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding: 10px;
}

.bottom-links-dropup {
  cursor: pointer;
}

