.brand-box {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-box #tip {
  text-align: center;
  color: #48aee2;  /* Color from the Lynx logo. */
  margin: 20px;
}

.brand-box .tip tt {
  display: inline-block;  /* Don't break lines in code. */
}
