.brand-box {
  width: 100%;
  padding: 20px;
}
.brand-box table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 30px;
}
.brand-box .tip {
  text-align: center;
  color: #48aee2;  /* Color from the Lynx logo. */
}
