#cleaner-spinner {
  animation: spinner 4s infinite linear;
  font-size: 30px;
  opacity: 0.8;
  /* For some reason it is positioned higher than the buttons and screws up the layout.
   * This is a simple workaround. */
  line-height: 0;
  top: 10px;
}

