.context-menu {
  position: fixed;
  background: white;
  color: black;
  padding: 5px;
  outline: none;  /* No highlight on focus. */
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
  min-width: 250px;
}
.context-menu .menu-title {
  border-bottom: 1px solid #002a4c;
  color: #002a4c;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: bold;
}
.context-menu .menu-item {
  padding: 4px 6px;
  cursor: pointer;
}
.context-menu .menu-item:hover {
  background: #39bcf3 !important;
  color: white;
}
.context-menu .menu-attributes-title {
  margin-top: 10px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: bold;
  color: #002a4c;
  border-bottom: 1px solid #002a4c;
}
.context-menu .menu-attributes-item {
  color: #002a4c;
  padding: 4px 6px;
}
