.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;  /* Has to beat .ui-splitbar's 99999. */
  border-radius: 4px;
  background: #f5f5f5;
  padding-bottom: 4px;
  outline: none;  /* No highlight on focus. */
  box-shadow: 0px 2px 4px;
}
.context-menu .menu-title {
  background: grey;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
}
.context-menu .menu-item {
  padding-left: 6px;
  padding-right: 6px;
}
.context-menu .menu-item:hover {
  background: black !important;
  color: rgba(255, 255, 255, 0.8);
}
.context-menu .menu-attributes-title {
  background: darkgrey;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 16px;
}
.context-menu .menu-attributes-item {
  background: lightgrey;
  padding-left: 20px;
  padding-right: 6px;
}
