@import '../../node_modules/tether/src/css/helpers/tether';
@import '../../node_modules/tether/src/css/helpers/tether-theme-arrows';

@include tether($themePrefix: 'drop');
@include tether-theme-arrows(
  $themePrefix: 'drop',
  $themeName: 'tooltip',
  $arrowSize: 4px,
  $backgroundColor: black,
  $color: white,
  $useDropShadow: false);

.drop-element.drop-theme-tooltip {
  z-index: 1000;
  max-width: 30vw;
}

.drop-element.drop-theme-tooltip .drop-content {
  padding: 4px 8px;
  font-size: 12px;
}

@include tether-theme-arrows(
  $themePrefix: 'drop',
  $themeName: 'help-popup',
  $arrowSize: 10px,
  $backgroundColor: white,
  $color: black,
  $useDropShadow: true);

.drop-element.drop-theme-help-popup {
  z-index: 1000;
  max-width: 30%;
}
.drop-element.drop-theme-help-popup .drop-content > div {
  max-height: 80vh;
  overflow-y: auto; /* Clip and display scrollbars when necessary. */
}
