@import '../../node_modules/tether/src/css/helpers/tether';
@import '../../node_modules/tether/src/css/helpers/tether-theme-arrows';

@include tether($themePrefix: 'drop');
@include tether-theme-arrows(
  $themePrefix: 'drop',
  $themeName: 'tooltip',
  $arrowSize: 4px,
  $backgroundColor: black,
  $color: white,
  $useDropShadow: false);

.drop-element.drop-theme-tooltip {
  z-index: 1000;
  max-width: 30vw;
}

.drop-element.drop-theme-tooltip .drop-content {
  padding: 4px 8px;
  font-size: 12px;
}

@include tether-theme-arrows(
  $themePrefix: 'drop',
  $themeName: 'help-popup',
  $arrowSize: 10px,
  $backgroundColor: white,
  $color: black,
  $useDropShadow: true);

.drop-element.drop-theme-help-popup {
  z-index: 1000;
  max-width: 30%;
}
.drop-element.drop-theme-help-popup .drop-content > div {
  max-height: 80vh;
  overflow-y: auto; /* Clip and display scrollbars when necessary. */
}

@include tether($themePrefix: 'drop');
@include tether-theme-arrows(
  $themePrefix: 'drop',
  $themeName: 'menu',
  $arrowSize: 10px,
  $backgroundColor: white,
  $color: black,
  $useDropShadow: true);

.drop-element.drop-theme-menu {
  z-index: 1000;
}

.drop-element.drop-theme-menu .drop-content {
  padding: 4px 8px;
  /* Display gap even when the arrow is missing.
   * https://github.com/HubSpot/drop/issues/118 */
  margin-top: 10px;
  margin-bottom: 10px;
}

.drop-element.drop-theme-menu .drop-content .menu-item {
  padding: 0 8px;
  margin: 0 -8px;
  cursor: pointer;
  user-select: none;
  &.default {
    background: #f5f5f5;
    color: #444;
  }
  &:hover {
    background: #286090 !important;
    color: white !important;
  }
  &.active::before {
    content: '•';
  }
}

/* Make sure the hidden triangle for pinned dropdowns does not block clicks. */
.drop-element.drop-theme-menu.drop-pinned .drop-content:before {
  display: none;
}
