.top-search input {
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

.entry-list-wrapper {
  padding: 0;
}

.entry-list {
  width: 100%;
  margin: 10px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px;
  padding: 5px 0;
}
@media (min-width: 768px) {
  .entry-list {
    width: 768px;
  }
}
@media (min-width: 960px) {
  .entry-list {
    width: 80%;
  }
}

.entry-list .path {
  padding: 10px;
  background: whitesmoke;
}

.entry-list .path .description {
  opacity: 0.5;
}

.entry-list .slash {
  padding: 0 5px;
}

.entry-list .entry-header > .icon {
  position: absolute;
  padding: 6px;
  margin-left: -34px;
}

.entry-list .entry-header .open-in-new-tab-icon {
  font-size: 60%;
  vertical-align: super;
  color: inherit;
}

.entry-list .entry {
  position: relative;
  border-bottom: 1px solid whitesmoke;
}
.entry-list .entry-header {
  padding-left: 40px;
  color: #004165;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
.entry-list .open .entry-header,
.entry-list .entry-header:hover,
.entry-list .entry-header:focus {
  background: #39bcf3;
  color: white;
}
.entry-list .entry.error {
  color: maroon;
  background: transparent;
  cursor: not-allowed;
}
.entry-list .entry.error a {
  cursor: pointer;
  user-select: none;
}
.entry-list .entry:last-child {
  border-bottom: none;
}

.path-element:hover,
.path-element:focus {
  background: white;
  cursor: pointer;
}

.entry-list .viewer {
  border: 3px solid #39bcf3;
}
.entry-list.wizard .icon {
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
  margin: -20px 10px -10px -25px;
  padding: 0;
  position: relative;
  display: inline-block;
}
