.top-search input {
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

.entry-list-wrapper {
  padding: 0;
}

.entry-list {
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 4px;
  padding: 5px 0;
}
@media (min-width: 768px) {
  .entry-list {
    width: 768px;
  }
}
@media (min-width: 960px) {
  .entry-list {
    width: 80%;
  }
}

.entry-list .path {
  padding: 10px;
  background: whitesmoke;
}

.entry-list .path .description {
  opacity: 0.5;
}

.entry-list .slash {
  padding: 0 5px;
}

.entry-list .entry > .icon,
.entry-list .entry-nohover > .icon {
  position: absolute;
  padding: 6px;
  margin-left: -34px;
}

.entry-list .entry .open-in-new-tab-icon {
  font-size: 60%;
  vertical-align: super;
}

.entry-list .entry:hover .open-in-new-tab-icon,
.entry-list .entry:focus .open-in-new-tab-icon {
  color: white;
}

.entry-list .entry,
.entry-list .entry-nohover {
  position: relative;
  padding-left: 40px;
  border-bottom: 1px solid whitesmoke;
  color: #004165;
  cursor: pointer;
  user-select: none;
}
.entry-list .entry:hover,
.entry-list .entry:focus {
  text-decoration: none;
  background: #39bcf3;
  color: white;
}
.entry-list .entry.error {
  color: maroon;
  background: white;
  cursor: not-allowed;
}
.entry-list .entry.error a {
  cursor: pointer;
  user-select: none;
}
.entry-list .entry:last-child {
  border-bottom: none;
}
.entry-list .entry a.open-in-new-tab-icon {
  color: #004165;
}

.disabled {
  color: darkgrey !important;
  background: white !important;
}

