find-in-page-box > div {
  margin: 0 20px;
}

find-in-page-box .btn {
  border: 0;
  padding: 5px;
  border-radius: 100px;
  font-size: 10px;
}

span.find-highlight {
  background: #39bcf3; /* Brand color. */
  color: white;
}
span.find-highlight-current {
  background: #ff8800; /* Brand color. */
  color: white;
}

@media print {
  find-in-page-box, find-in-page-box *, .find-higlight {
    display: none !important;
  }
}

