.flat-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.popup .flat-toolbar {
  background-color: #002a4c; /* Brand color. */
}

.flat-toolbar-title {
  flex: 1; /* The title fills up the entire space left of the buttons. */
}

.flat-toolbar .btn {
  display: inline-block;
  border-radius: 0;
  border: none;
  background-color: transparent;
  color: #39bcf3; /* Brand color. */
  font-weight: bold;
  margin: 0;
  margin-left: 5px;
}
.flat-toolbar .btn[disabled] {
  color: rgba(255, 255, 255, 0.5);
}
.flat-toolbar .open .btn,
.flat-toolbar .btn.active {
  background-color: #39bcf3; /* Brand color. */
  color: #002a4c; /* Brand color. */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.flat-toolbar .btn:hover {
  color: white;
}

.flat-toolbar .inline-input {
  height: 100%;
}

.flat-toolbar .user-menu .btn {
  height: 100%;
}
