/* Common styles. */

@media print {
  a[href]:after {
    content: "";
  }

  div.ui-splitbar {
    display: none;
  }

  .stretch {
    position: relative;
  }
  .split-screen > .project-sides {
    position: static;
    overflow: visible;
  }

  .graph-sidebar, .spark-status {
    display: none;
  }
}

.tooltip {
  pointer-events: none;
}

.clicky {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
  user-select: none;
}

.clicky:hover {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.clicky.clicky-text {
  width: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

.backend-error-message {
  color: darkred;
  /* Wrap lines, but keep whitespace otherwise. Good for console-oriented errors. */
  white-space: pre-wrap;
}

/*
Makes disabled buttons still receive pointer (e.g. mouse) events.
This is useful for example if we still want to have tooltips if the
button is disabled.
The CSS selector here has to be specific enough so that it overrides the
disabling of pointer events.
*/
label.btn.bypass-disabled {
  pointer-events: auto;
}
