.split-screen > .ui-layout-container:first-child,
.ui-splitbar {
  overflow: hidden;
}

svg.graph-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222 !important; /* Make sure it shows in print. */
  user-select: none;
}
svg.graph-view.loading {
  /* Because of the !important background above, these need to be !important too. */
  background-image: linear-gradient(45deg, #1e1e1e 25%, #262626 25%, #262626 50%, #1e1e1e 50%, #1e1e1e 75%, #262626 75%, #262626) !important;
  background-size: 40px 40px !important;
  animation: progress-bar-stripes 2s linear infinite;
}

#svg-icons {
  /* Used as a source of icons. Must be loaded and laid out, but not visible. */
  visibility: hidden;
  position: fixed;
}

svg text {
  dominant-baseline: middle;
  pointer-events: none;
}

svg text.clicky {
  pointer-events: auto;
  cursor: pointer;
  user-select: none;
}

svg .edge {
  fill: none;
  stroke: #444;
  transition: opacity 0.25s;
}
svg .edge.invisible-edge {
 opacity: 0;
}
svg #arrow {
  fill: #444;
}
svg #arrow-highlight-out {
  fill: white;
}
svg .edge.highlight-out {
  stroke: white;
}
svg .edge.highlight-out text {
  fill: #888;
}
svg #arrow-highlight-in {
  fill: #888;
}
svg .edge.highlight-in {
  stroke: #888;
}
svg .edge.highlight-in text {
  fill: white;
}
svg .vertex .touch {
  fill: transparent;
  cursor: pointer;
  user-select: none;
}
svg .vertex text {
  text-anchor: middle;
  font-family: 'Arial Black', sans-serif;
  fill: white;
}
svg .edge text {
  text-anchor: middle;
  font-family: 'Arial Black', sans-serif;
  stroke: none;
  fill: white;
}

svg .vertex .label-background {
  fill: transparent;
  pointer-events: none;
}
svg .vertex.highlight .label-background {
  fill: white;
}
svg .vertex.highlight text {
  fill: black;
}
svg .vertex.sampled .icon {
  stroke: none;
  cursor: pointer;
  user-select: none;
  fill-rule: evenodd;  /* Allow hollow shapes. */
}
svg .vertex.center .icon {
  stroke: #ddd;
  stroke-width: 3;
}

/* On hover the non-neighboring vertices and their edges are faded out. */
svg.fade-non-opaque .edge,
svg.fade-non-opaque .vertex {
  opacity: 0.2;
}
svg.fade-non-opaque .edge.opaque,
svg.fade-non-opaque .vertex.opaque {
  opacity: 1;
}

svg .bucket {
  font-size: 12px;
  fill: #888;
  text-anchor: middle;
}
svg .bucket.highlight {
  fill: white;
}
svg .bucket.left {
  text-anchor: end;
}
svg .bucket.right {
  text-anchor: start;
}
svg .bucket.axis-label {
  text-anchor: middle;
  font-size: 18px;
  font-weight: bold;
  fill: #444;
}

svg .legend {
  fill: #888;
}
svg .legend text {
  font-size: 12px;
  font-weight: bold;
}

svg .loading {
  fill: #444;
}
svg text.error {
  font-size: 20px;
  fill: white;
}

svg text.error-message {
  font-size: 16px;
  fill: white;
}

svg .side-separator-line {
  stroke: #eeeeee;
  stroke-width: 2;
}
