html {
  overflow-y: scroll;
}

.spinning {
  transition: transform 0.5s ease;
}

.spin180 {
  transform: rotate(180deg);
}

.clicky {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  padding: 8px;
  border-radius: 30px;
  cursor: pointer;
}

.clicky:hover {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.clicky.clicky-text {
  width: 30px;
  line-height: 30px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.panel-heading + .list-group sublist .list-group-item:first-child {
  border-top-width: 1px;
}
.panel-heading + .list-group sublist:first-child .list-group-item:first-child {
  border-top-width: 0;
}
.list-group:first-child sublist:first-child .list-group-item:first-child {
  border-top-width: 0;
}

.shortned {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  top: 0;
  transition: top 0.2s ease, font-size 0.2s ease, padding 0.2s ease;
}

.shortned.mini {
  top: -15px;
  font-size: 10px;
  padding: 2px;
  margin-right: -20px;
}

.unshortned {
  color: rgba(0, 0, 0, 0.7);
  margin: 2px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  word-wrap: break-word;
}

.unshortned b {
  padding-left: 3px;
  padding-right: 3px;
}

table.histogram {
  table-layout: fixed;
  height: 40px;
  width: 100%;
  margin-bottom: -10px;
  margin-top: 5px;
}
table.histogram td {
  width: 5%;
  vertical-align: bottom;
  padding: 0;
  padding-left: 3px;
}
table.histogram .bar {
  background: rgba(0, 0, 0, 0.2);
  transition: height 0.1s ease, background 0.1s ease;
}
table.histogram .bar.highlighted {
  background: rgba(128, 96, 0, 0.5);
}
table.histogram .bar.clipped {
  border-top: 1px dashed #f5f5f5;
}
table.histogram .bar-container {
  position: relative;
  height: 100%;
}
table.histogram .bar-container .histogram-eye {
  display: none;
}
table.histogram .bar-container:hover .histogram-eye {
  display: block;
  position: absolute;
  top: 10px;
  color: rgba(0, 0, 0, 0.5);
  margin: auto;
  left: 0;
  right: 0;
}

h6 {
  font-weight: bold;
}

a.graphlink {
  color: navy;
}

a.graphlink:hover {
  text-decoration: none;
  color: lightblue;
  background: navy;
}

.token {
  display: inline-block;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 2px;
  background: lightblue;
}

ul.bundles {
  padding-left: 0;
}

input.form-control.filter {
  width: 120px;
  display: inline-block;
}

input.form-control.center {
  color: lightblue;
  width: 80px;
  background-color: blue;
  display: inline-block;
  font-weight: bold;
  padding: 0;
  vertical-align: top;
  text-align: center;
  margin-left: 3px;
}
