svg.graph-view {
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 500px;
}

svg .root {
  /* For easier arithmetics put the origin in the middle. */
  transform: translate(250px, 250px);
}

svg text {
  text-anchor: middle;
  dominant-baseline: middle;
  text-shadow: 0 0 1px white;
  pointer-events: none;
}

svg .edge {
  fill: none;
  stroke: whitesmoke;
}
svg #arrow {
  fill: whitesmoke;
}
svg #arrow-highlight-out {
  fill: orange;
}
svg #arrow-highlight-in {
  fill: lightblue;
}
svg .edge .first {
  marker-end: url(#arrow);
}
svg .edge.highlight-out .first {
  marker-end: url(#arrow-highlight-out);
}
svg .edge.highlight-in .first {
  marker-end: url(#arrow-highlight-in);
}
svg .edge.highlight-out {
  stroke: orange;
}
svg .edge.highlight-in {
  stroke: lightblue;
}

svg .vertex {
  fill: lightgrey;
}
svg .highlight .vertex {
  fill: white;
  stroke: orange;
  stroke-width: 4px;
}

svg .vertex-label {
  font-size: 15px;
}
