.help h1, .help h2, .help h3 {
  font-family: 'Exo 2', sans-serif;
}

.help h2 {
  color: #39bcf3 !important; /* Brand color. */
  margin-top: 100px;
  font-weight: bold;
}

.help #lynxkite-logo {
  max-width: 250px;
  margin: 20px;
}

code {
  color: #eb6200 !important; /* Brand color. */
  background-color: rgba(255, 136, 0, 0.1);
}

.help h5 {
  font-weight: bold;
}

.help .popup {
  /* For displaying screenshots like popups. */
  position: static;
  display: block;
  width: min-content;
  margin: 20px auto;
}

.read-more {
  display: block;
  text-align: right;
  cursor: pointer;
  user-select: none;
}

.help dl {
  margin-left: 30px;
}
.help dt {
  display: list-item;
  list-style-type: disc;
}
.help dt > a { /* Anchor. */
  display: none;
}

#help-button {
  cursor: pointer;
  user-select: none;
  padding: 6px; /* Button-like padding. */
  font-size: 14px;
}

.help-popup-positioner {
  position: relative;
  width: 0;
  height: 0;
  pointer-events: auto;
}
.help-popup-positioner help-popup {
  position: absolute;
}
.help-popup-positioner.standout help-popup {
  /* Must beat ui-splitbar at 1010. Or actually everyting. Except ninjas. */
  z-index: 2000;
}

/* Anchors for linking to sections. */
.help a.anchor {
  font-family: sans-serif;
  font-weight: normal;
  float: right;
  display: block;
}
.documentation .help a.anchor {
  display: none;
}
.help a.anchor:before {
  content: "\25B6  open help";
  font-size: 14px;
  vertical-align: middle;
}
.help h1:hover a.anchor,
.help h2:hover a.anchor,
.help h3:hover a.anchor,
.help h4:hover a.anchor {
  display: block;
}

/* Single-page help documents. */
.documentation {
  background: #004165; /* Brand color. */
}
#help-container {
  display: flex;
  height: 100vh;
}
#toc {
  flex: 0 0 auto;
  overflow: auto;
  color: transparent;
  padding-right: 10px;
}
.documentation #whole-help {
  background: white;
  padding: 50px;
  flex: 1 1 auto;
  overflow: auto;
}
#whole-help > * {
  max-width: 1000px;
}

#toc ul {
  padding-left: 10px;
}
#toc .sectlevel1 > li > a {
  font-weight: bold;
}
#toc a {
  display: block;
  padding: 5px;
}
#toc a:hover {
  color: white;
  text-decoration: none;
}

.documentation a.anchor:before {
  content: "\2605  link here";
}

#whole-help .gui-only {
  display: none;
}
.operation-toolbox .help-only {
  display: none;
}

@media print {
  #toc {
    /* The table of contents would be quite useful in print. Unfortunately, there is no browser
     * support for generating page numbers at the moment. And when printing to PDF the links
     * are not clickable. So we cannot produce a usable table of contents. */
    display: none;
  }
  .documentation #whole-help {
    /* Avoid internal scrolling for print. */
    overflow: unset;
  }
  /* Since the TOC is hidden we display the logo above the text instead. */
  .documentation #whole-help::before {
    content: '';
    display: block;
    height: 100px;
    background: url(images/logo.png) center / contain no-repeat #004165 !important; /* Brand color. */
  }
}
