.help h5 {
  font-weight: bold;
}

#toc {
  float: right;
}
@media print {
  #toc {
    /* The table of contents would be quite useful in print. Unfortunately, there is no browser
     * support for generating page numbers at the moment. And when printing to PDF the links
     * are not clickable. So we cannot produce a usable table of contents. */
    display: none;
  }
}

.read-more {
  display: block;
  text-align: right;
  cursor: pointer;
  user-select: none;
}

.help dl {
  margin-left: 30px;
}
.help dt {
  display: list-item;
  list-style-type: disc;
}
.help dt > a { /* Anchor. */
  display: none;
}

#help-button {
  cursor: pointer;
  user-select: none;
  padding: 6px; /* Button-like padding. */
  font-size: 14px;
}

.help-popup-positioner {
  position: relative;
  width: 0;
  height: 0;
}
.help-popup-positioner help-popup {
  position: absolute;
}
.help-popup-positioner.standout help-popup {
  /* Must beat ui-splitbar at 1010. Or actually everyting. Except ninjas. */
  z-index: 2000;
}

/* Anchors for linking to sections. */
.help a.anchor {
  float: right;
  display: block;
}
.documentation .help a.anchor {
  display: none;
}
.help a.anchor:before {
  content: "\25B6  open help";
  font-size: 14px;
  vertical-align: middle;
}
.help h1:hover a.anchor,
.help h2:hover a.anchor,
.help h3:hover a.anchor,
.help h4:hover a.anchor {
  display: block;
}

/* Single-page help documents. */
.documentation {
  background: #004165;
  padding-top: 20px;
  padding-bottom: 20px;
}
.documentation .container {
  background: white;
  padding: 50px;
}

.documentation a.anchor:before {
  content: "\2605  link here";
}

#whole-help .gui-only {
  display: none;
}
.operation-toolbox .help-only {
  display: none;
}

.academy-task {
  font-style: italic;
  border-left: 1em solid #48a;
  margin: 1em 0;
  overflow: auto; /* Avoid margin collapse. */
}
.academy-task p {
  margin: 1em;
}
