.help h5 {
  font-weight: bold;
}

.read-more {
  display: block;
  text-align: right;
  cursor: pointer;
}

.help dl {
  margin-left: 30px;
}
.help dt {
  display: list-item;
  list-style-type: disc;
}
.help dt > a { /* Anchor. */
  display: none;
}

#help-button {
  cursor: pointer;
}
help-popup {
  padding: 6px; /* Button-like padding. */
  font-size: 14px;
}
#help-popup {
  position: absolute;
  width: 30%;
  background: white;
  color: black;
  z-index: 3000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px;
  overflow-y: auto; /* Clip and display scrollbars when necessary. */
}

.help-popup-positioner {
  position: relative;
  width: 0;
  height: 0;
}
.help-popup-positioner help-popup {
  position: absolute;
  /* Must beat ui-splitbar at 1010. Or actually everyting. Except ninjas. */
  z-index: 2000;
}

/* The single-page help document. */
.users-guide {
  background: #48a;
  padding-top: 20px;
  padding-bottom: 20px;
}
.users-guide .container {
  background: white;
  padding: 50px;
}
