.btn-dropdown {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  width: 20px;
  height: 20px;
  text-align: center;
  box-shadow: none !important;
}
.btn-dropdown .caret {
  border-width: 5px;
}

.btn-group.open .btn-dropdown,
.btn-dropdown:hover {
  color: black;
}
