#login-page {
  background-color: #002a4c; /* Brand color. */
  min-height: 100vh;
}

#login-page .entry-list {
  padding: 20px;
}

#login-page .entry-list {
  width: 100%;
}
@media (min-width: 480px) {
  #login-page .entry-list {
    width: 480px;
  }
}
@media (min-width: 960px) {
  #login-page .entry-list {
    width: 50%;
  }
}
