#model-details-spinner {
  animation: spinner 4s infinite linear;
  font-size: 30px;
  opacity: 0.8;
  top: 5px;
  bottom: 5px;
}

#model-details-error {
  color: darkred;
  height: 30px;
}

#model-details-parameters {
  padding-top: 10px;
}

.model-details-text {
  font-family: "Andale Mono", AndaleMono, monospace;
}
