#model-details-spinner {
  animation: spinner 4s infinite linear;
  font-size: 30px;
  opacity: 0.8;
  top: 5px;
  bottom: 5px;
}

#model-details-error {
  color: darkred;
  height: 30px;
}

.model-details-text {
  font: 13px monospace;
  background: whitesmoke;
  border-radius: 4px;
  padding: 5px;
  border: none;
  display: block;
}

#model-details.model-details-text {
  min-width: 500px;
}
