div.operation-toolboxes {
  position: absolute;
  width: 100%;
}

side-operation-toolbox .operation-toolbox {
  position: absolute;
  z-index: 3;
  left: 100%;
  margin-left: -35px;
}

.operation-toolbox.open {
  width: 100%;
}
.rightmost .operation-toolbox.open {
  left: 0;
  margin-left: 0;
}
.rightmost .operation-toolbox.open .box {
  float: right;
}
.rightmost .operation-toolbox.open .categories {
  float: right;
}
.operation-toolbox .box {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  max-width: 1000px; /* Avoid very long lines and very sparse forms. */
  margin-bottom: 20px;
}
.operation-toolbox .box h1 {
  padding: 15px;
  margin: 0;
  color: black;
}

.operation-toolbox .categories {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  width: 35px;
  padding: 0;
}
.operation-toolbox.open .categories {
  box-shadow: none;
}
.operation-toolbox .category {
  padding: 10px;
  text-align: center;
  font: 15px Arial;
}
.operation-toolbox .category.active {
  padding-left: 9px;
  border-left: 1px solid transparent;
}
.operation-toolbox .categories.uneditable {
  cursor: not-allowed;
}

.operation-toolbox .box .clicky:hover { color: black !important; }

@mixin make-color($name, $base) {
  .operation-toolbox {
    .category.#{$name} { color: $base; }
    .category.active.#{$name} { background: $base; color: black; }
    .box.#{$name} h1 { background: $base; }
    .box.#{$name} .clicky:hover { background: $base; }
    .box.#{$name} .ok-button:focus,
    .box.#{$name} .ok-button:hover, { background: $base }
    .box.#{$name} .operation:hover { color: $base; }
    .box.#{$name} .clicky { color: $base; }
    .box.#{$name} .dropdown-toggle { color: $base; }
  }
}

@include make-color("blue", aqua);
@include make-color("green", greenyellow);
@include make-color("magenta", violet);
@include make-color("pink", pink);
@include make-color("red", #f44);
@include make-color("yellow", gold);

.operation {
  cursor: pointer;
  user-select: none;
  padding: 5px;
  color: rgba(255, 255, 255, 0.8);
}
.operation:hover {
  background: black !important;
}
.operation.highlight {
  color: gold !important;
  background: black !important;
}
.operation.disabled {
  color: rgba(255, 255, 255, 0.2) !important;
}

.operation-toolbox form {
  padding: 0 20px;
}
.operation-toolbox label {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
  overflow-wrap: break-word;
}
.operation-toolbox .ok-button {
  padding: 15px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  user-select: none;
}
.operation-toolbox .ok-button:focus,
.operation-toolbox .ok-button:hover {
  color: black;
}

.operation-toolbox .box .description {
  color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}

.operation-toolbox #filter {
  background: transparent;
  border: 0;
  outline: 0;
}

.operation-toolbox #edit-operation-button .glyphicon-pencil {
  color: #333;
}
