/* Trying to get the tag-list to line up with the parameter label. */
tag-list > div {
  margin-top: 3px;
}
tag-list div[dropdown] {
  margin-left: 20px;
}

.tag-list-tag {
  display: inline-block;
  background: rgba(64, 64, 64, 0.8);
  margin-left: 10px;
  margin-bottom: 10px;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}
.tag-list-tag.disabled {
  cursor: default;
  background: transparent;
  color: lightgray;
}

table-kind import-wizard form {
  margin-top: 15px;
}

.parametric-switch {
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: 0.2;
  cursor: pointer;
}
.parametric-switch:hover {
  opacity: 0.5;
}
.parametric-switch.active,
.parametric-switch.active:hover {
  opacity: 1.0;
}

.operation-parameter-input {
  position: relative; /* For good placement of the parametric toggle. */
}

.left-aligned-dummy {
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-aligned-dummy {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
