/* Trying to get the tag-list to line up with the parameter label. */
tag-list > div {
  margin-top: 3px;
}
tag-list div[dropdown] {
  margin-left: 20px;
}

.tag-list-tag {
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  margin-bottom: 10px;
  color: black;
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}
.tag-list-tag.disabled {
  cursor: default;
  background: transparent;
  color: inherit;
}

table-kind import-wizard form {
  margin-top: 15px;
}

.parametric-switch {
  position: absolute;
  right: 0;
  opacity: 0.2;
  cursor: pointer;
}
.parametric-switch:hover {
  opacity: 0.5;
}
.parametric-switch.active,
.parametric-switch.active:hover {
  opacity: 1.0;
}
