div.operation-toolboxes {
  position: absolute;
  width: 100%;
}

.operation-toolbox {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

side-operation-toolbox .operation-toolbox {
  position: absolute;
  z-index: 2;
  left: 100%;
  margin-left: -66px;
}

.operation-toolbox.open {
  width: 100%;
}
.rightmost .operation-toolbox.open {
  left: -31px;
  margin-left: 0;
}
.rightmost .operation-toolbox.open .box {
  float: right;
}
.rightmost .operation-toolbox.open .categories {
  float: right;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.operation-toolbox .box {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
}
.operation-toolbox .box h1 {
  padding: 15px;
  margin: 0;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.operation-toolbox .box .list-group-item {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}
.operation-toolbox .categories {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  cursor: pointer;
  width: 35px;
  padding: 0;
  margin-top: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.operation-toolbox.open .categories {
  box-shadow: none;
  border-radius: 0;
}
.operation-toolbox .category {
  padding: 10px;
  text-align: center;
}
.operation-toolbox .category.active {
  padding-left: 9px;
  border-left: 1px solid transparent;
}

.operation-toolbox .category.orange { color: orange; }
.operation-toolbox .category.yellow { color: gold; }
.operation-toolbox .category.green { color: yellowgreen; }
.operation-toolbox .category.blue { color: aquamarine; }
.operation-toolbox .category.magenta { color: magenta; }
.operation-toolbox .category.active { color: black; }
.operation-toolbox .category.active.yellow { background: gold; }
.operation-toolbox .category.active.orange { background: orange; }
.operation-toolbox .category.active.green { background: yellowgreen; }
.operation-toolbox .category.active.blue { background: aquamarine; }
.operation-toolbox .category.active.magenta { background: magenta; }
.operation-toolbox .box.yellow h1 { background: gold; }
.operation-toolbox .box.orange h1 { background: orange; }
.operation-toolbox .box.green h1 { background: yellowgreen; }
.operation-toolbox .box.blue h1 { background: aquamarine; }
.operation-toolbox .box.magenta h1 { background: magenta; }
.operation-toolbox .box .clicky:hover { color: black !important; }
.operation-toolbox .box.yellow .clicky:hover { background: gold; }
.operation-toolbox .box.orange .clicky:hover { background: orange; }
.operation-toolbox .box.green .clicky:hover { background: yellowgreen; }
.operation-toolbox .box.blue .clicky:hover { background: aquamarine; }
.operation-toolbox .box.magenta .clicky:hover { background: magenta; }
.operation-toolbox .box.yellow .ok-button:focus,
.operation-toolbox .box.yellow .ok-button:hover { background: gold; }
.operation-toolbox .box.orange .ok-button:focus,
.operation-toolbox .box.orange .ok-button:hover { background: orange; }
.operation-toolbox .box.green .ok-button:focus,
.operation-toolbox .box.green .ok-button:hover { background: yellowgreen; }
.operation-toolbox .box.blue .ok-button:focus,
.operation-toolbox .box.blue .ok-button:hover { background: aquamarine; }
.operation-toolbox .box.magenta .ok-button:focus,
.operation-toolbox .box.magenta .ok-button:hover { background: magenta; }
.operation-toolbox .box.yellow .operation:hover { color: gold; }
.operation-toolbox .box.orange .operation:hover { color: orange; }
.operation-toolbox .box.green .operation:hover { color: yellowgreen; }
.operation-toolbox .box.blue .operation:hover { color: aquamarine; }
.operation-toolbox .box.magenta .operation:hover { color: magenta; }
.operation-toolbox .box.yellow .clicky { color: gold; }
.operation-toolbox .box.orange .clicky { color: orange; }
.operation-toolbox .box.green .clicky { color: yellowgreen; }
.operation-toolbox .box.blue .clicky { color: aquamarine; }
.operation-toolbox .box.magenta .clicky { color: magenta; }
.operation-toolbox .box.yellow .dropdown-toggle { color: gold; }
.operation-toolbox .box.orange .dropdown-toggle { color: orange; }
.operation-toolbox .box.green .dropdown-toggle { color: yellowgreen; }
.operation-toolbox .box.blue .dropdown-toggle { color: aquamarine; }
.operation-toolbox .box.magenta .dropdown-toggle { color: magenta; }

.operation-toolbox .panel .list-group-item {
  border: 0;
}
.operation {
  cursor: pointer;
}
.operation:hover {
  background: black !important;
}
.operation.highlight {
  color: gold !important;
  background: black !important;
}
.operation.disabled {
  color: rgba(255, 255, 255, 0.2) !important;
}

.operation-toolbox form {
  padding: 20px;
}
.operation-toolbox label {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}
.operation-toolbox .ok-button {
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.operation-toolbox .ok-button:focus,
.operation-toolbox .ok-button:hover {
  color: black;
}

.operation-toolbox .box .description {
  color: rgba(255, 255, 255, 0.8);
}

.operation-toolbox #filter {
  background: transparent;
  border: 0;
  outline: 0;
}
