parameters-parameter.operation-attribute-entry {
  .table-condensed {
    td {
      padding: 0;
    }
    .form-control {
      padding: 6px;
      border-radius: 0;
      border-right: 0;
      -webkit-appearance: none;
    }
  }
  button {
    border-radius: 0;
  }
}
