.project-name {
  font: bold 3em serif;
}
input[type=range] {
  vertical-align: middle;
}
.de-emph {
  color: rgba(0, 0, 0, 0.3);
}
.de-emph .emph {
  color: black;
}
.warning {
  color: rgb(255, 0, 0);
}

.project {
  min-height: 407px; /* The height of the operations toolbox. */
  margin-right: 35px;
  padding: 10px 15px;
}
.version {
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  padding: 20px;
}

.project-name .pull-right {
  margin-left: 30px;
}

input.save-as {
  display: inline-block;
  width: 200px;
}

.project .sublist label {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}
.project .sublist label:hover {
  color: black;
}

.project .sublist .clicky {
  color: rgba(0, 0, 0, 0.3);
}
.project .sublist .clicky:hover {
  color: black;
}

.entry-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  padding-left: 15px;
  padding-right: 12px;
}

.token-list {
  margin-bottom: 5px;
}

.token {
  display: inline-block;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0.5px 1px 0;
  margin: 3px;
  margin-top: 0;
  padding: 5px 0;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, box-shadow 0.2s;
}

.token .title {
  padding: 0 10px;
}

.token:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0.5px 5px 0;
}

.token.active {
  background: lightgrey;
}
.token.drop-enabled {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0.5px 1px 0;
  background: #286090;
  color: white;
}

.token .subtoken {
  background: hsl(194,50%,80%);
  border-radius: 20px;
  padding: 2px 10px;
  margin: -2px 6px -2px 0;
  transition: background 0.2s;
  display: inline-block;
}

.subtoken.filter {
  background: hsl(104,50%,80%);
}

.subtoken.visualization {
  background: hsl(14,50%,80%);
}

.token.drop-enabled .subtoken {
  background: darkgray;
}

.drop-theme-menu .menu > * {
  display: block;
}

.token-section-label {
  color: rgba(0, 0, 0, 0.3);
  font-size: 80%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10vw;
  border-top: 1px solid #e0e0e0;
}

.token-section-label #help-button {
  font-size: 10px;
  padding: 0 10px;
}
.token-section-label .label-text {
  cursor: pointer;
}

.token-section-label .label-text:hover {
  text-decoration: underline;
}

sampled-view-settings .token:not(.default):not(.drop-enabled),
bucketed-view-settings .token:not(.default):not(.drop-enabled) {
  background: hsl(14,50%,80%);
}

textarea.project-notes {
  resize: vertical;
  background: transparent;
  border: 0;
  padding: 0;
  width: 100%;
}

label {
  font-weight: normal;
}

.token-menu {
  min-width: 216px;
}

.token-menu .histogram {
  width: 200px;
}

.project > .btn-group {
  margin-right: 10px;
}

#apply-filters-button {
  background: hsl(104,50%,80%);
}

.type-name {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}

.entry-bottom #help-button {
  font-size: 10px;
}

.compute-progress {
  margin-right: 6px;
  float: right;
}

.entity-note {
  /* Constrain notes to less than half the screen width to avoid scary large popups. */
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.emoji-picker {
  max-width: 260px;
  max-height: 260px;
  overflow-y: auto;
}

.emoji {
  width: 16px;
  height: 16px;
  margin: 2px;
}

.token .emoji {
  /* "Jump over" margin of title. */
  margin-left: -10px;
  margin-right: 10px;
}

.emoji-picker .emoji {
  cursor: pointer;
}

.scalar-value {
  min-width: 60px;
  display: inline-block;
  text-align: center;
  background: lightgrey;
  border-radius: 3px;
  border: 1px solid darkgrey;
  margin-left: 10px;
  padding: 2px 10px;
  box-shadow: inset 1px 1px 1px #B0B0B0;
}

/* Indentation and bullet for visualization selection. */
.visualization-menu .menu-item::before {
  content: '\a0\a0\a0\a0';
  font-family: monospace;
}

.visualization-menu .menu-item.active::before {
  content: '\a0\a0✓\a0' !important;
  font-family: monospace;
}

.extra-controls .control {
  max-width: 200px;
  display: inline-block;
}

#sample-center .input-group-btn {
  vertical-align: bottom;
}
#sample-center .input-group-btn .btn {
  margin-left: -1px;  /* Due to some glitch Bootstrap sets this to -4px. */
}
#sample-center.loading {
  background-color: whitesmoke;
  background-image: linear-gradient(45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  animation: progress-bar-stripes 2s linear infinite;
}
#sample-center.loading * {
  visibility: hidden;
}

.split-screen {
  /* An out-of-screen tooltip may cause overflow in split screen mode. Without this
   * setting, those would create an extra scroll-bar. */
  overflow: hidden;
}
.split-screen .project-sides {
  /* In split screen mode the lower half (the project sides) have their own scrollbar. */
  overflow: auto;
}

.single-screen {
  /* In single screen overflow is managed by the scrollbar of the <body> element so
   * we just allow everything to overflow here. */
  overflow: visible;
}
.single-screen .project-sides {
  overflow: visible;
}

.split-screen > .ui-splitbar {
  background: black;
}

.side {
  padding: 0;
}
.side .panel {
  border-top: none;
  border-radius: 0;
}
#side-left .panel {
  border-left: none;
}

.acl-settings {
  background-color: whitesmoke;
}

.pick-buttons {
  float: right;
}
.pick-attr-restrict {
  padding: 4px 0px;
  width: 100%;
}
.pick-attr-restrict select {
  width: 30%;
  height: 34px;
}
.pick-attr-restrict input {
  width: 60%;
}
.pick-attr-restrict button {
  width: 10%;
  padding: 6px 0px;
}

/* Add a bit of internal and vertical margin in the center picker. */
pick-options table {
  margin: 0 -10px;
  border-collapse: separate;
  border-spacing: 10px;
}

/* Fit "OK" button by visualization name. */
#menu-setting-save-visualization input {
  width: auto;
  display: inline;
}
#menu-setting-save-visualization button {
  vertical-align: top;
}

/* Click these to report errors. */
.progress-bar-danger {
  cursor: pointer;
}
