.top-search input {
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

.project-list {
  padding: 0;
}

.project-list .path {
  padding: 10px;
  background: whitesmoke;
}

.project-list .path .description {
  opacity: 0.5;
}

.project-list .slash {
  padding: 0 5px;
}

.project-list .entry > .icon,
.project-list .entry-nohover > .icon {
  position: absolute;
  padding: 10px;
  margin-left: -40px;
  margin-top: 6px;
}

.project-list .entry .open-in-new-tab-icon {
  font-size: 60%;
  vertical-align: super;
}

.project-list .entry:hover .open-in-new-tab-icon,
.project-list .entry:focus .open-in-new-tab-icon {
  color: white;
}

.project-list .entry,
.project-list .entry-nohover {
  position: relative;
  padding: 10px;
  padding-left: 40px;
  border-bottom: 1px solid whitesmoke;
  color: #428BCA;
  cursor: pointer;
}
.project-list .entry:hover,
.project-list .entry:focus {
  text-decoration: none;
  background: #428BCA;
  color: white;
}
.project-list .entry.error {
  color: maroon;
  background: white;
  cursor: not-allowed;
}
.project-list .entry.error a {
  cursor: pointer;
}
