project-history .project {
  max-width: 1000px; /* Avoid stretching unreasonably widely. */
  margin: auto; /* Center when limited by max-width. */
}

project-history .list-group-item {
  border-width: 0;
  border-top-width: 1px;
}
project-history .list-group-item:first-child {
  border-top-width: 0;
}

project-history h2 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

project-history .list-group-item.invalid {
  background-color: hsl(20, 60%, 90%);
}
project-history .list-group-item.has-checkpoint {
  background-color: #ddd;
}
project-history .list-group-item.uneditable {
  opacity: 0.5;
}

project-history .error {
  color: hsl(20, 60%, 50%);
}

project-history .operation-toolbox .box h1 {
  font-size: 20px;
}

/* Show OK button for operation with local changes only. */
project-history .operation-apply-button {
  display: none;
}
project-history .local-changes .operation-apply-button {
  display: block;
}

project-history .affected-segmentation {
  text-align: center;
  opacity: 0.6;
  margin-bottom: 10px;
}

workflow-editor .form-group {
  padding: 0px 10px;
}
