.top-search input {
  border: 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

.project-list {
  padding: 0;
}

.project-list .path {
  padding: 10px;
  background: whitesmoke;
}

.project-list .slash {
  padding: 0 5px;
}

.project-list > div.entry > .icon {
  position: absolute;
  padding: 10px;
  margin-left: -40px;
  margin-top: 6px;
}

.project-list > div.entry {
  position: relative;
  padding: 10px;
  padding-left: 40px;
  border-bottom: 1px solid whitesmoke;
  color: #428BCA;
  cursor: pointer;
}
.project-list > div.entry:hover,
.project-list > div.entry:focus {
  text-decoration: none;
  background: #428BCA;
  color: white;
}
.project-list > div.entry.error {
  color: maroon;
  background: white;
  cursor: not-allowed;
}
.project-list > div.entry.error a {
  cursor: pointer;
}
