.project-name {
  font-size: 2em;
}
.right-range-input {
  vertical-align: middle;
  float: right;
  margin: 10px;
}
.de-emph {
  color: rgba(0, 0, 0, 0.3);
}
[vertex-attribute] {
  border-left-width: 5px !important;
}
[edge-attribute] {
  border-left-width: 5px !important;
}
[segmentation] {
  border-left-width: 5px !important;
}
.operation .title {
  padding-top: 7px;
  display: inline-block;
}
.operation label {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.3);
}
.operation .form-group:last-child {
  margin-bottom: 0;
}
