.shortned {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  top: 0;
  transition: top 0.2s ease, font-size 0.2s ease, padding 0.2s ease;
}

.shortned.mini {
  top: -15px;
  font-size: 10px;
  padding: 2px;
  margin-right: -20px;
}

.unshortned {
  color: rgba(0, 0, 0, 0.7);
  margin: 2px;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  word-wrap: break-word;
}

.unshortned b {
  padding-left: 3px;
  padding-right: 3px;
}
