.spark-status {
  position: fixed;
  bottom: 4px;
  right: 50px;
}

.spark-status .spinner {
  animation: spinner 4s infinite linear;
  font-size: 30px;
  opacity: 0.5;
}

.spark-status .kill {
  opacity: 0;
  font-size: 30px;
  cursor: pointer;
}
.spark-status:hover .kill {
  opacity: 0.5;
}

.spark-status-stage {
  float: right;
  width: 20px;
  height: 20px;
  transition: height 0.5s ease, background-color 1s;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-left: -1; /* To overlap the borders. */
}
.spark-status-stage.failed {
  border-color: red;
}
