.project-sides {
  padding-bottom: 60px; /* Make sure the status does not hide anything. */
}

.spark-status {
  position: fixed;
  bottom: 5px;
  right: 40px;
}

.spark-status .spinner {
  animation: spinner 4s infinite linear;
  font-size: 30px;
  opacity: 0.5;
}

.spark-status .kill {
  opacity: 0;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}
.spark-status:hover .kill {
  opacity: 0.5;
}

.spark-status-stages {
  position: relative;
  width: 200px;
  height: 20px;
}

.spark-status-stage {
  width: 21px; /* Overlap borders. */
  height: 20px;
  position: absolute;
  transition: height 0.5s ease, background-color 1s, opacity 1s, right 0.1s ease;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.spark-status-stage.failed {
  border-color: red;
}

@keyframes red-blink {
  from { color: black; }
  to { color: red; }
}
.spark-status-error {
  animation: red-blink 1s infinite alternate;
  font-size: 30px;
  margin-right: 30px; /* Same place as the cogwheel. */
}
