#splash {
  background-color: #004165;
  min-height: 100vh;
}

#splash .version {
  color: white;
}

.big-brand {
  margin: 0;
  text-align: center;
  background: #004165;
  position: relative;
}

.big-brand #lynx-logo {
  height: 50px;
  position: absolute;
  left: 10px;
  top: 5px;
}

.big-brand #lynxkite-logo {
  margin-top: 50px;
  max-width: 100%;
}

.big-brand #tagline {
  font-size: 18px;
  margin-top: -10px;
  color: #39bcf3;
}
