#splash {
  background-color: #002a4c; /* Brand color. */
  min-height: 100vh;
}

.big-brand {
  margin: 0;
  margin-top: 50px;
  text-align: center;
  background: #002a4c; /* Brand color. */
}

.big-brand #lynxkite-logo {
  max-width: 50%;
}

.big-brand #tagline {
  color: #39bcf3; /* Brand color. */
  font-size: 14px;
}
@media (min-width: 1400px) {
  .big-brand #tagline {
    font-size: 18px;
  }
}

.tour-tour {
  min-width: 300px;
}
.tour-tour .popover-title {
  display: none;
}
.tour-tour .btn.disabled {
  pointer-events: none;
}
.tour-backdrop {
  opacity: 0.3;
}

.wizard-nav-links {
  color: white;
}
.wizard-nav-links .col-sm-12 > * {
  padding: 0 10px;
}

.folder-description {
  color: #004165;
  padding: 10px;
}
