
sql-box #sql-box-main.size-full {
  width: 100%;
}

sql-box #sql-box-main.size-half {
  width: 50%;
  float: left;
}

sql-box table-browser {
  width: 50%;
  float: left;
}

/* This only comes into play when the window is resized to
   a very narrow width. In that case, this tells the
   browser to avoid breaking line between the buttons as long
   as possible. */
div.sql-box-button-group {
  display: inline-block;
}

.section-button {
  cursor: pointer;
  user-select: none;
  padding: 6px;
  font-size: 14px;
}

sql-box > * {
  margin-bottom: 10px; /* Separate subsections. */
}

#sql-box-spinner {
  animation: spinner 4s infinite linear;
  font-size: 30px;
  opacity: 0.8;
  /* For some reason it is positioned higher than the buttons and screws up the layout.
   * This is a simple workaround. */
  line-height: 0;
  top: 10px;
}

#sql-editor {
  min-height: 100px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

#sql-error {
  color: darkred;
}

#sql-success {
  color: green;
}

input.form-control#max-rows {
  width: 65px;
  display: inline-block;
  vertical-align: middle;
}

#sql-result {
  overflow-x: auto; /* Scroll if there are many columns. */
}

#sql-result th {
  cursor: pointer; /* Click to sort. */
  user-select: none;
}

#sql-result .ordering {
  /* Reserves a little space for the ordering triangles, even when the triangle is not displayed. */
  display: inline-block;
  width: 5px;
  height: 5px;
  overflow: visible;
}

.sql-type {
  font-weight: normal;
  font-style: italic;
  color: #666;
}

.no-break {
  white-space: nowrap;
}
