#table-browser {
  margin-left: 0px;
  border: 1px solid #ccc;
  background: white;
}

#table-browser .checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
}

#table-browser-head {
  padding: 3px;
}

#table-browser-tree {
  margin: 0px;
  padding: 0px;
  height: 75vh;
  overflow-x: auto;
  overflow-y: auto;
  padding: 3px;
}

#table-browser-tree li {
  white-space: nowrap;
}

#table-browser-tree ul {
  list-style-type: none;
  overflow-x: visible;
  padding-left: 20px;
}

#table-browser-tree > ul {
  padding-left: 0px;
}

