#table-browser {
  margin-left: 0px;
  border: 1px solid #ccc;
  background: white;
}

#table-browser .checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
}

#table-browser-head {
  padding: 3px;
}

#table-browser-help {
  height: 26px;
}

#table-browser-help span {
  vertical-align: middle;
  line-height: 26px;
}

#table-browser-tree {
  margin: 0px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 3px;
}

#table-browser-tree li {
  white-space: nowrap;
}

#table-browser-tree ul {
  list-style-type: none;
  overflow-x: visible;
  padding-left: 20px;
}

#table-browser-tree > ul {
  padding-left: 0px;
}

#table-browser-tree dir-entry-icon:hover {
  background: lightgrey;
}



