#table-browser {
  height: 80vh;
  overflow-x: auto;
  overflow-y: auto;
  margin-left: 0px;
  border: 1px solid #ccc;
  background: white;
  padding: 3px;
}

#table-browser li {
  white-space: nowrap;
}

#table-browser ul {
  list-style-type: none;
  overflow-x: visible;
  padding-left: 20px;
}

#table-browser > ul {
  padding-left: 0px;
}

#table-browser .checkbox {
  margin-top: 2px;
  margin-bottom: 2px;
}
