.login-info {
  color: gray;
  padding: 3px 20px; /* Matches ".dropdown-menu > li > a" from Bootstrap. */
}

.user-menu-dropup {
  cursor: pointer;
  user-select: none;
}

.user-menu-at-bottom {
  position: fixed;
  bottom: 5px;
  right: 20px;
  z-index: 2; /* The bottom links should not be covered by the spark status indicator. */
}
