.value.human {
  cursor: pointer;
  user-select: none;
  display: inline-block;
}
.value.human:hover {
  text-decoration: underline;
}

/* Shared spinner class. */
.spinner {
  animation: spinner 0.5s infinite linear;
  display: inline-block;
}
@keyframes spinner {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Scalar value spinner. */
.value.spinner {
  margin: 0 10px;
}

.value-error {
  font-weight: bold;
  color: darkred;
  cursor: pointer;
  user-select: none;
}

.value-retry {
  font-weight: bold;
  color: #005b99;
  cursor: pointer;
  user-select: none;
}

.value-error + .tooltip > .tooltip-inner {
  background: darkred;
}
.value-error + .tooltip > .tooltip-arrow {
  border-top-color: darkred;
}
