#wizard {
  min-height: 100vh;
  background: #002a4c;
  padding: 0;
}
#wizard .row {
  margin: 0;
}
#wizard:before {
  content: '';
  position: absolute;
  height: calc(500px + 5vw);
  width: 100%;
  background: linear-gradient(177deg, #39bcf3, #39bcf3 calc(50% - 1px), #002a4c 50%, #002a4c);
}
.wizard-title-bar {
  display: flex;
  position: relative;
  align-items: center;
}
.wizard-title-bar img {
  width: 150px;
  height: 150px;
  margin: 10px;
}
.wizard-title {
  flex: 1;
  margin: 20px;
  margin-top: 0;
  font-size: min(4vw, 70px);
  line-height: 1.25em;
  color: white;
}

.wizard-nav a {
  color: white;
  margin: 10px;
}
.wizard-nav {
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.wizard .entry-header {
  padding: 5px 40px;
}

.entry-list.footer {
  background: transparent;
  box-shadow: none;
  text-align: right;
  color: white;
}
.entry-list.footer a {
  color: #ff8800 !important;
}

.wizard-minimize-button,
.wizard-maximize-button {
  color: black;
  background: transparent;
}
.wizard-maximize-button {
  position: absolute;
  top: 6px;
  right: 10px;
}

.wizard-top-steps {
  display: flex;
  color: #39bcf3;
  justify-content: center;
  align-items: flex-start;
}
.wizard-top-steps .step {
  padding: 10px;
  cursor: default;
}
.wizard-top-steps .step.active {
  background: #39bcf3;
  color: black;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
}
.wizard-max.visualization {
  background: #001b31;
}

.wizard-max {
  background: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wizard-max state-view,
.wizard-max box-editor {
  flex: 1;
}
.wizard-max .description {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background: white;
}
