#workspace-main {
  height: 100vh;
}

#workspace-header {
  height: 50px;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
}

span#workspace-name {
  font-size: 2em;
}

div#workspace-main-layout {
  height: calc(100% - 50px);
}

workspace-drawing-board {
  user-select: none;
  height: 100%;
  width: 60%;
  float: left;
}
div#right-panel {
  float: left;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.operation-selector {
  margin-left: -35px;
  float: left;
}
workspace-drawing-board > svg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
state-view {
  display: block;
  width: 100%;
  height: 50%;
  overflow: auto;
  border-bottom: 1px solid lightgray;
}
box-editor {
  display: block;
  width: 100%;
  height: 50%;
  overflow: auto;
}

rect.box-main, circle.io-circle {
  stroke-width: 1;
  stroke: blue;
  fill-opacity: 0;
}
rect.selected-box {
  stroke-width: 3;
}
g.selected-plug circle {
  stroke-width: 3;
}
line.arrow {
  stroke-width: 1;
  stroke: blue;
}
line.pulled-arrow {
  stroke-dasharray: 2;
  pointer-events: none;
  z-index: -1;
}
