#workspace-entry-point {
  height: 100vh;
  overflow: hidden;
  position: relative; /* Constrain absolute-positioned elements within. */
}

#workspace-header {
  background: #002a4c; /* Brand color. */
  color: white;
  min-height: 60px;
}
#workspace-header .flat-toolbar-title {
  padding: 5px 10px;
}

span#workspace-name {
  font: bold 2.5em 'Exo 2'; /* Brand font. */
}

#workspace-toolbar-buttons {
  display: inherit;
}

#workspace-loading,
#workspace-drawing-board {
  height: 100%;
  width: 100%;
  float: left;
}

#workspace-loading {
  pointer-events: none;
  position: absolute;
  background-color: #002a4c; /* Brand color. */
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#workspace-loading.done {
  background-color: transparent;
}

workspace-drawing-board > display-error > * {
  padding: 20px;
}

#workspace-drawing-board > svg {
  user-select: none;
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

#workspace-drawing-board svg text {
  font: bold 12px sans-serif;
}

state-view {
  display: block;
}
box-editor {
  display: block;
}

box-editor table-browser {
  width: 30%;
  float: right;
  padding-left: 10px;
  max-height: 400px;
}

.operation-params-size-half {
  width: 70%;
  float: left;
}

.box-error {
  color: #9b2016; /* Brand color. */
  margin-top: 8px;
}

/* To accomodate the large transparent region of the default icons, the #click-target circle will
 * receive clicks instead of the icon itself. */
g.box image {
  pointer-events: none;
  transform: scale(1, 1) translate(0, 0);
  transition: 0.2s transform;
}
g.box image.in-progress {
  animation-name: box-in-progress-indication;
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
g.box #click-target {
  stroke: transparent;
  fill: transparent;
}
g.box .pedestal {
  fill: transparent;
}
g.box.selected .pedestal {
  stroke-width: 2;
  stroke: black;
  stroke-opacity: 0.5;
  stroke-dasharray: 5,5;
  fill: #39bcf3; /* Brand color. */
  fill-opacity: 0.1;
  mix-blend-mode: darken; /* Allow arrow to be visible even if it is below. */
}
g.box:hover {
  cursor: pointer;
}
g.box:hover image {
  transform: scale(0.95, 1.05) translate(2.5px, -5px);
}

g.box .summary {
  text-anchor: middle;
}
g.box .backdrop {
  stroke-width: 5;
  stroke: white;
  paint-order: stroke;
  stroke-linejoin: round;
}

g.box #inputs .plug text {
  text-anchor: end;
}
.plug circle {
  stroke-width: 1;
  stroke: black;
  fill: transparent;
  mix-blend-mode: darken; /* Allow arrow to be visible even if it is below. */
}
#inputs .plug text {
  text-anchor: end;
}
.plug text.lonely {
  display: none;
}
g.box:hover .plug text.lonely {
  display: inherit;
}
.plug circle.pulled-plug-hover {
  stroke-width: 5;
}
#outputs .plug:hover circle {
  stroke-width: 3;
  cursor: pointer;
}

rect.selection-box {
  stroke: black;
  fill-opacity: 0;
  stroke-dasharray: 5,5;
}

circle.plug-progress-not-complete {
  fill: #0089c4;  /* Brand color. */
}
circle.plug-progress-complete {
  fill: #69be28;  /* Brand color. */
}
circle.plug-progress-error {
  fill: #d52b1e;  /* Brand color. */
}
circle.plug-progress-missing {
  display: none;
}

@keyframes in-progress-indication {
  0% {
    r: 8;
  }
  50% {
    r: 10;
  }
  100% {
    r: 8;
  }
}

@keyframes box-in-progress-indication {
  0% {
    transform: scale(1, 1) translate(0, 0);
  }
  100% {
    transform: scale(1.1, 0.9) translate(-5px, 10px);
  }
}

circle.plug-progress-in-progress {
  fill: #ffa700;  /* Brand color. */
  animation-name: in-progress-indication;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

path.arrow {
  fill: transparent;
  stroke-width: 2px;
  stroke: black;
  marker-start: url(#arrow-root);
  marker-end: url(#arrow-head);
}
path.pulled-arrow {
  stroke-dasharray: 2;
  pointer-events: none;
  z-index: -1;
}
path.arrow:hover {
  stroke-dasharray: 10;
}

div.popup {
  display: inline-block;  /* This element "shrink-wraps" around .popup-content */
  position: absolute;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
  z-index: 3;
  background: white;
}

div.popup-head {
  width: 100%;
  background: #ff8800; /* Brand color. */
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  cursor: default;
  user-select: none;
  height: 50px;
  padding: 8px;
  padding-left: 16px;
}

.popup-type-box-meta div.popup-content {
  background: #ff8800; /* Brand color. */
}

.popup-type-plug div.popup-head {
  background: #39bcf3; /* Brand color. */
}

div.popup-content {
  resize: both;
  overflow: auto;
  padding-bottom: 10px;  /* Make sure resize handle can be grabbed. */
}

polygon.popup-trail {
  fill: #ff8800; /* Brand color. */
  opacity: 0.5;
  pointer-events: none; /* Let mouse events through so we do not block clicks. */
}
polygon.popup-trail.popup-type-plug {
  fill: #39bcf3; /* Brand color. */
}

.popup #help-toggle {
  text-align: right;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.plot-title {
  font-weight: bold;
  font-size:1.5em;
}

.plot-header {
  padding-top: 10px;
}

state-view display-error > div {
  padding-top: 10px;
}

export-result > div {
  padding-top: 10px;
}
export-result .token {
  margin-bottom: 10px;
}

plot-state-view > div {
  padding-top: 15px;
}

op-editor > :first-child {
  padding-top: 10px;
}

.workspace-comment > :first-child {
  margin-top: 0;
}

.apply-visualization-changes {
  position: absolute;
  bottom: 13px;
  left: 3px;
  border: 0;
  background: white;
}

.comment-box-text {
  pointer-events: none;
}

.comment-box-text a {
  pointer-events: auto;
}
