#workspace-main {
  height: 100vh;
}

#workspace-header {
  height: 50px;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
}

span#workspace-name {
  font-size: 2em;
}

div#workspace-main-layout {
  height: calc(100% - 50px);
}

#workspace-drawing-board {
  user-select: none;
  height: 100%;
  width: 100%;
  float: left;
}
.operation-selector {
  margin-left: -35px;
  float: left;
}
#workspace-drawing-board > svg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
state-view {
  display: block;
}
box-editor {
  display: block;
}

rect.box-main, circle.io-circle {
  stroke-width: 1;
  stroke: blue;
  fill-opacity: 0;
}
rect.selected-box {
  stroke-width: 3;
}
rect.selection-box{
  stroke: black;
  fill-opacity: 0;
  stroke-dasharray: 5,5;
}
g.selected-plug circle {
  stroke-width: 3;
}

circle.io-circle.colored-output {
  fill-opacity: 1;
}

@keyframes in-progress-indication {
  0% {
    fill-opacity: 1;
  }

  50% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}

circle.io-circle.in-progress {
  animation-name: in-progress-indication;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  fill: yellow;
}

line.arrow {
  stroke-width: 1;
  stroke: blue;
}
line.pulled-arrow {
  stroke-dasharray: 2;
  pointer-events: none;
  z-index: -1;
}

div.popup {
  position: fixed;
  width: 400px;
  height: 300px;
}

div.popup-head {
  height: 20px;
  width: 100%;
  background: blue;
  color: white;
  font-weight: bold;
}

div.popup-content {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: white;
}
