html {
  overflow: visible;
}

html, body, body > div.ng-scope, div#workspace-main {
  height: 98%;
}

span#workspace-name {
  font-size: 2em;
}

div#box-view {
  height: 100%;
  left: 0;
  right: 10px;
  bottom: 5px;
}

workspace-drawing-board {
  user-select: none;
  height: 100%;
  width: 60%;
  top: 0px;
  float: left;
}
div#right-panel {
  float: left;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
div#clear {
  float: clear;
}
.operation-selector {
  margin-left: -35px;
  z-index: 2;
  float: left;
}
workspace-drawing-board > svg {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  border: 1px solid black;
}
state-view {
  display: block;
  width: 100%;
  height: 50%;
  overflow: auto;
  border: 1px solid black;
}
box-view {
  display: block;
  width: 100%;
  height: 50%;
  overflow: auto;
  border: 1px solid black;
}

rect.box-main, circle.io-circle {
  stroke-width: 1;
  stroke: blue;
  fill-opacity: 0;
}
rect.selected-box {
  stroke-width: 3;
}
g.selected-plug circle {
  stroke-width: 3;
}
line.arrow {
  stroke-width: 1;
  stroke: blue;
}
line.pulled-arrow {
  stroke-dasharray: 2;
  pointer-events: none;
  z-index: -1;
}
