#workspace-entry-point {
  height: 100vh;
  overflow: hidden;
  position: relative; /* Constrain absolute-positioned elements within. */
}

#workspace-header {
  height: 50px;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
}

span#workspace-name {
  font-size: 2em;
}

#workspace-drawing-board {
  user-select: none;
  height: 100%;
  width: 100%;
  float: left;
}
.operation-selector {
  margin-left: -35px;
  float: left;
  max-height: 100%;
  width: 35px;
  overflow: auto; /* Allow scrolling category list, if necessary. */
}
#workspace-drawing-board > svg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
state-view {
  display: block;
}
box-editor {
  display: block;
}

.box-error {
  color: red;
  margin-top: 8px;
}

g.box rect, g.box circle {
  stroke-width: 1;
  stroke: blue;
  fill-opacity: 0;
}
g.selected.selected rect, g.box.selected circle {
  stroke-width: 3;
}
rect.selection-box {
  stroke: black;
  fill-opacity: 0;
  stroke-dasharray: 5,5;
}
g.selected-plug circle {
  stroke-width: 3;
}

circle.io-circle.colored-output {
  fill-opacity: 1;
}

@keyframes in-progress-indication {
  0% {
    fill-opacity: 1;
  }

  50% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}

circle.io-circle.in-progress {
  animation-name: in-progress-indication;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  fill: yellow;
}

line.arrow {
  stroke-width: 1;
  stroke: blue;
  pointer-events: none; /* Pass events through, so arrows do not block plugs. */
}
line.pulled-arrow {
  stroke-dasharray: 2;
  pointer-events: none;
  z-index: -1;
}

div.popup {
  position: absolute;
  border: 1px solid darkgray;
  z-index: 3;
  resize: both;
  overflow: auto;
  background: white;
}

div.popup-head {
  width: 100%;
  background: lightblue;
  font-weight: bold;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  cursor: default;
}

div.popup-content {
  width: 100%;
}

polygon.popup-trail {
  fill: white;
  opacity: 0.5;
  pointer-events: none; /* Let mouse events through so we do not block clicks. */
}

.popup #help-toggle {
  text-align: right;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}
