{"expiration": "2050-06-16T11:11:11Z",
 "conditions": [
  {"acl": "project-private" },
  {"bucket": "kitelogs-ops"},
  ["starts-with", "$key", ""]
  ]
}
