<div class="token-list">
  <div class="token" id="setting-buckets">
    <span class="title">{{ side.state.bucketCount }}&times;{{ side.state.bucketCount }} buckets</span>
  </div>
  <div class="menu token-menu" id="menu-setting-buckets">
    <lazy-slider value="side.state.bucketCount"></lazy-slider>
  </div>

  <div class="token"
       id="setting-precise"
       ng-class="{ default: !side.state.preciseBucketSizes }">
    <span class="title">
      {{ side.state.preciseBucketSizes ? 'precise' : 'approximate' }} counts</span>
  </div>
  <div class="menu token-menu" id="menu-setting-precise">
    <div class="menu-item default" ng-click="side.state.preciseBucketSizes = false">
      Approximate counts </div>
    <div class="menu-item" ng-click="side.state.preciseBucketSizes = true">
      Precise counts </div>
  </div>

  <div class="token"
       id="setting-relative"
       ng-class="{ default: !side.state.relativeEdgeDensity}">
    <span class="title">
      {{ side.state.relativeEdgeDensity ? 'relative' : 'absolute' }} edge densities</span>
  </div>
  <div class="menu token-menu" id="menu-setting-relative">
    <div class="menu-item default" ng-click="side.state.relativeEdgeDensity = false">
      Absolute edge density </div>
    <div class="menu-item" ng-click="side.state.relativeEdgeDensity = true">
      Relative edge density <help-popup href="relative-edge-density"></help-popup> </div>
  </div>
</div>
