<div class="token"
     ng-class="{ active: active() }"
     id="{{ kind }}-{{ title() | id }}">
  <span class="title"> {{ title() }} </span>
  <img ng-show="entity.metadata.icon"
       class="emoji"
       src="/images/emoji/{{ entity.metadata.icon }}.png">
  <value class="subtoken"
         ng-if="isScalar()"
         id="scalar-value-{{ title() | id }}"
         ref="side.scalars[title()]"></value>
  <span class="subtoken filter"
        ng-show="getFilter()">
    filter: {{ getFilter() }}
  </span>
  <span class="subtoken"
        ng-show="side.state.graphMode === 'bucketed' && axisOptions.logarithmic"> log </span>

  <span ng-repeat="
        visualization in side.filterApplied(availableVisualizationsLowerCase(), title())"
        class="subtoken visualization"
        id="visualized-as-{{ visualization | id }}">
    {{ visualization }} </span>
</div>

<div class="menu token-menu" id="menu-{{ kind }}-{{ title() | id }}">
  <div class="de-emph entity-note" ng-show="entity.note">
    {{ title() }} = <span trusted-html="entity.note"></span>
  </div>

  <i ng-show="entity.computeProgress === 1.0"
     class="de-emph compute-progress glyphicon glyphicon-ok"
     drop-tooltip="Already computed"
     drop-tooltip-position="right middle"></i>
  <i ng-show="entity.computeProgress === 0.5"
     class="de-emph compute-progress glyphicon glyphicon-flash"
     drop-tooltip="Computation started"
     drop-tooltip-position="right middle"></i>

  <div ng-show="isAttribute() || isScalar() && !isModel()"
       class="de-emph"
       drop-tooltip="{{ title() }} is of type {{ entity.typeName }}"
       drop-tooltip-position="left middle">
    {{ entity.typeName }}
  </div>

  <div ng-if="isModel()">
    <model-details scalar-id="entity.id"></model-details>
  </div>

  <div ng-show="isSegmentation() && !active()"
       class="menu-item"
       id="open-segmentation"
       ng-click="side.openSegmentation(entity)">
    <i class="glyphicon glyphicon-play"></i> Open
  </div>
  <div ng-show="isSegmentation() && active()"
       class="menu-item"
       ng-click="side.sides[1].close()">
    <i class="glyphicon glyphicon-stop"></i> Close
  </div>

  <div ng-show="entity.canBucket && !histogram"
       class="menu-item"
       id="show-histogram"
       ng-click="showHistogram()">
    <i class="glyphicon glyphicon-stats"></i> Show histogram
  </div>
  <histogram ng-show="histogram" model="histogram"></histogram>
  <copy-box class="pull-right"
            ng-show="histogram"
            description="Copy&nbsp;histogram to&nbsp;clipboard"
            data="{{ histogramTSV }}">
  </copy-box>
  <label ng-show="histogram" id="precise-histogram-calculation">
    <input type="checkbox" ng-model="precise"></input> precise
  </label>

  <label ng-show="showLogCheckbox()" id="logarithmic">
    <input type="checkbox" ng-model="axisOptions.logarithmic"> logarithmic
  </label>

  <form ng-show="entity.canFilter">
    <input class="form-control"
           placeholder="Filter..."
           ng-model="side.state.filters[attributeKind()][title()]"
           ng-model-options="{ updateOn: 'change blur' }"
           id="filter">
  </form>

  <form ng-show="isSegmentation()">
    <input class="form-control"
           placeholder="Filter..."
           ng-model="side.state.filters.vertex[entity.equivalentAttribute.title]"
           ng-model-options="{ updateOn: 'change blur' }"
           id="filter-segmentation">
  </form>

  <div ng-show="availableVisualizations().length !== 0" class="visualization-menu">
    <div class="de-emph"> Visualize as... </div>
    <div class="menu-item"
         ng-repeat="vis in availableVisualizations()"
         ng-class="{ active: side.filterApplied([vis.toLowerCase()], title()).length }"
         ng-click="side.toggleAttributeTitle(vis.toLowerCase(), title())"
         id="visualize-as-{{ vis | id }}"> {{ vis }} </div>
  </div>

  <input ng-show="side.state.attributeTitles.slider === title()"
         id="slider"
         type="range"
         ng-model="side.state.sliderPos"
         min="-1"
         max="101"
         tooltip="Threshold">

</div>
