<p class="alert alert-danger" ng-if="model.$error">
  Failed to load histogram.
  <i class="pull-right"><a href ng-click="reportError()">report problem</a></i>
</p>
<table ng-if="!model.$error" class="histogram">
  <tr>
    <td ng-repeat="s in model.sizes track by $index" class="bar-container"
      ng-class="{ zoomable: zoomable(s) }"
      drop-tooltip="{{tooltipFor($index)}}"
      ng-click="zoom($index)">
      <i ng-if="zoomable(s)" class="glyphicon glyphicon-eye-open histogram-eye"></i>
      <div class="bar"
        ng-class="{ clipped: clipped(s), highlighted: highlighted === $index, loading: loading }"
        style="height: {{height(s)}};"></div>
    </td>
  </tr>
  <tr>
    <td class="histogram-bottom-bar" colspan="{{ model.sizes.length }}">
      <span ng-show="loading">
        loading... </span>
      <span ng-hide="loading || model.$error" id="histogram-total">
        histogram total: {{ total | decimal }} </span>
    </td>
  </tr>
</table>
