<div style="margin-left: auto; margin-right: auto; text-align: center;">

  <a href ng-if="segmentations.length === 0"
    ng-click="insertOperation()"
    id="dropdown-menu-add-single">
    <i class="glyphicon glyphicon-plus-sign" style="color: green; font-size: 2.0em;">
    </i>
  </a>

  <div class="btn-group history-options" dropdown
    ng-if="segmentations.length > 0">
    <a href class="btn-dropdown dropdown-toggle" dropdown-toggle>
      <i class="glyphicon glyphicon-plus-sign" style="color: green; font-size: 2.0em;">
      </i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href ng-click="insertOperation()" id="dropdown-menu-add">
          Insert operation
        </a>
      </li>
      <li ng-repeat="seg in segmentations">
        <a href ng-click="insertOperation({segmentation: seg})"
          id="dropdown-menu-add-for-{{seg.name}}">
          Insert operation for {{seg.name}}
        </a>
      </li>
    </ul>
  </div>
</div>
