<!-- The project panels. -->
<div ng-repeat="side in sides" ng-include="'views/projectSide.html'"></div>

<!-- Toolboxes are in a separate <div> after the sides, so they appear on top. -->
<div class="operation-toolboxes">
  <div ng-repeat="side in sides" class="col-sm-{{ side.columnWidth() }}">
    <div ng-class="{ rightmost: $last || side.columnWidth() > 6 }"
         ng-if="side.project.$resolved && !side.project.$error && !side.showHistory"
         ng-show="!side.unsaved.workflowEditor.enabled">
      <side-operation-toolbox side="side"></side-operation-toolbox>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<bottom-links info="sides"></bottom-links>

<div class="text-center hidden-print">

  <a target="_blank" href="{{linkedURL()}}" drop-tooltip="Open linked window">
    <span class="glyphicon glyphicon-link"></span>
  </a>

  <a id="show-selector-button"
     href
     drop-tooltip="Open another project"
     ng-hide="sides[1].unsaved.showSelector || sides[1].state.projectName"
     ng-click="sides[1].unsaved.showSelector = true">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
</div>
<brand-box></brand-box>
<div class="clearfix"></div>
