<div class="col-sm-{{ side.columnWidth() }} side" id="side-{{side.direction}}">

  <progressbar ng-if="side.project && !side.project.$resolved" value="100" class="progress-striped active">
  Loading...
  </progressbar>

  <div class="panel panel-danger" ng-if="side.project.$error">
    <div class="panel-heading project-name">
      {{side.state.projectName}}

      <div class="btn-group pull-right">
        <label class="btn btn-default"
               ng-click="side.close()"
               id="close-project"
               tooltip="Close&nbsp;project"
               tooltip-append-to-body="true"
               tooltip-placement="bottom">
          <i class="glyphicon glyphicon-remove"></i>
        </label>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="panel-body">
      Could not load project.
      <i class="pull-right"><a href ng-click="side.reportLoadingError()">report problem</a></i>
    </div>
  </div>

  <div class="project" ng-if="
    side.project.$resolved && !side.project.$error && !side.showHistory && !side.unsaved.workflowEditor.enabled">

    <div class="btn-group pull-right">
      <label class="btn btn-default"
             ng-click="side.close()"
             id="close-project"
             tooltip="Close&nbsp;project"
             tooltip-append-to-body="true"
             tooltip-placement="bottom">
        <i class="glyphicon glyphicon-remove"></i>
      </label>
    </div>

    <div class="btn-group pull-right" ng-if="side.hasFilters()">
      <label class="btn btn-default"
             ng-click="side.clearFilters()"
             tooltip="Discard&nbsp;current&nbsp;filters: {{side.filterSummary()}}"
             tooltip-append-to-body="true"
             tooltip-placement="bottom">
        <i class="glyphicon glyphicon-minus"></i>
      </label>
    </div>

    <div class="project-name">
      <span ng-class="unconnectedSides() ? 'warning' : 'de-emph'">
        <span>
          State
        </span>
        <span ng-repeat="parent in side.parentProjects()">
          {{parent}} &raquo;
        </span>
      </span>
      {{side.shortName()}}
    </div>

    <div class="clearfix"></div>

    <!-- Summary. -->
    <span ng-if="side.scalars['!belongsToEdges'] === undefined">
      <!-- Project summary -->
      <value id="vertex-count"
             class="emph"
             ng-if="side.project.vertexSet !== ''"
             ref="side.scalars['!vertex_count']">
      </value>
      <delta ref="side.scalars['!vertex_count_delta']"
             last-operation="side.project.undoOp"></delta>
      <span class="emph" ng-if="side.project.vertexSet === ''">no</span>
      vertices with
      <value class="emph"
             ng-if="side.project.edgeBundle !== ''"
             ref="side.scalars['!edge_count']"
             id="edge-count">
      </value>
      <delta ref="side.scalars['!edge_count_delta']"
             last-operation="side.project.undoOp"></delta>
      <span class="emph" ng-if="side.project.edgeBundle === ''">no</span>
      edges
    </span>

    <span ng-if="side.scalars['!belongsToEdges'] !== undefined">
      <!-- Segmentation summary -->
      <value class="emph"
             ref="side.scalars['!vertex_count']"
             id="segment-count">
      </value>
      <delta ref="side.scalars['!vertex_count_delta']"
             last-operation="side.project.undoOp"></delta>
      <span ng-if="side.scalars['!nonEmpty'].value.double === side.scalars['!vertex_count'].value.double">
        non-empty segments
      </span>
      <span ng-if="side.scalars['!nonEmpty'].value.double !== side.scalars['!vertex_count'].value.double">
        segments (of which <value id="non-empty-segment-count" class="emph" ref="side.scalars['!nonEmpty']"></value> are non-empty)
      </span>
      with total size of <value id="total-segment-size" class="emph" ref="side.scalars['!belongsToEdges']"></value>
      covering <value id="total-segment-coverage" class="emph" ref="side.scalars['!coverage']"></value> base vertices
      <span ng-if="side.project.edgeBundle !== ''">
        with <value id="segmentation-edge-count" class="emph" ref="side.scalars['!edge_count']"></value>
        <delta ref="side.scalars['!edge_count_delta']"
               last-operation="side.project.undoOp"></delta>
        edges
      </span>
    </span>

    <!-- Project settings. -->
    <div class="acl-settings" ng-if="side.showSettings">
      <acl-settings reload="side.reload()" path="side.state.projectName" entity="side.project"></acl-settings>
    </div>

    <!-- Attributes/segmentations. -->
    <div class="entity-sections">
      <div ng-repeat="section in side.sections">
        <div ng-show="side.sectionElements(section).length !== 0 && side.showSection(section)">
          <div class="token-section-label">
            <span class="label-text" ng-click="side.showSection(section, false)">
              {{ side.sectionHumanName[section] }} </span>
            <help-popup href="{{ side.sectionHelp[section] }}"></help-popup>
          </div>
        </div>
        <div ng-show="side.sectionElements(section).length !== 0 && !side.showSection(section)"
             class="token-section-label">
          <span class="label-text" ng-click="side.showSection(section, true)">
            {{ side.sectionElements(section).length }}
            {{ side.sectionHumanName[section] | lowercase }}
            are hidden. </span>
        </div>
        <div class="token-list" ng-show="side.showSection(section)">
          <entity ng-repeat="e in side.sectionElements(section)"
                  kind="{{ section }}"
                  entity="e"
                  side="side"></entity>
        </div>
      </div>
    </div>
  </div>
</div>
