
<progressbar ng-if="state.workflow.$resolved === false" class="progress-striped active">
    Loading...
</progressbar>
<div ng-if="state.workflow.$resolved !== false" class="panel panel-default project workflow-editor">

  <div class="panel-heading project-name">
    <span class="de-emph" ng-repeat="parent in side.parentProjects()">
      {{parent}} &raquo;
    </span>
    {{side.shortName()}}

    <div class="btn-group pull-right">
      <label class="btn btn-default" ng-click="save()"
        tooltip="Save workflow" tooltip-append-to-body="true" tooltip-placement="bottom"
        id="save-workflow-button">
        <i class="glyphicon glyphicon-floppy-disk"></i>
      </label>
      <label class="btn btn-default" ng-click="close()"
        id="close-workflow-button"
        tooltip="Cancel creating workflow" tooltip-append-to-body="true" tooltip-placement="bottom">
        <i class="glyphicon glyphicon-arrow-left"></i>
      </label>
    </div>
    <help-popup href="saving-a-workflow" class="pull-right"></help-popup>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <label class="control-label">Workflow name</label>
      <input class="form-control" ng-model="state.workflow.name" id="workflow-name"></input>
    </div>
    <div class="form-group">
      <label class="control-label">Description</label>
      <textarea
        class="form-control" placeholder=""
        rows="10" ng-model="state.workflow.description" id="workflow-description"></textarea>
    </div>
    <div class="form-group">
      <label class="control-label">Parameters</label>
      <ul>
        <li ng-repeat="param in getParams()">{{ param }}</li>
        <li ng-hide="getParams().length">
          No parameters yet. Create parameters by adding <tt>params['something']</tt> to the code.
        </li>
      </ul>
    </div>
    <div class="form-group">
      <label class="control-label">Code</label>
      <div
        ui-ace="{
          mode: 'groovy',
          rendererOptions: {fontSize: '14px'},
          advanced: {behavioursEnabled: false},
        }"
        class="form-control" style="height: 300px;"
        ng-model="state.workflow.code" id="workflow-code-editor"></div>
    </div>
  </div>

</div>
