<div ng-show="model.enabled"
     class="context-menu"
     ng-style="{ top: model.y + 'px', left: model.x + 'px' }"
     tabindex="-1"
     ng-blur="model.enabled = false">
  <div class="menu-title" ng-if="model.data.header">{{model.data.header}}</div>
  <div class="menu-item"
       ng-repeat="action in model.data.actions"
       id="menu-{{ action.title | id }}"
       ng-click="executeAction(action)">
    {{action.title}}
  </div>
  <div class="menu-attributes-title"
       ng-if="model.data.attributes"> Visualized attributes</div>
  <div class="menu-attributes-item"
       ng-if="model.data.attributes"
       ng-repeat="(name, value) in model.data.attributes">
       {{name}}: {{ value}}
  </div>
</div>
