<div class="spark-status">
  <div ng-show="normalOperation(status)" class="text-right">
    <span class="glyphicon glyphicon-cog spinner" drop-tooltip-position="left middle"
      drop-tooltip="{{ message(status) }}"></span>
    <span class="glyphicon glyphicon-remove kill" drop-tooltip-position="left middle"
      drop-tooltip="Stop&nbsp;calculation" ng-click="kill()"></span>
  </div>
  <div ng-show="status.error" class="text-right spark-status-error">
    <span class="glyphicon glyphicon-warning-sign" drop-tooltip-position="left middle"
      drop-tooltip="{{ status.error }}"></span>
  </div>
  <div ng-show="status.sparkWorking === false" class="text-right spark-status-error">
    <span class="glyphicon glyphicon-wrench" drop-tooltip-position="left middle"
      drop-tooltip="Spark health check failed. Please contact support."></span>
  </div>
  <div ng-show="status.kiteCoreWorking === false" class="text-right spark-status-error">
    <span class="glyphicon glyphicon-fire" drop-tooltip-position="left middle"
      drop-tooltip="LynxKite health check failed. Please contact support."></span>
  </div>
  <div class="spark-status-stages" drop-tooltip-position="left middle"
    drop-tooltip="{{ stagesTooltip() }}">
    <div class="spark-status-stage" ng-repeat="stage in stages(status) track by stage.id"
      ng-class="{ failed: stage.failed }"
      ng-style="{
        right: $index * 20,
        height: height(stage),
        'background-color': hashToColor(stage.active, stage.hash),
        opacity: $index < 9 ? 1 : 0,
      }">
    </div>
  </div>
</div>
