<div class="top-alerts">
  <div class="top-alert-wrapper" ng-repeat="alert in alerts">
    <div class="top-alert">
      <div class="top-alert-body">
        <i class="fas fa-exclamation-triangle"></i>
        <div class="top-alert-message"> {{alert.message}} </div>
        <div
          id="close-alert-button"
          class="clicky glyphicon glyphicon-remove"
          ng-click="close($index)"></div>
      </div>
      <div class="top-alert-footer">
        <a href ng-click="reportError(alert)">
          <i class="fas fa-envelope"></i> report
        </a>
      </div>
    </div>
  </div>
</div>
