<!-- If the data is present. -->
<span ng-if="ref.value.string !== undefined">
  <span ng-if="humanized(ref.value)" class="value human"
    ng-click="setHuman(false); util.stopEventPropagation($event);">
    {{format(ref.value)}}
  </span>
  <span ng-if="!humanized(ref.value)" class="value"
    ng-bind-html="ref.value.string | trustAsHtml"></span>
</span>
<!-- If the data is not present. -->
<span ng-if="ref.value.string === undefined">
  <inline-loading ref="ref.value" details="details"></inline-loading>
</span>
