<div class="entry-list">
  <div class="entry entry-header" id="new-workspace" ng-click="newWorkspace.expanded = true"
    ng-hide="util.user.wizardOnly || !data.canWrite">
    <span class="icon glyphicon glyphicon-plus"></span>
    <span class="lead" ng-hide="newWorkspace.expanded">New workspace</span>
    <form ng-show="newWorkspace.expanded" class="form-inline" role="form">
      <div class="form-group"><input id="new-workspace-name" placeholder="Workspace name" ng-model="newWorkspace.name" class="form-control"></div>
      <button type="submit" class="btn btn-default" ng-click="createWorkspace()"
        ng-disabled="newWorkspace.sending || !newWorkspace.name">
        {{newWorkspace.sending && '...' || 'Create'}}
      </button>
    </form>
  </div>

  <div class="entry entry-header" id="new-directory" ng-click="newDirectory.expanded = true"
    ng-show="data.canWrite">
    <span class="icon glyphicon glyphicon-plus"></span>
    <span class="lead" ng-hide="newDirectory.expanded">New folder</span>
    <form ng-show="newDirectory.expanded" class="form-inline" role="form">
      <div class="form-group"><input id="new-directory-name" placeholder="Folder name" ng-model="newDirectory.name" class="form-control"></div>
      <span ng-show="util.globals.hasAuth">
        <div class="form-group">that</div>
        <div class="form-group"><select
                                   ng-model="newDirectory.privacy"
                                   class="form-control">
            <option value="private">no one else can see</option>
            <option value="public-read">everyone can see</option>
            <option value="public-write">everyone can modify</option>
        </select></div>
      </span>
      <button type="submit" class="btn btn-default" ng-click="createDirectory()"
        ng-disabled="newDirectory.sending || !newDirectory.name">
        {{newDirectory.sending && '...' || 'Create'}}
      </button>
    </form>
  </div>

  <div class="entry" id="global-sql-box" ng-hide="util.user.wizardOnly">
    <div class="entry-header" ng-click="showSQL = !showSQL">
      <span class="icon glyphicon glyphicon-{{ showSQL ? 'minus' : 'plus' }}"></span>
      <span class="lead">SQL Interface
        <help-popup href="global-sql-box" class="pull-right"></help-popup>
      </span>
    </div>
    <div style="padding: 10px;" ng-if="showSQL">
      <sql-box directory="path"></sql-box>
    </div>
  </div>

  <div id="directory-browser">
  <div id="current-directory" class="path">
    <div class="description">{{ path ? 'Current folder:' : 'Root folder' }}</div>
    <span class="clicky glyphicon glyphicon-home" ng-click="path = ''"
      id="home-directory-icon" ng-show="path" drop-tooltip="Go to root folder"></span>
    <span class="lead" ng-show="path">
      <!-- Make sure there is no whitespace around the slash, so it can still be copied. -->
      <span ng-repeat="dir in pathElements() track by $index"
        ><span ng-click="setDirectory($index)" class="path-element">{{ dir }}</span
          ><span ng-hide="$last" class="slash">/</span></span></span>
    <span class="clicky glyphicon glyphicon-chevron-left" ng-click="popDirectory()"
      id="pop-directory-icon" ng-show="path" drop-tooltip="Go to parent folder"></span>
    <span class="clicky glyphicon glyphicon-cog"
      ng-show="util.globals.hasAuth"
      ng-click="scope.showSettings = !scope.showSettings"
      id="directory-settings-icon"></span>
  </div>

  <!-- Directory settings. -->
  <div class="acl-settings" ng-if="scope.showSettings">
    <acl-settings reload="reload()" path="path" entity="data"></acl-settings>
  </div>

  <uib-progressbar ng-class="{ invisible: !nextData }" style="height: 5px; margin: 0;"
    value="100" class="progress-striped active">
  </uib-progressbar>

  <div class="entry entry-header" style="padding-bottom: 5px;">
    <span class="icon glyphicon glyphicon-search"></span>
    <input class="form-control" id="search-box" placeholder="Search" ng-model="searchQuery">
  </div>

  <display-error caption="Could not load directory listing." request="nextData"></display-error>

  <div ng-repeat="directory in data.directories"
    id="directory-{{ util.baseName(directory) | id }}"
    class="entry entry-header directory-entry"
    href
    ng-click="enterDirectory($event, directory)">
    <dir-entry-icon object-type="'directory'" class="icon"></dir-entry-icon>
    <span class="lead">
      <item-name-and-menu
        object="{ name: directory, objectType: 'directory' }"
        reload="reload()"></item-name-and-menu>
    </span>
  </div>

  <div
    ng-repeat="object in data.objects track by object.name"
    id="{{ object.objectType }}-{{ util.baseName(object.name) | id }}"
    class="entry {{ object.objectType }}-entry"
    ng-class="{
      open: opened[object.name],
      error: object.error,
    }"
    href
    ng-click="objectClick($event, object)">
    <div class="entry-header">
      <dir-entry-icon object-type="object.icon" class="icon"></dir-entry-icon>
      <span class="lead">
        <item-name-and-menu object="object" reload="reload()"></item-name-and-menu>
      </span>
    </div>

    <display-error caption="Error loading entry." error="object.error"></display-error>
    <div ng-if="!object.error">
      <span ng-if="isTable(object)">
        <value ref="vertexCounts[object.name]"></value> rows.
      </span>
      {{object.notes}}
    </div>
    <div class="viewer"
      ng-if="opened[object.name] && !['exportResult', 'error'].includes(object.icon)" 
      style="overflow: auto;">
      <snapshot-viewer
        path="{{object.name}}"
        type="{{object.icon}}"
        ng-click="$event.stopPropagation()">
      </snapshot-viewer>
    </div>
  </div>
  </div>
</div>
