<form class="form-horizontal">
  <div class="form-group">
    <label for="table-name" class="col-sm-4 control-label">
      Save table as
    </label>
    <div class="col-sm-8" id="table-name">
      <input class="form-control"
             ng-disabled="requestInProgress"
             ng-model="tableName">
    </div>
  </div>
  <div class="form-group">
    <label for="datatype" class="col-sm-4 control-label">
      Type of data to import
      <help-popup href="import-formats"></help-popup>
    </label>
    <div class="col-sm-8" id="datatype">
      <select
       class="form-control"
       ng-disabled="requestInProgress"
       ng-model="datatype">
        <option value="csv">CSV files</option>
        <option value="parquet">Parquet files</option>
        <option value="orc">ORC files</option>
        <option value="json">JSON files</option>
        <option value="jdbc">Database table (via JDBC)</option>
        <option value="hive">Hive table</option>
      </select>
    </div>
  </div>
  <div ng-show="datatype === 'csv'">
    <div class="form-group">
      <label for="csv-filename" class="col-sm-4 control-label">
        Name of CSV files to import
        <help-popup href="import-csv-path"></help-popup>
      </label>
      <div class="col-sm-8" id="csv-filename">
        <file-parameter
          editable="!requestInProgress"
          model="csv.filename"
          file-uploads="csv.fileUploadCount">
        </file-parameter>
      </div>
    </div>
    <div class="form-group">
      <label for="csv-column-names" class="col-sm-4 control-label">
        CSV columns
        <help-popup href="import-csv-columns"></help-popup>
      </label>
      <div class="col-sm-8" id="csv-column-names">
        <input class="form-control"
               ng-model="csv.columnNames"
               ng-disabled="requestInProgress"
               placeholder="Comma separated. Leave empty to read from first line." >
      </div>
    </div>
    <div class="form-group">
      <label for="csv-delimiter" class="col-sm-4 control-label">
        Delimiter
        <help-popup href="import-csv-delimiter"></help-popup>
      </label>
      <div class="col-sm-8" id="csv-delimiter">
        <input class="form-control"
               ng-disabled="requestInProgress"
               ng-model="csv.delimiter">
      </div>
    </div>
    <div class="form-group">
      <label for="csv-import-mode" class="col-sm-4 control-label">
        Format error handling
        <help-popup href="import-csv-mode"></help-popup>
      </label>
      <div class="col-sm-8" id="csv-import-mode">
        <select
          class="form-control"
          ng-disabled="requestInProgress"
          ng-model="csv.mode">
          <option value="FAILFAST">Fail on any malformed line</option>
          <option value="DROPMALFORMED">Ignore malformed lines</option>
          <option value="PERMISSIVE">Salvage malformed lines: truncate or fill with nulls</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="csv-import-infer" class="col-sm-4 control-label">
        Infer types
        <help-popup href="import-csv-infer"></help-popup>
      </label>
      <div class="col-sm-8 checkbox" id="csv-import-infer">
        <label>
          <input
            type="checkbox"
            ng-disabled="requestInProgress"
            ng-model="csv.infer">
        </label>
      </div>
    </div>
  </div>

  <div ng-repeat="format in 'parquet orc json'.split(' ')">
    <div class="form-group" ng-show="datatype === format">
      <label for="{{ format }}-filename" class="col-sm-4 control-label">
        Name of {{ format }} files to import
        <help-popup href="import-{{ format }}-path"></help-popup>
      </label>
      <div class="col-sm-8" id="{{ format }}-filename">
        <file-parameter
          editable="!requestInProgress"
          model="files.filename"
          file-uploads="files.fileUploadCount">
        </file-parameter>
      </div>
    </div>
  </div>

  <div ng-show="datatype === 'jdbc'">
    <div class="form-group">
      <label for="jdbc-url" class="col-sm-4 control-label">
        JDBC URL
        <help-popup href="import-jdbc-url"></help-popup>
      </label>
      <div class="col-sm-8" id="jdbc-url">
        <input class="form-control"
               ng-disabled="requestInProgress"
               ng-model="jdbc.url">
      </div>
    </div>
    <div class="form-group">
      <label for="jdbc-table" class="col-sm-4 control-label">
        Table name
        <help-popup href="import-jdbc-table"></help-popup>
      </label>
      <div class="col-sm-8" id="jdbc-table">
        <input class="form-control"
               ng-disabled="requestInProgress"
               ng-model="jdbc.table">
      </div>
    </div>
    <div class="form-group">
      <label for="jdbc-key-column" class="col-sm-4 control-label">
        Column used for data partitioning
        <help-popup href="import-jdbc-key-column"></help-popup>
      </label>
      <div class="col-sm-8" id="jdbc-key-column">
        <input class="form-control"
               ng-disabled="requestInProgress"
               ng-model="jdbc.keyColumn"
               placeholder="Enter the name of a column of an integer type">
      </div>
    </div>
  </div>

  <div ng-show="datatype === 'hive'">
    <div class="form-group">
      <label for="hive-table-name" class="col-sm-4 control-label">
        Hive table
        <help-popup href="import-hive-table-name"></help-popup>
      </label>
      <div class="col-sm-8" id="hive-table-name">
        <input class="form-control"
               ng-model="hive.tableName"
               ng-disabled="requestInProgress">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="columns-to-import" class="col-sm-4 control-label">
      Columns to import
    </label>
    <div class="col-sm-8" id="columns-to-import">
      <input class="form-control"
             ng-model="columnsToImport"
             ng-disabled="requestInProgress"
             placeholder="Comma separated, leave empty to import all columns" >
    </div>
  </div>

  <div class="form-group">
    <label for="as-view" class="col-sm-4 control-label">
      Import as view
      <help-popup href="views"></help-popup>
    </label>
    <div class="col-sm-8 checkbox" id="as-view">
      <label>
        <input
             type="checkbox"
             ng-model="asView"
             ng-disabled="requestInProgress">
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="limit" class="col-sm-4 control-label">
      Limit
      <help-popup href="limit"></help-popup>
    </label>
    <div class="col-sm-8" id="limit">
      <input
           class="form-control"
           placeholder="Leave empty to import all rows"
           ng-model="limit"
           ng-disabled="requestInProgress">
    </div>
  </div>

  <div class="form-group" ng-show="requestInProgress">
    <div class="col-sm-offset-4 col-sm-8">
      <span id="import-spinner" class="glyphicon glyphicon-cog"></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button
        id="import-csv-button"
        ng-show="datatype === 'csv'"
        ng-disabled="!csv.filename || requestInProgress || !tableName"
        ng-click="importCSV()"
        class="btn btn-default">
        Import CSV files
      </button>
      <button
        id="import-parquet-button"
        ng-show="datatype === 'parquet'"
        ng-disabled="!files.filename || requestInProgress || !tableName"
        ng-click="importParquet()"
        class="btn btn-default">
        Import Parquet files
      </button>
      <button
        id="import-orc-button"
        ng-show="datatype === 'orc'"
        ng-disabled="!files.filename || requestInProgress || !tableName"
        ng-click="importORC()"
        class="btn btn-default">
        Import ORC files
      </button>
      <button
        id="import-json-button"
        ng-show="datatype === 'json'"
        ng-disabled="!files.filename || requestInProgress || !tableName"
        ng-click="importJson()"
        class="btn btn-default">
        Import JSON files
      </button>
      <button
        id="import-jdbc-button"
        ng-show="datatype === 'jdbc'"
        ng-disabled="!jdbc.url || !jdbc.table || requestInProgress || !tableName"
        ng-click="importJdbc()"
        class="btn btn-default">
        Import JDBC table
      </button>
      <button
        id="import-hive-button"
        ng-show="datatype === 'hive'"
        ng-disabled="!hive.tableName || requestInProgress || !tableName"
        ng-click="importHive()"
        class="btn btn-default">
        Import Hive table
      </button>
      <button ng-click="cancel($event)" class="btn btn-default">Cancel</button>
    </div>
  </div>
</form>
