<span ng-hide="renaming">
  {{ shortName }}
</span>

<form ng-submit="applyRenaming()" style="display: inline;" ng-show="renaming" ng-click="util.captureClick($event)">
  <input id="renameBox" class="form-control" style="display: inline; width: 200px;" ng-model="newName">
</form>

<div class="btn-group pull-right" ng-click="util.captureClick($event)" dropdown>
  <a href class="btn-dropdown dropdown-toggle" dropdown-toggle><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li ng-show="menu.rename">
      <a href id="menu-rename" ng-click="toggleRenaming()">
        <i class="glyphicon glyphicon-pencil"></i>
        {{ menu.renameMenuItemLabel || 'Rename...' }}
      </a>
    </li>
    <li ng-show="menu.discard">
      <a href id="menu-discard" ng-click="discard()">
        <i class="glyphicon glyphicon-trash"></i> Discard
      </a>
    </li>
    <li ng-show="menu.duplicate">
      <a href id="menu-duplicate" ng-click="duplicate()">
        <i class="glyphicon glyphicon-floppy-disk"></i> Duplicate
      </a>
    </li>
  </ul>
</div>
